<template>
    <div class="project-card" :class="context=='new-project' ? 'mt-0':''">
        <img src="~@/assets/project-picture-placeholder.png" width="227" height="130" class="project-thumb" alt="" />

        <div class="project-info">
            <div class="project-details">
                <span class="org-label" v-if="organisationList.length <= 1">{{ org_name | formatOrgName }}</span>
                <!-- <select v-model="organisationId" @change="updateNewProjectOrganisation" v-else> -->
                <select v-model="projectOrganisationId" v-else>
                    <option v-for="org in organisationList" :key="org.org_id" :value="org.org_id" >{{org.org_name | formatOrgName}}</option>
                </select>
                <span class="project-title" v-if="!edition">{{ project_name }}</span>
                <input type="text"
                placeholder="Name des Jobs"
                v-model.trim="projectName"
                class="h4-input" />

                <div class="project-desc">
                    <textarea v-model="projectDescription"></textarea>
                </div>
            </div>
            <div class="project-stats">
                <div class="project-stats-item" v-if="context=='project-list' || context=='template-list'">
                <img src="~@/assets/icon-roles.svg" width="20" height="20" class="project-stats-item-icon" alt="" />
                {{role_count}} Rolle<span v-if="role_count>1">n</span>
                </div>
            </div>
            <div class="project-links">
                <router-link 
                :to="{ name: 'project-new-from-template' }" 
                class="details-button" v-if="context=='template-details'">
                Als Referenzprojekt verwenden
                </router-link>
                <div id="new-project-buttons" v-if="context=='new-project'">
                    <div class="details-button" @click="resetProject">Zurücksetzen</div>
                    <div class="details-button inactive" v-if="!isReadyToBeSaved">Job erstellen</div>
                    <div class="details-button primary" v-if="isReadyToBeSaved" @click="createCopyProject">Job erstellen</div>
                    <img src="~@/assets/icon-loading-swirl.svg" class="icon-loading" alt="" v-if="loading==true"/>
                </div>
            </div>
        </div>

        <div class="project-card-separator"></div>

        <router-link 
            :to="{ name: 'project-dashboard', params: { projectId: project_id } }" 
            class="details-button" v-if="project_id != 0 && (context != 'template-details' && context != 'new-project')">
            <span>Details</span>
        </router-link>

        <router-link 
            :to="{ /*name: 'template-details'*/ name: 'project-new-from-template', params: { projectId: project_id } }" 
            class="details-button primary" v-if="project_id != 0 && (context=='template-list' || context=='reference-list')">
            <span>Wählen</span>
        </router-link>
  </div>
</template>

<style scoped lang="less">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

.edit-link {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #3D9DFF;
  font-size: 14px;
}
.h4-input {
    font-size: 14px;
    color: @default-text-color;
    .bold-text();
    margin: 4px 0px 12px;
}

.project-card {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 25px 30px;
  margin-top: 16px;
  .normal-shadow();

    &.mt-0 {
        margin-top: 0px;
    }
}

.project-thumb {
  margin-right: 30px;
  background-color: #F5F7FA;
  min-width: 227px;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-right: 16px;
  min-width: 0;
}

.project-desc {
    position: relative;
    font-size: 12px;
    color: @dark-grey;
    height: 100%;
    line-height: 30px;
    margin-bottom: 16px;
}

.project-details {
  display: flex;
  flex-direction: column;
  position: relative;
}

.project-stats {
  display: flex;
  font-size: 12px;
}

.project-stats-item {
  margin-right: 12px;
  padding-right: 7px;
  border-right: 1px solid #F5F7FA;
    
    &:last-of-type {
        border-right: 0px;
    }

    &:first-of-type {
        .project-stats-item-icon {
            margin-left: 0px;
        }
    }

    .project-stats-item-icon {
        width: 20px;
        height: 20px;
        margin-right: 2px;
        margin-left: 10px;
        vertical-align: bottom;
    }
}

.org-label {
  color: #93979B;
}

.project-title {
  line-height: 34px;
  font-size: 22px;
  color: @default-text-color;
}

.project-startdate {
  color: #93979B;
}

.project-card-separator {
  margin-left: auto;
  margin-right: 32px;
  display: block;
  width: 1px;
  height: 130px;
  background-color: #F5F7FA;
  align-self: flex-end;
}

.project-catalog-stats {
  /*margin-left: auto;*/
  margin-right: 142px;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 10%;

  h3 {
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    margin-top: 0px;
  }

  p {
    color: #9EA1A6;
    font-size: 14px;
    line-height: 19px;
  }
}

.project-links {
  display: flex;

  *:first-of-type {
      margin-right: 4px;
  }

  *:last-of-type {
      margin-left: 4px;
  }
}

.details-button {
    &.inactive {
        background-color: @medium-grey-background-color;
        cursor: default;

        &:hover {
            box-shadow: 0px 0px 0px rgba(255,255,255,0);
        }
    }

    &:not(:last-of-type) {
        margin-right: 12px;
    }
}

#new-project-buttons {
    .flex-row();
    .justify-between();
    width: 100%;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import moment from 'moment';
import { Project } from '@/types/Project';
import { ProjectsApi } from '@/services/projects.api';
import { Organisation } from '@/types/Organisation';
import { OrganisationApi } from '@/services/organisation.api';
import { Debounce } from 'vue-debounce-decorator';
import UiEllipsisText from '@/components/general/UiEllipsisText.vue';

const REF_PRO_ID = 1;


@Component<UiNewProjectForm>({
  props: {
    /**
     * @property {Project} project - Project to be displayed
     */
    project: {
      type: Object as () => Project,
      required: false
    },
    canvasProject: {
      type: Object as () => Project,
      required: false
    },
    /**
     * @vue-prop {String} context - To determine if the card is shown in a project list, as a summary for the template details page or for the constitution of a new project.
     * @property {String} context - To determine if the card is shown in a project list, as a summary for the template details page or for the constitution of a new project.
     * @values project-list, template-list, template-details, new-project
     */
    context: {
      type: String,
      default: "project-list"
    }
  },
  watch: {
    project: function (val) {
        //this.$data.projectDescription = val.pro_desc;
        this.$data.organisationId = val.pro_org_id;
        //this.$data.organisationName = val.pro_org_name;
        this.$data.referenceProjectId = val.pro_id;
        //this.$store.dispatch('setNewProjectOrganisation', { pro_org_id: this.$props.project.pro_org_id, pro_org_name: this.$props.project.pro_org_name, pro_pro_id: this.$props.project.pro_id });
        //this.$store.dispatch('setupNewProjectReference', this.$props.project.pro_id);
        //temporary measure: hardcode reference project to be REF_PRO_ID (103 formerly), which is currently the only project with a data catalog
        this.$store.dispatch('setupNewProjectReference', REF_PRO_ID);
    }
  },
  components: {
      UiEllipsisText
  }
})
/** 
 * Card component to display basic information about a Project
 * Usually used in the context of a list but is also as the header of the Project creation screen to input the Project name.
 */
export default class UiNewProjectForm extends Vue {
    loading : boolean = false;
    edition: Boolean = false;
    referenceProjectId : number = REF_PRO_ID;
    currentProject: Project = this.$store.getters.newProject;
    //projectName : string = this.currentProject.pro_name;
    //projectDescription : string = '';
    refProjectElemCount : number = -1;
    refProjectPtyCount : number = -1;
    organisationId : number = -1;
    //organisationName : string = '';
    organisationList : Organisation[] = new Array<Organisation>();

    created() {
        this.fetchReferenceProjectStats();

        if(this.$props.context == "new-project") {
            this.edition = true;
            //this.organisationName = this.$store.getters.orgName;
            this.fetchPossibleOrganisations();
        }
    }

    mounted() {
        if(this.$props.context == "new-project") {
          this.resetProject();
        }
    }

    /**
     * Computed property to get the start date of a Project, properly formatted.
     */
    get project_date(): string {
        //console.log('project_date');
        if(this.$props.context != "new-project" && this.$props.project.pro_create_date != undefined)
            return moment(this.$props.project.pro_create_date).format("DD.MM.YYYY")
        else
            return moment(Date.now()).format("DD.MM.YYYY");
    }

    /**
     * Computed property to get the identifier of the Project
     */
    get project_id(): string {
        if(this.$props.context != "new-project" && this.$props.project.pro_id!== undefined && this.$props.project.pro_id!=='') {
            return this.$props.project.pro_id.toString();
        }
        else return "-1";
    }

    get projectId() : number {
        return parseInt(this.$route.params.projectId) || REF_PRO_ID;
    }

    /**
     * Computed property to get the name of the Project
     */
    get projectName(): string {
        return this.$store.getters.canvasProjectName;
    }

    set projectName(name : string) {
        this.$store.dispatch("setCanvasProjectName", name);
    }

    get projectDescription() : string {
        return this.$store.getters.canvasProjectDescription;
    }

    set projectDescription(desc : string) {
        this.$store.dispatch("setCanvasProjectDescription", desc);
    }

    get projectOrganisationId() : number {
        return this.$store.getters.canvasProjectOrganisationId;
    }

    set projectOrganisationId(orgId : number) {
        this.$store.dispatch("setCanvasProjectOrganisationId", orgId);
    }
    /**
     * Computed property to get the identifier of the Organisation linked to the Project
     */
    get org_id(): number {
        //console.log('org_id');
        if(this.$props.context != "new-project" && this.$props.project.pro_org_id!== '') {
            return this.$props.project.pro_org_id;
        }
        else if (this.$props.context == "new-project") {
            return this.currentProject.pro_org_id || -1;
        }
        else return -1;
    }

    /**
     * Computed property to get the name of the Organisation linked to the Project
     */
    get org_name(): string {
        //console.log('org_name');
        return this.$store.getters.orgName;
        /* if(this.$props.context != "new-project" && this.$props.project.pro_name!== '') {
            return this.$props.project.pro_org_name;
        }
        else if (this.$props.context == "new-project") {
            return this.$store.getters.orgName;
        }
        else return '-missing-'; */
    }

    /**
     * Computed property to get the number of Roles used/assigned for this Project
     */
    get role_count(): string {
        //console.log('role_count');
        if(this.$props.context != "new-project" && this.$props.project.pro_rop_count!== '') {
        return this.$props.project.pro_rop_count;
        }
        else if(this.$props.context == "new-project") {
        return "0";
        }
        else return '-missing-';
    }

    /**
     * Computed property to define if the Details button of the card should route to
     * a template details page or a Project details page
     */
    get details_destination(): string {
        //console.log("Details destination", this.$props.context);
        switch(this.$props.context) {
        case 'template-list':
            return 'template-details';
        default:
        case 'project-list':
            return 'project-dashboard';
        }
    }

    get project_picture() {
        return require('@/assets/project-picture-placeholder.png');
    }

    /**
     * Computed property to return a flag to verify and confirm if a Project being created is
     * valid and ready to be sent to the API for storage.
     */
    get isReadyToBeSaved() : Boolean {
        return this.$props.context == "new-project"
        && this.$store.getters.canvasProject.pro_name != '' 
        && this.$store.getters.canvasProject.pro_org_id != undefined
        //&& this.$props.canvasProject.pro_pro_id > 0;
    }

    /**
     * Toggles flag for edition mode
     */
    enableEdition() {
        this.edition = true;
    }

    /**
     * Dispatch action to set the name of the Project being created
     */
    @Debounce(300)
    updateProjectName() {
        this.$store.dispatch('setProjectName', this.projectName);
    }

    fetchReferenceProjectStats() {
        
    }

    fetchPossibleOrganisations() {
        const api = new OrganisationApi();
        api.fetchMultipleOrganisation(this.$store.getters.orgPL)
        .then(response => {
            this.organisationList = response;
            if(this.organisationList.length > 0) {
                this.projectOrganisationId = this.organisationList[0].org_id;
                this.$store.dispatch('setCanvasProjectOrganisationId', this.organisationList[0].org_id);
            }
        });
    }

    /* updateNewProjectOrganisation() {
        const org = this.organisationList.find((org:Organisation) => org.org_id == this.organisationId);
        //console.log("updateNewProjectOrganisation", this.organisationId, this.organisationList, org);
        if(org != undefined) {
            this.organisationName = org.org_name;
            this.$store.dispatch('setCanvasProjectOrganisationId', { pro_org_id: this.organisationId, pro_org_name: this.organisationName });
        }
    } */

    resetProject() {
        this.loading = false;
        this.$store.dispatch('setProjectName','');
        this.$store.dispatch('resetCanvasProject');

        this.$emit("resetProject");

        this.referenceProjectId = REF_PRO_ID;
        this.currentProject = this.$store.getters.newProject;
        this.projectName = this.currentProject.pro_name;
        this.organisationId = -1;
        this.fetchPossibleOrganisations();
    }

    createCopyProject() {
        this.loading = true;
        //checks if values exist for the name of the project, the organisation id and name
        if(this.$store.getters.canvasProject.pro_name != '' 
        && this.$store.getters.canvasProject.pro_org_id != -1
        ) {
            //create a deep copy of the Project
            let projectToBeCreated = JSON.parse(JSON.stringify(this.$props.canvasProject));

            projectToBeCreated.pro_name = this.$store.getters.canvasProject.pro_name;
            projectToBeCreated.pro_desc = this.$store.getters.canvasProject.pro_desc;
            projectToBeCreated.pro_org_id = this.$store.getters.canvasProject.pro_org_id;

            const api = new ProjectsApi();
            console.log("Project to be created: ", projectToBeCreated);

            //api.copyProject(projectToBeCreated, this.projectId).then((res) => {
            api.createProject(projectToBeCreated).then((res) => {
                //console.log("Response received after project creation",res);
                this.loading = false;
                this.$router
                .push({ name: 'project-dashboard', params: { projectId : res.pro_id.toString() } })
                .catch(err => {
                    this.$log.error('[Navigation Error] :' + err);
                });
            });
        }
    }

};
</script>
