<template>
    <div 
    class="role interactive"
    :class="{'selected' : isSelected(projectRole.rop_id)}">
        <div class="role-icon" :class="roleClass" />
        <span>{{ projectRole.rop_name }}</span>
        <span class="role-code-name"><em>{{ projectRole.rop_role_code_name }}</em></span>
    </div>
</template>

<style lang="less" scoped>

  .role {
    display: flex;
    position: relative;
    height: 48px;
    background-color: @default-panel-background-color;
    padding: 16px 25px;
    flex-direction: row;
    align-items: center;

    &:hover, &.selected {
      border: 1px solid @highlight-border-color;
      padding: 15px 24px;
    }

    .role-icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      padding: 8px;
      margin-right: 8px;
      vertical-align: middle;
      border-radius: 100%;
      background-image: url('~@/assets/icon-roles.svg');
      //background-size: 60%;
      background-position: center center;
      background-repeat: no-repeat;

      each(range(8), {
          &.role-background-@{value}
          {
              @role-bg-color: "role-bg-color-@{value}";
              background-color: @@role-bg-color;
          }
      })

      // many like this one
      // &.spe {
      //   background-image: url('~@/assets/icon-role-typcal_role_name.svg');
      // }
    }

    .role-code-name {
        position: absolute;
        top: 2px;
        right: 8px;
        font-size: 10px;
        float: right;
        color: @dark-grey;
    }
  }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { ProjectRole} from '@/types/ProjectRole';
//import { ProjectsApi } from '@/services/projects.api';

@Component({
  props: {
    /**
     * @vue-prop {ProjectRole} projectRole - Role for the project displayed by the card
     * @property {ProjectRole} projectRole - Role for the project displayed by the card
     */
    projectRole: {
      type: Object as () => ProjectRole,
      required: true
    },
    selected: {
        type: Boolean,
        default: false
    }
  }
})

/**
 * Project details sub-page to display Roles related to the selected Project
 */
export default class UiProjectRoleCard extends Vue {
  currentRoles : Array<ProjectRole> = new Array<ProjectRole>();

  get roleClass() {
    return 'role-background-'+1+' '+this.$props.projectRole. rop_role_code_code;
  }

  isSelected(role_id : number) {
    //if(this.$route.params.roleId != undefined && this.$route.params.roleId == role_id.toString() || this.$props.selected) {
    if(this.$props.selected) {
      return true;
    }
    else return false;
  }
};
</script>