<template>
    <div class="project-summary-card" @mouseenter="hover=true" @mouseleave="hover=false">
        <div class="card-header">
            <h4 v-if="!editProjectName" @click="enableEditProjectName"><strong>{{ projectName }}</strong></h4>
            <input ref="inputProjectName" type="text" v-model.trim="projectName" v-else 
            class="inline h4-input" :class="projectNameUpdated ? 'updated':''" @keydown="editProjectDebounced" @blur="editProjectName=false"/>
        </div>
        <div class="card-details">
            <div class="project-image">
                <img src="~@/assets/project-picture-placeholder.png" class="project-summary-thumb" alt="" />
            </div>
            <div class="project-desc">
                <div class="project-attribute date-attribute"><span class="attribute-key">Erstellungsdatum</span><span class="attribute-value">{{ project_date }}</span></div>
                <div class="project-attribute org-attribute"><span class="attribute-key">Organisation</span><span class="attribute-value">Alle</span></div>
                <div v-if="!editProjectDesc" @click="enableEditProjectDesc" :class="isDescEmpty ? 'em':''" class="desc-text">
                    {{ projectDescription }}
                </div>
                <textarea ref="inputProjectDesc" class="inline" :class="projectDescUpdated ? 'updated':''" v-model.trim="projectDescription" v-else 
                @keydown="editProjectDebounced" @blur="editProjectDesc=false" placeholder="Projekt Beschreibung"></textarea>
                <span class="char-counter" v-if="editProjectDesc">{{ projectDescCharCounter }}</span>
            </div>

        </div>

        <div class="card-block-list-header">
            <div class="block-header-type">Typ</div>
            <div class="block-header-header">Name</div>
            <div class="block-header-state">Zustand</div>
            <div class="block-header-message">Meldungen</div>
            <div class="block-header-operations">Aktionen</div>
        </div>

        <div class="card-block-list">
            <!-- List of Blocks within a Project -->
            <UiBlockCard 
            v-for="block in project.pro_blk_nested" 
            :key="block.blk_id + block.blk_state_message" 
            :block="block"
            context="project-creation" 
            @removeBlock="reloadProjectFull()"
            @onWholeProjectChanged="reloadProjectFull()"
                />
        </div>
        
        <div class="card-block-operations">
            <div class="block-op-group point-group">
                <div class="block-add-op add-op-button interactive" @click="appendPointBlock">Voxel</div>
                <!--
                <div class="block-add-op add-op-button interactive" @click="appendPointDataBlock" >Voxel Geometrien</div>
                -->
            </div>
            <div class="block-op-group line-group">
                <div class="block-add-op add-op-button interactive" @click="appendLineBlock">Bohrprofil</div>
            </div>
            <div class="block-op-group area-group">
                <div class="block-add-op add-op-button interactive" @click="appendAreaBlock">Grenzflächen und Umhüllende</div>
                <!--
                <div class="block-add-op add-op-button interactive" @click="appendAreaDataBlock">Grenzflächen und Umhüllende Geometrien</div>
                -->
            </div>
            <!--
            <div class="block-op-group document-group">
                <div class="block-add-op add-op-button interactive" @click="displayBlockHeaderModal">Titel</div>
            </div>
            -->
        </div>

        <div class="card-ifc-operations">
            <div v-if="has_createIfc" class="details-button interactive" :class="highlightStartCreateIfc?'primary':''" @click="startCreateIfc">IFC erzeugen</div>
            <div v-if="has_download" class="details-button interactive primary" @click="startDownloadOutput">IFC herunterladen</div>
            <div v-if="has_download" class="details-button interactive primary" @click="startDownloadLog">Log herunterladen</div>
        </div>
        
        <div class="top-right-corner" v-if="hover==true && !editProjectDesc && !editProjectName">
            <UiAccessControl role="usr_pro_admin" :proId="project.pro_id">
                <!--
                <UiExpandingButton id="pproject-delete-button" class="warning-button interactive" 
                @click="showConfirmation">
                    Projekt löschen
                </UiExpandingButton>
                -->
                <span v-tooltip="{ delay: {show:200, hide:100}, content: 'Projekt löschen', placement: 'right'}" @click.stop="showConfirmation">
                    <img src="~@/assets/icon-bin.svg" class="app-icon interactive" alt="delete"/>
                </span>
                <img src="~@/assets/icon-loading.svg" class="icon-loading" alt="" v-if="loading==true"/>
            </UiAccessControl>
        </div>
            
        <UiConfirmationModal :display="displayConfirmation" @accept="deleteProject" @hide="resetDisplayConfirmation">
            <template v-slot:header>Sind Sie sicher?</template>
            <template v-slot:body>
                <!--Dadurch wird das gesamte Projekt zusammen mit seinem gesamten Inhalt 
                (Phasen, Meilensteine, Prozesse, Aktivitäten, Projektrollen, Datenanforderungen) gelöscht.-->
                Sobald ein Projekt gelöscht wurde, kann es nicht mehr wiederhergestellt werden.
            </template>
        </UiConfirmationModal>

        <UiBlockNewHeaderModal :blockType="BKT_HDR" :nextSeq="nextBlockSeq" :show="showBlockHeaderModal" :project="currentProject" @addBlock="addBlock" />

        <!-- UiModal .. @close="onCloseTransformingModal" -->
        <UiModal v-if="displayTransformingModal" :noClose=true :body=false :footer=false :loading=true height="60px" width="250px">
            <template v-slot:header>
                <h2>IFC wird erzeugt ...</h2>
            </template>
        </UiModal>


    </div>
</template>

<style scoped lang="less">
    .h4-input {
        font-size: 14px;
        color: @default-text-color;
        .bold-text();
        margin-top: 0px;
        margin-bottom: 12px;
    }

    input[type=text] {
        line-height: 20px;
    }

    select {
        margin-left: 8px;
    }

    .edit-link {
        color: #3D9DFF;
    }

    .project-summary-card {
        display: flex;
        position: relative;
        flex-direction: column;
        align-content: stretch;

        width: 90%;
        /*height: 400px;*/
        padding: 30px;
        background-color: #FFF;
        font-size: 14px;
        line-height: 18px;

        img.project-summary-thumb {
            height: 90px;
            /*margin-bottom: 12px;*/
        }

        h4 {
            margin-top: 0px;
            font-size: 14px;
        }

        .project-desc {
            /*
            display: flex;
            position: relative;
            */
            font-size: 12px;
            /*color: @dark-grey;*/
            height: 100%;
            margin-bottom: 12px;

            .char-counter {
                position: absolute;
                bottom: 0px;
                right: 0px;
            }
        }

        .project-desc > .desc-text {
            margin-top: 20px;
        }

        .project-desc > textarea {
            margin-top: 20px;
            width: 100%;
        }

        .card-header {
            display: flex;
            justify-content: space-between;
        }

        .attribute-key {
            .bold-text();
        }
        .attribute-key::after {
            content: ": "
        }

        .attribute-value {

        }

        .card-details {
            display: flex;
        }

        .project-image {
            margin-right: 40px;
        }

        .org-attribute {
            display: none;
        }

        .card-ifc-operations {
            display: flex;
        }

        .card-ifc-operations > div {
            margin-right: 40px;
        }

        /*
        .card-details {
            display: flex;
            flex: 1;
            justify-content: space-between;
            line-height: 20px;


            .details-values {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: right;
            }

            .details-values > div {
                flex: 0;
            }
        }
        */

        .card-block-list {
            /*display: flex;*/
            flex: 1;
            justify-content: space-between;
        }

        .card-block-operations {
            display: flex;
            flex-direction: row;
            flex: 1;
            /*justify-content: space-between;*/
            margin-top: 40px;
            margin-bottom: 40px;
            border-bottom: 1px solid black;
        }

        .block-op-group {
            margin-right: 30px;
        }

        .block-add-op {
            margin-bottom: 10px;
        }
    }

    .top-right-corner {
        display: none; /* TODO enable to see the delete on hover */
        position: absolute;
        top: 26px;
        right: 16px;

        .app-icon {
            margin-right: 0px;
        }
    }

    .card-block-list-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        margin-top: 40px;
    }

    .block-header-type {
        visibility: hidden;
        min-width: 34px;
        max-width: 34px;
        margin-left: 16px;
        margin-right: 16px;
        padding: 8px;
        font-size: 24px;
    }

    .block-header-header {
        width: 250px;
    }

    .block-header-state {
        width: 100px;
        text-align: center;
    }

    .block-header-message {
        visibility: hidden;
        flex-grow: 2;
    }

    .block-header-operations {
        margin-left: 30px;
        visibility: hidden;
    }

</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Project } from '@/types/Project' // Project type
import { Block } from '@/types/Block' // Block type
import { ProjectsApi } from '@/services/projects.api';
import { Debounce } from 'vue-debounce-decorator';
import moment from 'moment';
import UiAccessControl from '@/components/general/UiAccessControl.vue';
import UiProjectCard from '@/components/project/UiProjectCard.vue';
import UiExpandingButton from '@/components/general/UiExpandingButton.vue';
import UiConfirmationModal from '@/components/general/UiConfirmationModal.vue';
import UiModal from '@/components/general/UiModal.vue';
import UiBlockNewHeaderModal from '@/components/block/UiBlockNewHeaderModal.vue';
import UiBlockCard from '@/components/block/UiBlockCard.vue';
import { VTooltip } from 'v-tooltip';
Vue.directive('tooltip', VTooltip);

import { BlockApi } from '@/services/block.api';

@Component({
    props: {
        /**
         * @vue-prop {Project} project - Project to be displayed
         * @property {Project} project - Project to be displayed
         */
        project: Object as () => Project
    },
    components: {
        UiProjectCard,
        UiExpandingButton,
        UiAccessControl,
        UiConfirmationModal,
        UiBlockCard,
        UiBlockNewHeaderModal,
        UiModal
    },
    watch: {
        project: function (val) {
            this.$data.currentProject = val;
        },
    },
})

/**
 * Card to summarize other details about a Project, usually used in the Project dashboard
 * @vue-data {boolean} loading - Loading status
 */
export default class UiProjectSummaryCard extends Vue {
    hover : boolean = false;
    loading : boolean = false;
    currentProject : Project = new Project();
    editProjectName : boolean = false;
    editProjectDesc : boolean = false;
    projectDescLimit : number = 200;
    projectNameUpdated : boolean = false;
    projectDescUpdated : boolean = false;
    displayConfirmation : boolean = false;
    displayTransformingModal : boolean = false;

    previousProjectName : string = '';

    showBlockHeaderModal : boolean = false;

    timer : number = 0;
    displayTime : number = 400;

    BKT_HDR : string = 'bkt-hdr';

    get pro_id() { // projectId
        return this.$route.params.projectId;
    }

    get has_createIfc() {
        let res:boolean = 0 < this.currentProject.pro_blk_nested.length;
        for (let i = 0; i<this.currentProject.pro_blk_nested.length;i++) {
            const blk:Block = this.currentProject.pro_blk_nested[i]
            // Compare to UiBlockCard.blockStateOk
            const ok:boolean = blk.blk_heading != undefined && 1 < blk.blk_heading.length; // && (blk.blk_state_message == undefined || blk.blk_state_message.length == 0)
            res = res && ok;
        }
        return res
    }

    get has_download() {
        if (this.currentProject.pro_output !== undefined && this.currentProject.pro_output != null) {
            // @ts-ignore
            const out : string = this.currentProject.pro_output;
            return 0 < out.length;
        } else {
            return false;
        }
    }

    get highlightStartCreateIfc() {
        return this.hasConfig && this.has_download == false;
    }

    reloadProjectFull() { // used after each upload and after ifc create
        //this.fetchProject();
        const projectApi = new ProjectsApi();
        // Use fetchProjectFull instead of just fetchProject because we also need to reload the pro_blk_nested.
        projectApi.fetchProjectFull(this.pro_id).then( 
            (proj:Project) => {
                // console.log("Fetching project", project);
                //cloning to temp local object for direct modification without triggering changes to store object
                // See UiProjectDetails for a simple example to work with project.module.ts
                // this.currentProject = { ...project};
                //this.$store.dispatch('setCurrentProject', project);
                this.currentProject.pro_blk_nested.length = 0;
                for (let i = 0; i<proj.pro_blk_nested.length;i++) {
                    const blk:Block = proj.pro_blk_nested[i]
                    console.log('reload block', blk.blk_id, blk.blk_state_message)
                    this.currentProject.pro_blk_nested.push(blk);
                }
                // Thanks to :key="block.blk_id + block.blk_state_message" the child component will change. 
                // And both of the following are useless.
                // this.$forceUpdate(); no effect
                // this.$props.project = project; Vue warn: Avoid mutating a prop directly ..
                console.log('All blocks reset for ', this.pro_id);
                if (proj.pro_output !== undefined && proj.pro_output != null) {
                    // @ts-ignore
                    const out : string = project.pro_output;
                    if (0 < out.length) {
                        this.currentProject.pro_output = proj.pro_output;
                        console.log('Output set for ', this.pro_id);
                    }
                } else {
                    this.currentProject.pro_output = undefined;
                    console.log('Output cleared for ', this.pro_id);
                }
            }).catch(err => {
                console.log("Problem Fetching project", err.message);
                //this.$toast.error(`Problem bei der Umwandlung <br/>${err.message}`);
            });

    }

    mounted() {
        this.currentProject = this.$props.project;
        this.previousProjectName = this.$props.project.pro_name;
        //this.fetchNestedBlocks(); No, we load them in projects.api.ts fetchProjectFull using &nested=blocks
    }

    get nextBlockSeq() : number { // TODO move this logic to the server
        let nextSeq = 1000;
        if (0 < this.currentProject.pro_blk_nested.length) {
            const lastBlock = this.currentProject.pro_blk_nested[this.currentProject.pro_blk_nested.length-1];
            nextSeq = lastBlock.blk_seq + 100;
        }
        return nextSeq;
    }

    get hasConfig() {
        let block = this.currentProject.pro_blk_nested.find((block:Block) => block.blk_type_code == 'bkt-pcf' || block.blk_type_code == 'bkt-lin' || block.blk_type_code == 'bkt-acf');
        if (block) {
            return true;
        } else {
            return false;
        }
    }

    startCreateIfc() {
        if(this.$store.getters.proAdmin.includes(this.$props.project.pro_id)) {
            console.log('Start transforming');
            this.displayTransformingModal = true;
            // Just choose the first (and hopefully only for the moment) config block to trigger the transformation.
            let block = this.currentProject.pro_blk_nested.find((block:Block) => block.blk_type_code == 'bkt-pcf' || block.blk_type_code == 'bkt-lin' || block.blk_type_code == 'bkt-acf');
            if (block) {
                const api = new BlockApi();
                block.blk_state_code = 'bks-trf';
                api.editBlock(block)
                .then(res => {
                    console.log("Transforming finished");
                    // Now the ifc on the project should be available.
                    this.reloadProjectFull(); // output and all blocks
                    this.displayTransformingModal = false;
                }).catch(err => {
                    this.displayTransformingModal = false;
                    //this.$toast.error(`Problem bei der Umwandlung <br/>${err.message}`);
                });
            }
        }
    }
    
    startDownloadOutput() {
        this.startDownload('Ifc');
    }
    
    startDownloadLog() {
        this.startDownload('Log');
    }
    
    startDownload(type:string) {
        console.log('startDownload'+type)
        if (this.has_download) {
            const filename = 'resultat';
            let dataValue : string;
            if (this.currentProject.pro_output !== undefined) {
                // @ts-ignore
                const out : string = this.currentProject.pro_output;
                dataValue = decodeURIComponent(escape(window.atob(out)));
            } else {
                dataValue = '';
            }

            if (type == 'Log') {
                const lines = dataValue.split('\n');
                let nLines = [];
                // console.log('nof ifc lines = ', lines.length);
                let keeping = false;
                for (let i=0; i<lines.length; i++) {
                    const line = lines[i];
                    if (line.startsWith('/* WARNINGS')) {
                        keeping = true;
                    } else if (line.endsWith('WARNINGS */')) {
                        keeping = false;
                    } else if (keeping) {
                        nLines.push(line);
                    }
                }
                nLines.push('IFC erfolgreich erstellt.');
                // console.log('nof log lines = ', nLines.length);
                dataValue = nLines.join('\n');
            }
            
            //console.log('down ' + dataValue.substr(0, 40) );

            const MIME_TYPE = 'text/plain';
            const a = document.createElement('a');
            a.download = filename + '.' + type.toLowerCase();
            var bb = new Blob([dataValue as BlobPart], { 'type': MIME_TYPE });
            a.href = window.URL.createObjectURL(bb);
            a.textContent = 'Download ready';
            a.dataset.downloadurl = [MIME_TYPE, a.download, a.href].join(':');
            //a.classList.add('dragout');
            //output.appendChild(a);
            a.style.display = 'none';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }
        // if(this.$store.getters.proAdmin.includes(this.$props.project.pro_id)) {
        //     this.editInput = true;
        //     // this.$nextTick(function () {   
        //     //     (this.$refs.inputInput as any).focus();
        //     // })
        // }
    }
    
    fetchProject() {
        const projectApi = new ProjectsApi();
        //console.log("FetchProject", this.pro_id);
        projectApi.fetchProject(this.pro_id).then(
            (project:Project) => {
                //console.log("Fetching project", project);
                //cloning to temp local object for direct modification without triggering changes to store object
                this.currentProject = { ...project};
                this.$store.dispatch('setCurrentProject', project);
            });
    }

    // fetchNestedBlocks() {
    //     console.log("fetchNestedBlocks", this.pro_id);
    //     const blockApi = new BlockApi();
    //     blockApi.fetchBlocksByProject(this.pro_id).then(
    //         (blocks: Block[]) => {
    //             console.log("blocks for", this.pro_id, blocks.length);
    //             // TODO sort ?
    //             this.currentProject.pro_blk_nested = blocks;
    //         }
    //     );
    // }

    beforeDestroy () {
        clearInterval(this.timer);
    }

    get projectName() : string {
        return this.currentProject.pro_name != '' ? this.currentProject.pro_name : '<Unbenanntes Projekt>';
    }

    set projectName(pro_name : string) { // triggered by editProjectDebounced
        this.$store.commit('SET_CURRENT_PROJECT_NAME', pro_name);
        // TODO should be this.$store.dispatch('setProjectName', pro_name); See store/modules/project.module.ts
    }

    get projectDescription() : string {
        return (this.currentProject.pro_desc != undefined && this.currentProject.pro_desc != '') ? this.currentProject.pro_desc : '<Keine Beschreibung>';
    }

    set projectDescription(pro_desc : string) {
        this.$store.commit('SET_CURRENT_PROJECT_DESCRIPTION', pro_desc); // dispatch and camel case would be better ..
    }

    /**
     * Computed property to get the start date of a Project, properly formatted.
     */
    get project_date(): string {
        if(this.$props.project.pro_create_date != undefined)
            return moment(this.$props.project.pro_create_date).format("DD.MM.YYYY")
        else
            return moment(Date.now()).format("DD.MM.YYYY");
    }

    get projectDescCharCounter() : string {
        if(!this.isDescEmpty) {
            return this.currentProject.pro_desc!.length+'/'+this.projectDescLimit;
        }
        else return '';
    }

    get isDescEmpty() : boolean {
        return this.currentProject.pro_desc == null || this.currentProject.pro_desc == '';
    }

    // onCloseTransformingModal() {
    //     this.displayTransformingModal = false;
    // }

    enableEditProjectName() {
        if(this.$store.getters.proAdmin.includes(this.$props.project.pro_id)) {
            this.editProjectName = true;
            this.$nextTick(function () {   
                (this.$refs.inputProjectName as any).focus();           
            })
        }
    }

    enableEditProjectDesc() {
        if(this.$store.getters.proAdmin.includes(this.$props.project.pro_id)) {
            this.editProjectDesc = true;
            this.$nextTick(function () {   
                (this.$refs.inputProjectDesc as any).focus();           
            })
        }
    }

    showConfirmation() {
        this.displayConfirmation = true;
    }

    resetDisplayConfirmation() {
        //console.log("resetDisplayConfirmation");
        this.displayConfirmation = false;
    }

    /**
     * Debounced call of the method EditProject to
     * auto-save free-text input
     */
    @Debounce(750)
    editProjectDebounced() {
        this.editProject();
    }

    /**
     * Method that instantiate the Project API then
     * calls its EditProject function with the Project object
     * as payload
     */
    editProject() {
        if(this.currentProject.pro_name != '')
        {
            const api = new ProjectsApi();
            api.editProject(this.currentProject)
            .then(res => {
                this.projectNameUpdated = true;
                this.projectDescUpdated = true;
                this.previousProjectName = this.currentProject.pro_name;
                this.timer = setInterval( () => { 
                    this.projectNameUpdated = false;
                    this.projectDescUpdated = false;
                    clearInterval(this.timer);
                }, this.displayTime);
                this.$log.info("Project Summary Card - editProject response", res);
            });
        }
        else {
            this.$toast.error(`Der Projektname darf nicht leer sein.`);
            this.currentProject.pro_name = this.previousProjectName;
            this.projectNameUpdated = true;
        }
    }

    deleteProject() {
        this.loading = true;

        const api = new ProjectsApi();
        api.deleteProject(this.$props.project.pro_id)
        .then(res => {
            this.loading = false;
            this.$store.dispatch('unsetCurrentProject');
            this.$router
            .push({ name: 'project-list'})
            .catch(err => {
                this.$log.error('[Navigation Error] :' + err);
            });
        }).catch(err => {
            this.loading = false;
            this.$toast.error(`Project could not be deleted <br/>${err.message}`);
        })
    }

    // removeBlock(blockId : number, projectId : number) {
    //     //this.$emit('removeBlock', blockId, projectId);
    //     let block = this.currentProject.pro_blk_nested.find((block:Block) => block.blk_id == blockId);
    //     if(block) {
    //         let idx = this.currentProject.pro_blk_nested.indexOf(block);
    //         if(idx != -1) {
    //             this.currentProject.pro_blk_nested.splice(idx,1);
    //         }
    //     }
    // }

    displayBlockHeaderModal() {
        this.showBlockHeaderModal = true;
    }

    appendPointBlock() {
        this.appendBlock('bkt-pcf', 'bks-ini');
    }

    appendPointDataBlock() {
        this.appendBlock('bkt-pnt', 'bks-ini');
    }

    appendLineBlock() {
        this.appendBlock('bkt-lin', 'bks-ini');
    }

    appendAreaBlock() {
        this.appendBlock('bkt-acf', 'bks-ini');
    }

    appendAreaDataBlock() {
        this.appendBlock('bkt-ara', 'bks-ini');
    }

    appendBlock(typeCode: string, stateCode: string) {
        const block = new Block();
        block.blk_pro_id = parseInt(this.currentProject.pro_id, 10); // Why is the pro_id a string?
        block.blk_type_code = typeCode;
        block.blk_state_code = stateCode;
        block.blk_seq = this.nextBlockSeq;
        const api = new BlockApi();
        api.createBlock(block).then(response => {
            api.fetchBlock(response.blk_id.toString())
            .then(res => {
                this.currentProject.pro_blk_nested.push(res);
            });
        });
    }

    addBlock(block : Block) {
        this.currentProject.pro_blk_nested.push(block);
        this.showBlockHeaderModal = false;
    }

}
</script>
