<template>
    <nav id="templates-nav">
        <!--
        <router-link :to="{ name: context_recent}">Zuletzt Verwendet</router-link>
        <router-link :to="{ name: context_org}">Meine Firma</router-link>
        <router-link :to="{ name: context_public}">Veröffentliche Jobs</router-link>
        -->
        <UiAccessControl role="usr_org_pl">
            <router-link :to="{ name: context_new}" id="new-project-link" class="add-op-button" v-if="context == 'project'">{{ link_label_for_new }}</router-link>
            <router-link :to="{ name: context_new}" id="new-project-link" class="add-op-button" v-if="context != 'project'">{{ link_label_for_new }}</router-link>
        </UiAccessControl>
    </nav>
</template>

<style scoped lang="less">
.page {
  padding: 32px 74px;

  #templates-nav {
    display: block; 
    margin: 0px;
    margin-bottom: 16px;

    a {
      display: inline-block;
      margin-right: 40px;
      font-size: 14px;
      color: @default-text-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    #new-project-link {

        margin-left: 32px;
        /*
        position: relative;
        color: @default-text-color;
        */
    } 

    /*
    #new-project-link:before {
        position: absolute;
        display: block;
        padding: 0px 4px 1px 4px;
        left: -24px;
        top: -1px;
        content: "+";
        line-height: 16px;
        border: 1px solid @default-text-color;
        border-radius: 50%;
    } 
    */

    ul {
      padding: 0px;
    }
  }
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
//import { Project } from '@/types/Project';
import UiAccessControl from '@/components/general/UiAccessControl.vue';

@Component({
  props: {
    /**
     * @vue-prop {String} mode - Defines the context of the component (either project or template)
     * @property {String} mode - Defines the context of the component (either project or template)
     */
      context: String
  },
  components: {
      UiAccessControl
  }
})
/**
 * Sub navigation component to filter a list of 
 * Projects in the Projects or Template pages
 */
export default class UiProjectTemplateNavigation extends Vue {
  /**
   * Returns the name of the route for recent projects or templates
   */
  get context_recent(): string {
      return this.$props.context + 's-recent';
  }
  /**
   * Returns the name of the route to show projects or templates for
   * the user's Organisation
   */
  get context_org(): string {
      return this.$props.context + 's-organisation';
  }
  /**
   * Returns the name of the route for public projects or templates
   */
  get context_public(): string {
      return this.$props.context + 's-public';
  }
  /**
   * Returns the name of the route to create a new project or template
   */
  get context_new(): string {
    if(this.$props.context == 'project')
    {
      return 'templates';
    }
    else //context == 'template'
      return 'project-new';
  }
  /**
   * Returns the name of the route to create a new project or template
   */
  get link_label_for_new(): string {
    if(this.$props.context == 'project')
    {
      //return 'Neuen Job aus Referenz-Job erstellen';
      return 'Neuen Transformations-Job aus Job-Vorlagen erstellen';
    }
    else //context == 'template'
      return 'Transformations-Job erstellen';
  }
}
</script>
