<template>
  <div>
    <UiModal v-if="showModal" @close="hideModal" :footer=false height="230px" width="400px">
      <template v-slot:header>
          <h2>Neue Rolle anlegen</h2>
      </template>
        <template v-slot:body>
            <div id="modal-body">
                <div id="main-panel">
                    <input type="text" v-model="currentRole.rop_name" placeholder="Name der Rolle" ref="firstField" />
                    <select v-model="currentRole.rop_role_code">
                        <option v-for="code in allRoleCodes" :key="code.cod_id" :value="code.cod_id" 
                        :disabled="code.cod_id == currentRole.rop_role_code" :selected="code.cod_id == currentRole.rop_role_code">
                            {{ code.cod_name }}
                        </option>
                    </select>
                    <textarea v-model="currentRole.rop_desc" placeholder="Beschreibung der Rolle"></textarea>
                    <div id="activity-create-button" class="details-button interactive" 
                    :class="!isProjectRoleReady? 'disabled' : 'primary'"
                    @click="saveProjectRole()">Rolle erstellen</div>
                </div>
            </div>
        </template>
    </UiModal>
  </div>
</template>

<style scope lang="less">
    .modal-button {
        display: block;
        background-color: #FFF;
        width: 341px;
        height: 66px;
        text-align: center;
        line-height: 66px;
        color: @accent-text-color;
        font-size: 14px;
    }

    #new-role-form {
        display: flex;
        flex-direction: column;
        /*width: 50%;
        padding-right: 16px;*/
    }

    #new-projectrole-button {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 12px;
        .bold-text();
        line-height: 20px;
    }

    #no-activity-message {
        height: 64px;
        text-align: center;
        color: @dark-grey;
    }

    #select-role-list {
        margin-top: 16px;
        padding: 8px 16px;
        height: 70px;
        overflow-y: scroll;
    }

    .small-icon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        vertical-align: middle;
    }

    #modal-body {
        display: flex;
    }

    #main-panel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-right: 24px;
        position: relative;
        height: 100%;

        h3 {
            text-transform: none;
        }

        textarea {
            height: 100%;
        }
    }

    #activity-create-button {
        margin-top: 8px;
    }

    .empty-notice {
        text-align: center;
        color: @dark-grey;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { ProjectRole } from '@/types/ProjectRole';
import { RoleCode } from '@/types/RoleCode';
import { ProjectsApi } from '@/services/projects.api';
import { Debounce } from 'vue-debounce-decorator'
import UiModal from '@/components/general/UiModal.vue';
import UiProjectRoleCard from '@/components/project/UiProjectRoleCard.vue';

@Component<UiProjectRolesModal>({
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        projectId: {
            type: [Number,String],
            required: true
        }
    },
    components: {
        UiModal,
        UiProjectRoleCard
    },
    watch: {
        show: function(val) {
            if(val == true) {
                this.displayModal();
            }
        }
    }
})
/**
 * Modal component invoked by a button to create a New Activity from a modal window.
 * @vue-data {boolean} showModal - defines if the modal window is to be displayed.
 * @vue-data {boolean} loading - flag that defines if the component is loading data.
 */
export default class UiProjectRolesModal extends Vue {
    showModal : boolean = false;
    loading : boolean = false;
    selectedRole : number = -1;
    allProjectRoles : ProjectRole[] = new Array<ProjectRole>();
    allRoleCodes: RoleCode[] = new Array<RoleCode>();
    //currentRole : { rop_id : number, rop_name : string, rop_pro_id : number, rop_role_code : string} = 
    //{ rop_id : -1, rop_name : '', rop_pro_id : this.$props.projectId.valueOf(), rop_role_code : ''};
    currentRole : ProjectRole = {} as ProjectRole;
    $refs!: {
        firstField: HTMLFormElement
    }

    mounted() {
        this.fetchAllRoleCodes();
    }

    reset() {
        this.resetCurrentRole();
        this.allProjectRoles = [];
    }

    resetCurrentRole() {
        this.currentRole = { rop_id : -1, rop_name : '', rop_pro_id : this.$props.projectId.valueOf(), rop_role_code : ''};
    }

    /**
     * Method to enable the display of the modal window.
     */
    displayModal() {
        this.showModal = true;
        this.reset();
        this.$root.$emit('globalModal', {modalActive : true});
        this.$nextTick(()=> {
            this.$refs.firstField.focus();
        })
    }

    /**
     * Method to hide the modal window by changing the relevant flag.
     */
    hideModal() {
        this.showModal = false;
        this.$emit('close');
        this.$root.$emit('globalModal', {modalActive : false});
    }

    get isProjectRoleReady() : boolean {
        if(this.currentRole.rop_name != ''
        && this.currentRole.rop_pro_id > 0
        && this.currentRole.rop_role_code != '') {
            return true;
        }
        else {
            return false;
        }
    }

    selectRole(roleId: number) {
        if(this.selectedRole == roleId) {
            this.selectedRole = -1;
            const tempRoleCode = this.currentRole.rop_role_code; //temporarily saving the role code before reset
            this.resetCurrentRole();
            this.currentRole.rop_role_code = tempRoleCode; //reapply the current role code for better UX
            return;
        }
        else {
            this.selectedRole = roleId;
        }
        const selectedRoles = this.allProjectRoles.filter((role : ProjectRole) => {
            return role.rop_id == this.selectedRole;
        });
        if(selectedRoles.length>=0) {
            this.currentRole = selectedRoles[0];
        }
    }

    fetchAllProjectRoles() {
        this.selectedRole = -1;
        const api = new ProjectsApi();
        api.fetchAllProjectRoles().then(response => {
            this.allProjectRoles = response.filter(role => role.rop_role_code == this.currentRole.rop_role_code && role.rop_pro_id!=this.$props.projectId.valueOf());
        });
    }

    fetchAllRoleCodes() {
        const api = new ProjectsApi();
        api.fetchAllRoleCodes().then(response => {
            this.allRoleCodes = response;
        });
    }

    saveProjectRole() {
        const {rop_id, ...roleToBeCreated} = this.currentRole;
        //console.log("newProjectRole", roleToBeCreated);
        //this.$emit("newProjectRole", this.currentRole);
        //this.hideModal();

        const api = new ProjectsApi();
        api.createProjectRole(roleToBeCreated).then(response => {
            if(response.rop_id > 0) {
                this.currentRole.rop_id = response.rop_id;
                this.hideModal();
                this.$emit("newProjectRole", this.currentRole);
            }
        });
    }

    addProjectRole() {
        const {rop_id, rop_pro_name, rop_change_date, rop_role_code_code, rop_role_code_name ,rop_change_user, rop_create_date, rop_create_user, ...roleToBeCreated} = this.currentRole;
        roleToBeCreated.rop_pro_id = this.$props.projectId.valueOf();
        //console.debug("addProjectRole - Adding role to project", this.currentRole);

        const api = new ProjectsApi();
        api.createProjectRole(roleToBeCreated).then(response => {
            if(response.rop_id > 0) {
                this.currentRole.rop_id = response.rop_id;
                this.hideModal();
                this.$emit("newProjectRole", this.currentRole);
            }
        });
    }
}
</script>
