<template>
    <div class="projectrole-summary-card-wrapper" @mouseenter="hover=true" @mouseleave="hover=false">
        <div class="projectrole-summary-card" v-if="currentProjectRole.rop_id != -1">
            <div class="card-header">
                <!--<h4 v-if="!edition">{{currentProjectRole.rop_name}}</h4>
                <span @click="enableEdition" class="interactive edit-link">Bearbeiten</span>-->
                <h3 v-if="!editRoleName" @click="enableEditRoleName">
                    {{ projectRoleName }}
                </h3>
                <input ref="inputRoleName" type="text" v-model.trim="currentProjectRole.rop_name" v-else 
                class="inline h4-input" :class="roleNameUpdated ? 'updated':''" @keydown="editProjectRoleDebounced" @blur="editRoleName=false"/>
            </div>

            <!--<label v-if="edition">Rolle
                <input type="text" v-model.trim="currentProjectRole.rop_name" @keydown="editProjectRoleDebounced"/>
            </label>-->

            <div v-if="!editRoleType" @click="enableEditRoleType"><em>({{currentProjectRole.rop_role_code_name}})</em></div>
            <label v-else>
                <select ref="inputRoleType" :class="roleTypeUpdated ? 'updated':''" v-model="currentProjectRole.rop_role_code" @change="editProjectRole" @blur="editRoleType=false">
                    <option v-for="code in allRoleCodes" :key="code.cod_id" :value="code.cod_id" :disabled="code.cod_id == currentProjectRole.rop_role_code_code" :selected="code.cod_id == currentProjectRole.rop_role_code_code">
                        {{ code.cod_name }}
                    </option>
                </select>
            </label>

            <p v-if="!editRoleDesc" @click="enableEditRoleDesc" :class="isDescEmpty ? 'em':''">{{ projectRoleDescription }}</p>
            <label v-else>
                <textarea ref="inputRoleDesc" :class="roleDescUpdated ? 'updated':''" v-model="currentProjectRole.rop_desc" v-if="editRoleDesc" 
                @blur="editRoleDesc=false" @keydown="editProjectRoleDebounced" placeholder="Beschreibung">
                </textarea>
            </label>

            <div class="top-right-corner" v-if="hover==true">
                <UiAccessControl role="usr_pro_admin" :proId="projectRole.rop_pro_id">
                    <!--
                    <UiExpandingButton id="projectrole-delete-button" class="warning-button interactive" 
                    @click="deleteProjectRole">
                        Rolle löschen
                    </UiExpandingButton>
                    -->
                    <span v-tooltip="{ delay: {show:200, hide:100}, content: 'Rolle löschen', placement: 'right'}" @click.stop="deleteProjectRole">
                        <img src="~@/assets/icon-bin.svg" class="app-icon interactive" alt="delete"/>
                    </span>
                </UiAccessControl>
            </div>

        </div>
        <div class="projectrole-card-notice" v-else>
            <img src="~@/assets/icon-drag-drop-notice.svg" alt="" />
            <p>
                <strong>Rolle auswählen</strong><br />
                Wählen Sie eine Rolle aus, um mehr Informationen zu erhalten.
            </p>
        </div>
    </div>
</template>

<style scoped lang="less">
    .projectrole-summary-card-wrapper {
        position: relative;
        flex-basis: 20%;
        padding-right: 16px;
        font-size: 14px;

        h3:first-of-type {
            margin-top: 0px;
            margin-bottom: 4px;
        }
    }

    .projectrole-summary-card {
        height: 100%;
        box-sizing: border-box;
    }

    .h4-input {
        font-size: 14px;
        color: @default-text-color;
        .bold-text();
        margin: 4px 0px 17px;
    }

    textarea {
        height: auto;
    }

    input[type=text] {
        line-height: 32px;
    }

    select {
        margin-left: 8px;
    }

    .edit-link {
        color: #3D9DFF;
    }

    .projectrole-summary-card {
        padding: 30px;
        background-color: #FFF;
        font-size: 14px;

        h4 {
            margin-top: 0px;
            font-size: 14px;
        }
        
        h5 {
            margin-bottom: 0px;
        }

        .card-header {
            display: flex;
            justify-content: space-between;
        }

        .card-details {
            display: flex;
            flex: 1;
            justify-content: space-between;

            .details-header{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .bold-text();
            }

            .details-values{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: right;
            }

            .details-values > div{
                flex: 0;
            }
        }
    }

    .projectrole-card-notice {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: @white-background-color;
        height: 100%;
        padding: 32px;
        box-sizing: border-box;

        img {
            width: 64px;
        }
    }

    .top-right-corner {
        position: absolute;
        top: 24px;
        right: 30px;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { ProjectRole } from '@/types/ProjectRole' // Project type
import { ProjectsApi } from '@/services/projects.api';
import { Debounce } from 'vue-debounce-decorator';
import { RoleCode } from '@/types/RoleCode';
import UiAccessControl from '@/components/general/UiAccessControl.vue';
import UiExpandingButton from '@/components/general/UiExpandingButton.vue';

@Component({
  props: {
    /**
     * @vue-prop {ProjectRole} projectRole - Project Role to be displayed
     * @property {ProjectRole} projectRole - Project Role to be displayed
     */
    projectRole: {
        type: Object as () => ProjectRole,
        required: false
    }
  },
  watch: {
    projectRole: function (val) {
        this.$data.currentProjectRole = {...this.$props.projectRole};
        this.$data.previousProjectRoleName = this.$props.projectRole.rop_name;
    },
    // call again the method if the route changes
    '$route': 'resetComponent'
  },
  components: {
      UiAccessControl,
      UiExpandingButton
  }
})

/**
 * Card to summarize other details about a Project Role and to allow edition of said Role
 * @vue-data {boolean} loading - Loading status
 * @vue-data {boolean} edition - Flag to define if the edition of the Project Role is possible
 */
export default class UiProjectRoleSummaryCard extends Vue {
    hover : boolean = false;
    loading : boolean = false;
    message : string = '';
    currentProjectRole : ProjectRole = { rop_id: -1, rop_name: '', rop_pro_id: -1, rop_desc: ''};
    allRoleCodes : Array<RoleCode> = new Array<RoleCode>();
    previousProjectRoleName : string = '';

    editRoleName : boolean = false;
    editRoleType : boolean = false;
    editRoleDesc : boolean = false;
    roleNameUpdated : boolean = false;
    roleTypeUpdated : boolean = false;
    roleDescUpdated : boolean = false;

    timer : number = 0;
    displayTime : number = 400;

    beforeDestroy () {
        clearInterval(this.timer);
    }

    mounted() {
        this.currentProjectRole = {...this.$props.projectRole};
        this.fetchAllRoleCodes();
    }

    resetComponent() {
        this.loading = false;
        this.message = '';
    }

    get isBeingEdited() {
        return this.editRoleName || this.editRoleType || this.editRoleDesc;
    }

    get projectRoleName() : string {
        return this.currentProjectRole.rop_name != '' ? this.currentProjectRole.rop_name : '<Unbenannter Rolle>';
    }

    get projectRoleDescription() : string {
        return (this.currentProjectRole.rop_desc != undefined && this.currentProjectRole.rop_desc != '') ? this.currentProjectRole.rop_desc : '<Keine Beschreibung>';
    }

    get isDescEmpty() : boolean {
        return this.currentProjectRole.rop_desc == null || this.currentProjectRole.rop_desc == '';
    }

    enableEditRoleName() {
        if(this.$store.getters.proAdmin.includes(this.currentProjectRole.rop_pro_id)) {
            this.editRoleName = true;
            this.$nextTick(function () {   
                (this.$refs.inputRoleName as any).focus();           
            })
        }
    }

    enableEditRoleType() {
        if(this.$store.getters.proAdmin.includes(this.currentProjectRole.rop_pro_id)) {
            this.editRoleType = true;
            this.$nextTick(function () {   
                (this.$refs.inputRoleType as any).focus();           
            })
        }
    }

    enableEditRoleDesc() {
        if(this.$store.getters.proAdmin.includes(this.currentProjectRole.rop_pro_id)) {
            this.editRoleDesc = true;
            this.$nextTick(function () {   
                (this.$refs.inputRoleDesc as any).focus();           
            })
        }
    }

    /**
     * Debounced call of the method editProjectRole to
     * auto-save free-text input
     */
    @Debounce(750)
    editProjectRoleDebounced() {
        this.editProjectRole();
    }

    /**
     * Method that instantiate the Project API then
     * calls its editProjectRole function with the ProjectRole object
     * as payload
     */
    editProjectRole() {
        if(this.currentProjectRole.rop_name != '') {
            const api = new ProjectsApi();
            api.editProjectRole(this.currentProjectRole)
            .then(res => {
                this.roleNameUpdated = true;
                this.roleTypeUpdated = true;
                this.roleDescUpdated = true;
                this.previousProjectRoleName = this.currentProjectRole.rop_name;
                this.timer = setInterval( () => { 
                    this.roleNameUpdated = false;
                    this.roleTypeUpdated = false;
                    this.roleDescUpdated = false;
                    clearInterval(this.timer);
                }, this.displayTime);
                this.$emit("project-role-updated");
                this.$log.info("ProjectRole Summary Card - editProjectRole response", res);
            });            
        }
        else {
            this.$toast.error(`Der Projektname darf nicht leer sein.`);
            this.currentProjectRole.rop_name = this.previousProjectRoleName;
        }

    }

    deleteProjectRole() {
        const api = new ProjectsApi();
        api.deleteProjectRole(this.currentProjectRole.rop_id.toString())
        .then(res => {
            this.$emit("project-role-updated");
            this.$toast.success('Rolle erfolgreich elöscht.');
            this.$log.info("ProjectRole Summary Card - deleteProjectRole response", res);
        })
        .catch(err => {
            //BE_ITG_FK
            //console.log(err.response);
            this.$toast.error('Diese Rolle kann nicht gelöscht werden, da damit Aktivitäten verknüpft sind.');
            this.$log.error("ProjectRole Summary Card - deleteProjectRole error", err);
        });
    }

    fetchAllRoleCodes() {
        const api = new ProjectsApi();
        api.fetchAllRoleCodes().then(response => {
            this.allRoleCodes = response;
        });
    }
}
</script>
