<template>
    <div class="sub-page">
        <div id="project-dashboard-overview">
            <h3>Transformations-Jobs Übersicht</h3>
            <div class="flex-row">
            <UiProjectSummaryCard :project="project" />
            </div>
        </div>
    </div>
</template>

<style scoped lang="less">
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Project } from '@/types/Project' // Our interface
import UiProjectSummaryCard from '@/components/project/UiProjectSummaryCard.vue'

@Component({
    props: {
        /**
         * @vue-prop {Project} project - Project to be displayed
         * @property {Project} project - Project to be displayed
         */
        project: {
        type: Object as () => Project,
        required: true
        }
    },
    components: {
        UiProjectSummaryCard
    }
})
/** 
 * Main dashboard sub-page with the overview of a Project
 */
export default class UiProjectDashboard extends Vue {
};
</script>
