<template>
  <div class="page">
    <h3>{{ project.pro_name || "LOADING..."}}</h3>
    <router-view :project="project"></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Project } from '@/types/Project';
import { ProjectsApi } from '@/services/projects.api';

@Component({
    props: {
    },
    watch: {
        // call again the method if the route changes
        '$route': 'fetchData'
    }
})

/**
 * Main page to display all the details of a selected Project
 * @displayName Project Details page
 */
export default class UiProjectDetails extends Vue {
    loading : boolean = false;
    error : string = "";

    mounted () {
        // fetch the data when the view is created and the data is
        // already being observed
        this.fetchData();
    };

    get projectId() {
        return this.$route.params.projectId;
    }

    fetchData() {
        //console.log("fetchData");
        this.$store.dispatch('getProjectFull', this.projectId);
    }

    get project() {
        return this.$store.getters.currentProject;
    }
}
</script>
