<template>
  <div class="sub-page">
    <UiProjectCard
    v-for="project in projects"
    :key="project.id"
    :project="project"
    :context="context"
    @removeProject="removeProject(project.pro_id)"
    />
    <div v-if="hasProjects" class="details-button interactive delete-op" @click="showDeleteConfirmation" >
        <img src="~@/assets/icon-bin.svg" class="app-icon interactive" alt="Alle Jobs löschen"/>
        Alle Jobs löschen
    </div>
    <UiConfirmationModal :display="displayDeleteConfirmation" @accept="deleteAllProjects" @hide="resetDeleteConfirmation">
        <template v-slot:header>Alle Jobs löschen?</template>
        <template v-slot:body>
            <p>Die gelöschten Jobs können nicht wiederhergestellt werden.</p>
            <p>Alle Eingabedateien wie Excel sowie zusätzliche Dateien werden gelöscht.</p>
            <p>Alle Ausgabe IFC-Dateien werden ebenfalls unwiderruflich gelöscht.</p>
        </template>
    </UiConfirmationModal>
  </div>
</template>

<style scoped lang="less">
    .delete-op {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Project } from '@/types/Project' // Project type
import { ProjectsApi } from '@/services/projects.api';

import UiProjectCard from '@/components/project/UiProjectCard.vue';
import UiConfirmationModal from '@/components/general/UiConfirmationModal.vue';

@Component({
  components: {
    UiConfirmationModal,
    UiProjectCard
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  },
  props: {
    /**
     * @vue-prop {String} String - To determine if the list is displaying Projects or Templates
     * @property {String} context - To determine if the list is displaying Projects or Templates
     * @values project-list, template-list
     */
    context: {
      type: String,
      default: "project-list"
    },
    /**
     * @vue-prop {String} String - To determine if the list is displaying Projects or Templates
     * @property {String} context - To determine if the list is displaying Projects or Templates
     * @values project-list, template-list
     */
    type: {
      type: String,
      default: "all" //"template", "reference"
    }
  }
})

/**
 * List of Projects to be displayed typically (but not exclusively) on a page
 * @vue-data {boolean} loading - Loading status
 * @vue-data {Project[]} projectsList - List of loaded Projects
 * @vue-data {String} error - Error message if fetchData failed
 */
export default class UiProjectList extends Vue {
    loading = false;
    projectsList = Array<Project>();
    error = "";

    displayDeleteConfirmation : boolean = false;

    created () {
        // fetch the data when the view is created and the data is
        // already being observed
        this.fetchData()
    };

    get projects() {
        if(this.$props.type == 'reference') {
            return this.projectsList.filter( (project:Project) => {
                return project.pro_type_code == 'pro-ref';
            })
        }
        else if(this.$props.type == 'template') {
            return this.projectsList.filter( (project:Project) => {
                //return project.pro_type_code == 'pro-usr' && !this.$store.getters.orgEmp.includes(project.pro_org_id);
                return project.pro_type_code == 'pro-usr' && this.$store.getters.orgPers != project.pro_org_id;
            })
        }
        else if(this.$props.type == 'organisation') {
            return this.projectsList.filter( (project:Project) => {
                //return project.pro_type_code == 'pro-usr' && this.$store.getters.orgEmp.includes(project.pro_org_id);
                return project.pro_type_code == 'pro-usr' && this.$store.getters.orgPers == project.pro_org_id;
            })
        }
        else {
            return this.projectsList.filter( (project:Project) => {
                return project.pro_type_code == 'pro-usr';
            })
        }
        //return this.projectsList;
    }

    /**
     * Method to retrieve the list of Projects to be displayed in the list
     */
    fetchData () {
        this.loading = true;
        const api = new ProjectsApi();
        api.fetchProjectsPlus()
        .then((response) => {
            this.projectsList = response;
            this.loading = false;
            //console.log('Project list fetchData response', response);
        })
        .catch((e) => {
            this.$log.error('Project list fetchData error', e);
        });
    }

    removeProject(projectId : string) {
        let proj = this.projectsList.find((pro:Project) => pro.pro_id == projectId);
        if(proj) {
            let idx = this.projectsList.indexOf(proj);
            if(idx != -1) {
                this.projectsList.splice(idx,1);
            }
        }
    }

    /**
     * Displays the delete confirmation modal window.
     */
    showDeleteConfirmation() {
        this.displayDeleteConfirmation = true;
    }

    /**
     * Hides the delete confirmation modal window.
     */
    resetDeleteConfirmation() {
        this.displayDeleteConfirmation = false;
    }

    get hasProjects() {
        return 0 < this.projectsList.length;
    }

    /**
     * Delete all projects.
     */
    deleteAllProjects() {
        const api = new ProjectsApi();
        for (let i=this.projectsList.length-1; -1<i; i--) {
            const pro:Project = this.projectsList[i];
            console.log('del', i, pro.pro_id)
            api.deleteProject(parseInt(pro.pro_id))
                .then( res => {
                    this.removeProject(pro.pro_id);
                });
        }
        
    }
}
</script>
