<template>
  <div class="sub-page">
        <div class="grid-title">
            <h3>
                Berechtigungen Projekt
            </h3>
        </div>

        <div class="grid">
            <div class="row headers">
                <div class="cell">
                    Personenliste
                </div>
                <div class="cell">
                    Verwaltung
                </div>
                <div class="cell">
                    Schreibberechtigung
                </div>
                <div class="cell">
                    Leseberechtigung
                </div>
            </div>


            <div class="row" v-for="(user, index) in permsList" :key="user.upr_usr_id">
                <div class="cell">
                    {{ user.upr_usr_name_first }} {{ user.upr_usr_name }}
                    <span class="note">{{ user.upr_org_name | formatOrgName }}</span>
                </div>
                <div class="cell interactive" @click="togglePermission(index,'ros-padm')">
                    <span v-if="user.upr_roles_codes.includes('ros-padm')">
                        <img class="icon" :src="checkmarkIcon" />
                    </span>
                </div>
                <div class="cell interactive" @click="togglePermission(index,'ros-pwr')">
                    <span v-if="user.upr_roles_codes.includes('ros-pwr')">
                        <img class="icon" :src="checkmarkIcon" />
                    </span>
                </div>
                <div class="cell interactive" @click="togglePermission(index,'ros-prd')">
                    <span v-if="user.upr_roles_codes.includes('ros-prd')">
                        <img class="icon" :src="checkmarkIcon" />
                    </span>
                </div>
            </div>
        </div>

        <UiUserFinder context="project" :proId="projectId" @NewProjectUser="addUser($event)"/>
  
        <UiConfirmationModal :display="displayConfirmation" @accept="deletePermission" @hide="resetDisplayConfirmation">
            <template v-slot:header>Sind Sie sicher?</template>
            <template v-slot:body>
                <p>Wenn Sie Ihre eigenen Berechtigungen für dieses Projekt entfernen, können Sie sie nicht selbst zurücksetzen.</p>
            </template>
        </UiConfirmationModal>
  </div>
</template>

<style scoped lang="less">
    .grid-title {
        display: flex;
        justify-content: space-between;

        select {
            width: auto;
        }
    }

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        border-bottom: 1px solid @subtle-grey-border;

        &:first-of-type {
            border-top: 1px solid @subtle-grey-border;
            background-color: @light-grey;
        }
    }

    .cell {
        padding: 20px;
        min-height: 30px;
        border-right: 1px solid @subtle-grey-border;

        &:first-of-type {
            display: flex;
            justify-content: space-between;
            border-left: 1px solid @subtle-grey-border;
            background-color: @light-grey;
        }

        &:not(:first-of-type) {
            text-align: center;
        }
    }

    .headers {
        .bold-text();
    }

    .note {
        color: @light-grey-color;
    }

    .icon {
        width: 14px;
        height: 14px;
        background-color: @light-grey;
        border-radius: 50%;
        padding: 4px;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { UserProject } from '@/types/UserProject' // UserOrganisation type
import { PermissionsApi } from '@/services/permissions.api';
import UiUserFinder from '@/components/user/UiUserFinder.vue';
import UiConfirmationModal from '@/components/general/UiConfirmationModal.vue';


@Component({
  props: {
      projectId: {
          type: String,
          required: true,
      }
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  },
  components: {
      UiUserFinder,
      UiConfirmationModal
  }
})

/**
 * List of Users that have access to a Project
 * @vue-data {boolean} loading - Loading status
 * @vue-data {UserProject[]} permsList - List of loaded User Project Permissions
 */
export default class UiProjectUsers extends Vue {
    loading : boolean = false;
    foundPermissions : UserProject[] = Array<UserProject>();
    permsList : UserProject[] = Array<UserProject>();
    selectedOrg : number = Number(this.$route.params.orgId);
    displayConfirmation : boolean = false;
    confirmationIndex : number = -1;
    confirmationRole : string = '';

    get checkmarkIcon() {
        return require("@/assets/icon-checkmark.svg");
    }

    created () {
      // fetch the data when the view is created and the data is
      // already being observed
      this.fetchData();
    };

    reset() {
        this.permsList = Array<UserProject>();
        this.foundPermissions = Array<UserProject>();
        this.fetchData();
    }

    /**
     * Method to retrieve the list of Projects to be displayed in the list
     */
    fetchData () {
      this.loading = true;
      const api = new PermissionsApi();
      //api.fetchAllUsersOrganisation(Number(this.$route.params.orgId))
      api.fetchAllUsersProject(this.$props.projectId)
      .then((response) => {
        this.foundPermissions = response;
        this.loading = false;
        this.parseUsers();
        //console.log('Project list fetchData response', response);
      })
      .catch((e) => {
        this.$log.error('Users list fetchData error', e);
      });
    }

    parseUsers() {
      this.foundPermissions.forEach((perm:UserProject) => {
        if(!this.permsList.find((usr:UserProject) => usr.upr_usr_id == perm.upr_usr_id)) {
          perm.upr_roles_codes = new Array(perm.upr_role_code);
          this.permsList.push(perm);
        }
        else {
          let usr : UserProject = this.permsList.find((usr:UserProject) => usr.upr_usr_id == perm.upr_usr_id)!;
          if(!usr.upr_roles_codes!.includes(perm.upr_role_code)) {
            usr.upr_roles_codes!.push(perm.upr_role_code);
          }
        }
      })
    }

    showConfirmation() {
        this.displayConfirmation = true;
    }

    resetDisplayConfirmation() {
        this.confirmationIndex = -1;
        this.confirmationRole = '';
        this.displayConfirmation = false;
    }

    togglePermission(index : number, role : string) {
        if(index != undefined) {
            if(this.permsList[index].upr_roles_codes!.includes(role)) {
                if(this.permsList[index].upr_usr_id == this.$store.getters.userId) {
                    this.confirmationIndex = index;
                    this.confirmationRole = role;
                    this.showConfirmation();
                }
                else {
                    this.deletePermission(index, role);
                }
            }
            else {
                this.addPermission(index, role);
            }
        }
    }

    deletePermission(index : number, role : string) {
        const api = new PermissionsApi();
        if(this.confirmationIndex != -1 && this.confirmationRole != '') {
            index = this.confirmationIndex;
            role = this.confirmationRole;
        }
        api.deleteUserProject(this.permsList[index].upr_usr_id, this.permsList[index].upr_pro_id, role)
        .then( response => {
            this.resetDisplayConfirmation();
            let newPerms = this.permsList[index];
            newPerms.upr_roles_codes!.splice(newPerms.upr_roles_codes!.indexOf(role),1);
            Vue.set(this.permsList, index, newPerms);
            if(newPerms.upr_roles_codes!.length > 0) { //if the user still has other roles
                Vue.set(this.permsList, index, newPerms); //we had the modified role set to the main list
            }
            else {
                this.permsList.splice(index, 1); //otherwise we remove the user from the main list
            }
        })
    }

    addPermission(index : number, role : string) {
        const api = new PermissionsApi();
        api.addUserProject(this.permsList[index].upr_usr_id, this.permsList[index].upr_pro_id, role)
        .then( response => {
            let newPerms = this.permsList[index];
            newPerms.upr_roles_codes!.push(role);
            Vue.set(this.permsList, index, newPerms);
        })
    }

    addUser(user : UserProject) {
        if(!this.permsList.find( (usr:UserProject) => {usr.upr_usr_id == user.upr_usr_id})) {
            this.permsList.push(user);
        }
    }
}
</script>
