<template>
  <div class="sub-page">
        <h3 class="flex-row align-center">
            Rollen
            <UiAccessControl role="usr_pro_admin" :proId="project.pro_id">
                <div id="new-projectrole-button" class="interactive" @click="displayRoleModal">
                    <span class="plus-sign-button">+</span> Neue Rolle 
                </div>
            </UiAccessControl>
        </h3>
    <div class="project-roles-overview">
        <UiProjectRoleSummaryCard :projectRole="selectedRole" v-on:project-role-updated="refreshRoles"/>
        <div class="project-roles">
        <UiProjectRoleCard v-for="role in currentRoles" 
            :key="role.rop_id" 
            :projectRole="role" 
            @click.native="selectRole(role.rop_id)" 
            :selected="role.rop_id==selectedRoleId" />
        </div>
    </div>

    <UiProjectRolesModal :projectId="$route.params.projectId.valueOf()" :show="showRoleModal"
    @newProjectRole="refreshRoles" @close="closeRoleModal" />

    <!--<div>
      <h3>Übersicht Rollen</h3>
      <pre>{{ currentRoles }}</pre>
    </div>-->
  </div>
</template>

<style lang="less" scoped>
    .project-roles-overview {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .project-roles {
        flex-grow: 1;
        display: grid;
        /*grid-template-columns: [first-col] 20% repeat(auto-fit, minmax(200px, 300px));*/
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        grid-template-rows: auto [last-line];
        grid-gap: 1rem;
        align-items: stretch;
    }

    .role {
        display: flex;
        background-color: @default-panel-background-color;
        padding: 16px 25px;
        flex-direction: row;
        align-items: center;

        &:hover, &.selected {
        border: 1px solid @highlight-border-color;
        padding: 15px 24px;
        }

        each(range(8), {
        &:nth-of-type(@{value}) .role-icon {
            @role-bg-color: "role-bg-color-@{value}";
            background-color: @@role-bg-color;
        }
        })

        .role-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        padding: 8px;
        margin-right: 8px;
        vertical-align: middle;
        border-radius: 100%;
        background-image: url('~@/assets/icon-roles.svg');
        background-size: 60%;
        background-position: center center;
        background-repeat: no-repeat;
        }

        .role-code-name {
        font-size: 10px;
        float: right;
        color: @light-grey-color;
        }
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Project } from '@/types/Project';
import { ProjectRole} from '@/types/ProjectRole';
//import { RoleCode} from '@/types/RoleCode';
import { ProjectsApi } from '@/services/projects.api';
import UiProjectRolesModal from '@/components/project/UiProjectRolesModal.vue';
import UiProjectRoleCard from '@/components/project/UiProjectRoleCard.vue';
import UiProjectRoleSummaryCard from '@/components/project/UiProjectRoleSummaryCard.vue';
import UiAccessControl from '@/components/general/UiAccessControl.vue';

@Component({
  props: {
    /**
     * @vue-prop {Project} project - Project to be displayed by the component
     * @property {Project} project - Project to be displayed by the component
     */
    project: {
      type: Object as () => Project,
      required: true
    }
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  },
  components: {
      UiProjectRolesModal,
      UiProjectRoleCard,
      UiProjectRoleSummaryCard,
      UiAccessControl
  }
})

/**
 * Project details sub-page to display Roles related to the selected Project
 */
export default class UiProjectRoles extends Vue {
    currentRoles : Array<ProjectRole> = new Array<ProjectRole>();
    selectedRoleId : number = Number(this.$route.params.roleId);
    showRoleModal : boolean = false;

    mounted() {
        this.fetchProjectRoles();

        if(this.$route.params.roleId != undefined && this.selectedRoleId > 0) {
            this.fetchData();
        }
    }

    get selectedRole() : ProjectRole {
        return this.currentRoles.find((role : ProjectRole) => role.rop_id == this.selectedRoleId) 
        || { rop_id: -1, rop_name: '', rop_pro_id: -1, rop_desc: ''} as ProjectRole;
    }

    refreshRoles() {
        this.fetchProjectRoles();
    }

    isSelected(role_id : number) {
        if(this.$route.params.roleId != undefined && this.$route.params.roleId == role_id.toString()) {
        return true;
        }
        else return false;
    }

    private fetchProjectRoles() {
        const api = new ProjectsApi();
        api.fetchRoles(this.$route.params.projectId).then((response) => {
            this.currentRoles = response.sort((a,b) => (a.rop_name < b.rop_name) ? -1 : ((b.rop_name < a.rop_name) ? 1 : 0));
        });
    }

    fetchData() {
        if(this.$route.params.roleId != undefined) {
            this.selectedRoleId = Number(this.$route.params.roleId);
        }
    }

    selectRole(role_id : number) {
        //console.log("selectRole");
        if(this.selectedRoleId != role_id) {
            this.selectedRoleId = role_id;
            this.$router
            .push({ name: 'role-details', params: { roleId : role_id.toString() } })
            .catch(err => {
                this.$log.error('[Navigation Error] :' + err);
            });
        }
        else {
            this.fetchData();
        }
    }

    displayRoleModal() {
        this.showRoleModal = true;
    }

    closeRoleModal() {
        //console.log("closeRoleModal", this.showRoleModal);
        this.showRoleModal = false;
    }
};
</script>
