<template>
    <div class="page">
        <h3>Neuer Transformations-Job</h3>
        <UiNewProjectForm context="new-project" :project="template" :canvasProject="canvasProject" @resetProject="resetProject" />
    </div>
</template>

<style lang="less" scoped>
    h3 {
        padding: 16px 30px 0px; 
        background-color: @default-panel-background-color;
        margin-bottom: 0px;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Project } from '@/types/Project';
import { ProjectsApi } from '@/services/projects.api';
import UiNewProjectForm from '@/components/project/UiNewProjectForm.vue';

@Component({
  components: {
    UiNewProjectForm
  },

  /**
   * @vue-prop {String} projectId - Identifier of the Project to be used as a template
   * @property {String} projectId - Identifier of the Project to be used as a template
   */
  props: {
    projectId: {
      type: [String, Number],
      required: false
    }
  }
})
/**
 * Default component to create a new Project
 * @vue-data {Project} template - Template used as a reference to create a new Porject
 */
export default class UiProjectNew extends Vue {
    loading = false;
    error = "";
    template: Project = new Project();
    canvasProject : Project = new Project();
    projectToBeReset : boolean = false;

    mounted() {
        // fetch the data when the view is created and the data is
        // already being observed
        if(this.$props.projectId != undefined) {
            this.fetchData();
        }
        //this.$store.dispatch("setupCanvasProject", this.$props.projectId || 103);
    };

    /**
     * Instantiate the Projects API and calls its method to fetch
     * the template specified by the projectId prop.
     */
    fetchData () {
        this.loading = true;
        const api = new ProjectsApi();
        api.fetchProjectFull(this.$props.projectId)
    }

    get projectInProgress() {
        return this.$store.getters.newProject;
    }

    resetProject() {
        this.projectToBeReset = true;
    }

    reinitResetFlag() {
        this.projectToBeReset = false;
    }
}
</script>