<template>
  <div class="page">
    <h3>Vorschau Referenzprojekt</h3>
    <p><em>*Verwenden Sie diese Vorlage als Referenzprojekt, um Änderungen vorzunehmen.</em></p>
    <UiProjectCard context="template-details" :project="project" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
//import axios from 'axios';
import { Project } from '@/types/Project';
import { ProjectsApi } from '@/services/projects.api';
import UiProjectCard from '@/components/project/UiProjectCard.vue';

@Component({
  components: {
      UiProjectCard
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  },
  /**
   * @vue-prop {String} projectId - Identifier of the Template in scope
   * @property {String} projectId - Identifier of the Template in scope
   */
  props: {
    projectId: String
  }
})

/**
 * Main page to display all the details of a selected Project
 * @displayName Project Details page
 */
export default class UiTemplateDetails extends Vue {
    loading = false;
    project = {} as Project;
    error = "";

    created () {
      // fetch the data when the view is created and the data is
      // already being observed
      this.fetchData()
    };

    /**
     * Instantiate the Projects API and calls its method to fetch
     * a Project specified by the id prop.
     */
    fetchData () {
      this.loading = true;
      const api = new ProjectsApi();
      api.fetchProjectFull(this.$props.projectId)
      .then((response) => {
        this.project = response;
      })
      .catch((e) => {
        this.$log.error('Template details fetchData error', e);
      });
    }
}
</script>
