<template>
    <div class="flex-column">
        <UiModal v-if="showModal" @close="hideModal" :footer=false height="300px" width="400px">
            <template v-slot:header>
                <h2>Neuer Block anlegen</h2>
            </template>
            <template v-slot:body>
                <div id="modal-body">
                    <div id="main-panel">
                        <input type="text" v-model="currentBlock.blk_heading" maxlength="200" placeholder="Titel" ref="firstField" />
                        <div id="block-create-button" class="details-button interactive" 
                        :class="!isBlockReady? 'disabled' : 'primary'"
                        @click="saveBlock">Block erstellen</div>
                    </div>
                </div>
            </template>
        </UiModal>
    </div>
</template>

<style scoped lang="less">
  .modal-button {
      display: block;
      background-color: #FFF;
      width: 341px;
      height: 66px;
      text-align: center;
      line-height: 66px;
      color: @accent-text-color;
      font-size: 14px;
  }

  .plus-icon {
    border: 1px solid @dark-grey;
    border-radius: 50%;
    padding: 0px 4px 1px 4px;
    margin-right: 8px;
  }

  #block-create-button {
      margin-top: 8px;
      //margin-top: auto;
  }

  .small-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
  }

  #modal-body {
    display: flex;
    flex-grow: 1;
  }

  #main-panel {
      display: flex;
      flex-direction: column;
      width: 100%;

      textarea {
          height: 100%;
      }
  }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Block } from '@/types/Block';
import { BlockApi } from '@/services/block.api';
//import { Debounce } from 'vue-debounce-decorator';
import { Project } from '@/types/Project';

import UiModal from '@/components/general/UiModal.vue';

@Component<UiBlockNewHeaderModal>({
    props: {
        show : {
            type: Boolean,
            default: false
        },
        projectId: {
            type: Number,
            required: false
        },
        project: {
            type: Object as () => Project,
            required: false
        },
        blockType: {
            type: String,
            default: 'bkt-hdr' //could be 'bkt-???'
        },
        nextSeq : {
            type: Number,
            default: -1
        }
    },
    components: {
        UiModal
    },
    watch: {
        show: function (val) {
            if(val == true) {
                this.displayModal();
            }
        }
    }
})
/**
 * Modal component invoked by a button to create a new Block by uploading sth.
 * @vue-data {boolean} showModal - defines if the modal window is to be displayed.
 * @vue-data {Block} currentBlock - The current Block.
 */
export default class UiBlockNewHeaderModal extends Vue {
    showModal : boolean = false;
    currentBlock : Block = new Block();
    $refs!: {
        firstField: HTMLFormElement
    }

    /**
     * Method to enable the display of the modal window.
     */
    displayModal() {
        this.currentBlock = new Block();
        this.currentBlock.blk_pro_id = this.$props.project?this.$props.project.pro_id:this.$props.projectId;
        this.currentBlock.blk_type_code = this.$props.blockType;
        this.currentBlock.blk_state_code = 'bks-rdy';
        if(this.$props.nextSeq != -1) {
            this.currentBlock.blk_seq = this.$props.nextSeq;
        }
        this.showModal = true;
        this.$root.$emit('globalModal', {modalActive : true});
        this.$nextTick(() => {
            this.$refs.firstField.focus();
        })
    }

    /**
     * Method to hide the modal window by changing the relevant flag.
     */
    hideModal() {
        this.showModal = false;
        this.$emit('close');
        this.$root.$emit('globalModal', {modalActive : false});
    }


    /**
     * Check and confirm if the current Block has all the attributes required to be saved
     */
    get isBlockReady() : boolean {
        return this.currentBlock.blk_heading != '';
    }

    /**
     * Method to save the Block
     */
    saveBlock() {
        if(this.isBlockReady) {
            const api = new BlockApi();
            api.createBlock(this.currentBlock).then(response => {
                if(response.blk_id > 0) {
                    this.currentBlock.blk_id = response.blk_id;
                    this.hideModal();
                    this.$emit("addBlock", this.currentBlock);
                }
            });
        }
    }
}
</script>
