<template>
    <div class="flex-column">
        <UiModal v-if="showModal" @close="hideModal" :footer=false height="200px" width="400px">
            <template v-slot:header>
                <h2>Inhalt hochladen</h2>
            </template>
            <template v-slot:body>
                <div id="modal-body">
                    <div id="main-panel">
                        <!-- The upload -->
                        <form enctype="multipart/form-data" novalidate v-if="(isInitial || isSaving)">
                            <div class="dropbox">
                                <input ref="uploadInput" type="file" name="blk_data" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files)"
                                :accept="acceptType" class="input-file">
                                <p v-if="isSaving">
                                    Hochladen im Gange ...
                                    <img src="~@/assets/icon-loading-swirl.svg" class="icon-loading" alt="" />
                                </p>
                            </div>
                        </form>
                        <!--SUCCESS-->
                        <div v-if="isSuccess">
                            <h3>Upload erfolgreich.</h3>
                            <p>
                            <span class="interactive" @click="uploadReset()">Neue Datei hochladen</span>
                            </p>
                        </div>
                        <!--FAILED-->
                        <div v-if="isFailed">
                            <h3>Upload fehlgeschlagen.</h3>
                            <p>
                            <span class="interactive" @click="uploadReset()">Neuer Versuch</span>
                            </p>
                            <pre>{{ uploadError }}</pre>
                        </div>
                    </div>
                </div>
            </template>
        </UiModal>
    </div>
</template>

<style scoped lang="less">
  .modal-button {
      display: block;
      background-color: #FFF;
      width: 341px;
      height: 66px;
      text-align: center;
      line-height: 66px;
      color: @accent-text-color;
      font-size: 14px;
  }

  .plus-icon {
    border: 1px solid @dark-grey;
    border-radius: 50%;
    padding: 0px 4px 1px 4px;
    margin-right: 8px;
  }

  #block-create-button {
      margin-top: 8px;
      //margin-top: auto;
  }

  .small-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
  }

  #modal-body {
    display: flex;
    flex-grow: 1;
  }

  #main-panel {
      display: flex;
      flex-direction: column;
      width: 100%;

      textarea {
          height: 100%;
      }
  }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Block } from '@/types/Block';
import { FileUpload } from '@/services/file.upload';
import { BlockApi } from '@/services/block.api';

import UiModal from '@/components/general/UiModal.vue';

@Component<UiBlockNewUploadModal>({
    props: {
        show : {
            type: Boolean,
            default: false
        },
        block: {
            type: Object as () => Block,
            required: true
        }
    },
    components: {
        UiModal
    },
    watch: {
        show: function (val) {
            if(val == true) {
                this.displayModal();
            }
        }
    }
})
/**
 * Modal component invoked by a button to create a new Block by uploading sth.
 * @vue-data {boolean} showModal - defines if the modal window is to be displayed.
 * @vue-data {Block} currentBlock - The current Block.
 */
export default class UiBlockNewUploadModal extends Vue {
    showModal : boolean = false;
    currentBlock : Block = new Block();
    $refs!: {
        uploadInput: HTMLFormElement
    }
    currentStatus : number = 0;
    uploadError: string = '';

    STATUS_INITIAL : number = 0; 
    STATUS_SAVING : number = 1;
    STATUS_SUCCESS : number = 2;
    STATUS_FAILED : number = 3;

    get isInitial() : boolean {
        return this.currentStatus === this.STATUS_INITIAL;
    }
    get isSaving() : boolean {
        return this.currentStatus === this.STATUS_SAVING;
    }

    get isSuccess() : boolean {
        return this.currentStatus === this.STATUS_SUCCESS;
    }

    get isFailed() : boolean {
        return this.currentStatus === this.STATUS_FAILED;
    }

    get acceptType() : string {
        switch(this.currentBlock.blk_type_code) {
            case 'bkt-cfg':
                return 'application/x-yaml'; // alternatively: text/yaml 
            case 'bkt-pcf':
                return 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
            case 'bkt-pnt':
                return '.csv';
            case 'bkt-lin':
                return 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
            case 'bkt-acf':
                return 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
            case 'bkt-ara':
                return '.dxf,.stl,.obj,.ts';
            default:
                return '*';
        }
    }

    uploadReset() {
        // reset to initial state   
        this.currentStatus = this.STATUS_INITIAL;
        this.uploadError = '';
    }

    // fetchBlock() { // TODO may be this is not even used
    //     const api = new BlockApi();
    //     api.fetchBlock(this.currentBlock.blk_id.toString()).then(
    //         (block:Block) => {
    //             //cloning to temp local object for direct modification without triggering changes to store object
    //             this.currentBlock = { ...block};
    //         });
    // }

    filesChange(fieldName : string, fileList : File[]) {
        // handle file changes
        const formData = new FormData();

        if (!fileList.length) return;

        // append the files to FormData
        Array
          .from(Array(fileList.length).keys())
          .map(x => {
            formData.append(fieldName, fileList[x], fileList[x].name);
          });

        // save it
        this.save(fieldName, formData);
    }

    save(fieldName : string, formData : FormData) {
        // https://developer.mozilla.org/de/docs/Web/API/FormData
        const ff = formData.get(fieldName); // props .name .size .type (see https://developer.mozilla.org/en-US/docs/Web/API/File)
        if (ff) {
            // @ts-ignore
            const fileName:string = ff.name;
            // @ts-ignore
            const mimeType:string = ff.type;
            formData.append('blk_heading', fileName)
            formData.append('blk_mime_type', mimeType)
            //console.log('file name to upload', ff.name, ff.type);
            // upload data to the server
            const fileAPI = new FileUpload();
            const payload : {BlockId: string, formData: FormData} = {
                BlockId: this.currentBlock.blk_id.toString(), // used by fileAPI.blockUpload and put into url
                formData: formData
            };

            //console.log("Save", payload);
            this.currentStatus = this.STATUS_SAVING;
            fileAPI.blockUpload(payload)
            .then(x => {
                //this.uploadedFiles = [].concat(x);
                this.currentStatus = this.STATUS_SUCCESS;
                //this.$emit("onStateChanged", this.currentBlock); // Just this statement should be enough, but it seems that not.
                // For some reason we must load and pass the loaded block here to make it appear/update even though emit 
                // onStateChanged which itself emits onWholeProjectChanged would reload all blocks
                const api = new BlockApi();
                api.fetchBlock(this.currentBlock.blk_id.toString()).then(
                    (block:Block) => {
                        this.currentBlock = block;
                        this.$emit("onStateChanged", block);
                        this.hideModal(); // close immediately after upload complete
                    });
            })
            .catch(err => {
                this.currentStatus = this.STATUS_FAILED;
                this.uploadError = err.response.data.message;
            });
        }
    }

    /**
     * Method to enable the display of the modal window.
     */
    displayModal() {
        this.currentBlock = this.$props.block;
        this.showModal = true;
        this.$root.$emit('globalModal', {modalActive : true});
        this.$nextTick(() => {
            this.$refs.uploadInput.focus();
            this.$refs.uploadInput.click(); // open browsers file select dialog immediately
        })
    }

    /**
     * Method to hide the modal window by changing the relevant flag.
     */
    hideModal() {
        this.showModal = false;
        this.$emit('close');
        this.uploadReset();
        this.$root.$emit('globalModal', {modalActive : false});
    }

    get uploadInProgress() : boolean {
        return false; // TODO for longer uploads change that here
    }

}
</script>
