<template>
    <div class="block-card-wrapper" @mouseenter="hover=true" @mouseleave="hover=false">
        <div class="block-card" 
        :class="{ 'hoverable': isHoverable, 
        'interactive': (isDraggable || 'project-details' ),
        'hovered': hover }" 
        :draggable=isDraggable   
        v-if="!reduced">
            <div class="block-card-details">
                <div class="block-icon" >{{ blockTypeLetter }}</div>
                <div class="block-header">
                    <UiEllipsisText v-if="!editName" :isFullWrappable="true" :isWrappable="false">{{ blockName }}</UiEllipsisText>
                    <input v-else ref="inputBlockName" type="text" v-model.trim="blockName" class="inline h4-input" :class="nameUpdated ? 'updated':''" @keydown="editBlockDebounced" @blur="editName=false"/>
                    <!-- TODO more here as in Popover -->
                </div>
                <div class="block-state">
                    <img v-if="blockStateOk" src="~@/assets/icon-checkmark.svg" width="30" height="30" class="state-icon" alt="Zustand OK" />
                    <img v-if="!blockStateOk" src="~@/assets/icon-problem.svg" width="30" height="30" class="state-icon" alt="Es besteht ein Problem." />
                </div>
                <div class="block-message">{{blockStateMessage}}</div>
                <UiAccessControl role="usr_pro_write" :proId="block.blk_pro_id">
                    <div class="block-operations">
                        <div class="details-button interactive delete-op" @click="showDeleteConfirmation" >
                            <img src="~@/assets/icon-bin.svg" class="app-icon interactive" alt="Block löschen"/>
                        </div>
                        <div v-if="blockIsUpload" class="details-button interactive" @click="displayEditModal">Upload</div>
                        <div v-else class="details-button interactive" @click="enableEditName">Ändern</div>
                        <UiBlockUploadModal :show="showEditModal" :block="currentBlock" @onStateChanged="onUploadStateChanged" />
                    </div>
                </UiAccessControl>
            </div>
        </div>
        <div class="block-card reduced" v-else>
            <div class="block-card-details">
                <div class="block-icon" v-tooltip="tooltipOptions">
                </div>
            </div>
        </div>
                
        <UiConfirmationModal :display="displayConfirmation" @accept="removeBlock" @hide="resetDisplayConfirmation">
            <template v-slot:header>{{ blockTypeLetter }} {{ blockName }} löschen?</template>
            <template v-slot:body>
                <p>Ein gelöschter Block kann nicht wiederhergestellt werden.</p>
            </template>
        </UiConfirmationModal>
    </div>
</template>

<style lang="less">
.block-card-wrapper {
    display: flex;
    flex-direction: column;
    //align-items: flex-end;
    align-items: center;
    width: 100%;
}

.block-project-name {
    font-size: 9px;
    text-transform: uppercase;
    color: @dark-grey;
}

.block-operations {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.block-card {
  display: block;
  width: 100%;
  height: 80px;
  background-color: #FFF;
  margin-bottom: 8px;
  box-sizing: border-box;
  /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
  transition: all 150ms;
  border-bottom: 1px solid black;

  &.reduced {
    height: 40px;
    width: 40px;

    .block-card-details {

        justify-content: space-around;

        .block-icon {
            margin: 4px;
            margin-top: 8px;
            min-width: auto;
            max-width: auto;
            width: 9px;
            height: 9px;

            img {
                width: 100%;
            }
        }
    }
  }

  &.hoverable:hover {
    box-shadow: 1px 1px 3px @highlight-shadow-color;
  }
/*
  &.hovered {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
  }
*/
  .block-card-details {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    .block-header {
        .normal-text();
        text-align: left;
        width: 250px;
    }

    .block-state {
        width: 100px;
        text-align: center;
    }

    .block-message {
        flex-grow: 2;
    }

    .block-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 34px;
        max-width: 34px;
        height: 34px;
        /*border-radius: 50%;*/
        margin: 16px;
        padding: 8px;
        font-size: 24px;
        background-color: #C3C3C3;

      img {
          width: 80%;
          height: auto;
      }
    }

    & > p {
      margin: 0px;
      width: 60%;
      font-size: 14px;
      word-wrap: break-all;
    }

    .selected-indicator {
        display: block;
        width: 12px;
        height: 12px;
        margin-right: 15px;
        border: 1px solid #CCCCCC;
        border-radius: 50%;
        margin-left: auto;
        
        &.selected {
            background-image: url('~@/assets/icon-checkmark.svg');
            background-repeat: no-repeat;
            background-size: 90%;
            background-position: 2px -1px;
        }

        &.unselected {
            background-image: none;
        }
    }

    .block-deselector, .block-remover {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: 2px;
        right: 0px;
        width: 16px;
        height: 16px;
        background-color: @white-background-color;
        border: 1px solid @highlight-border-color;
        border-radius: 50%;
        line-height: 14px;
        text-align: center;
        transition: all 200ms;
        z-index: 10;

        &.visible {
            visibility: visible;
            opacity: 1;
        }
    }

    .block-deletor {
        width: 16px;
        height: 16px;
    }

    .bottom-right-corner {
        position: absolute;
        bottom: 2px;
        right: 0px;
        z-index: 20;

        .app-icon {
            margin-right: 0px;
        }
    }
  }

    .block-popover {
        position: absolute;
        top: 8px;
        right: 0px;
        translate: 0px -50%;
        max-width: 350px;
        z-index: 10;

        &.offset {
            /*right: 36px;*/
            right: 0px;
        }
    }

    .information-trigger {
        visibility: hidden;
        opacity: 0;
        width: 16px;
        height: 16px;
        border: 1px solid @highlight-border-color;
        border-radius: 50%;
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        transition: all 200ms;

        &.visible {
            visibility: visible;
            opacity: 1;
        }
    }
}

.block-add-button {
    width: 25%;
    height: 20px;

    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

.delete-op {
    margin-right: 20px;
}

</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Block } from '@/types/Block';
import { BlockApi } from '@/services/block.api';
import { VTooltip } from 'v-tooltip';
import { Debounce } from 'vue-debounce-decorator';
import UiEllipsisText from '@/components/general/UiEllipsisText.vue';
import UiAccessControl from '@/components/general/UiAccessControl.vue';
import UiConfirmationModal from '@/components/general/UiConfirmationModal.vue';
import UiBlockUploadModal from '@/components/block/UiBlockUploadModal.vue';

Vue.directive('tooltip', VTooltip);

@Component({
  props: {
    /**
     * @vue-prop {Block} block - Block to be displayed
     * @property {Block} block - Block to be displayed
     */
    block: {
      type: Object as () => Block,
      required: true
    },
    /**
     * @vue-prop {Boolean} selected - Defines if the Block card is considered as selected for the Block being currently created
     * @property {Boolean} selected - Defines if the Block card is considered as selected for the Block being currently created
     */
    selected: {
        type: Boolean,
        required: false
    },
    /**
     * @vue-prop {Boolean} reduced - Defines if the Block card is displayed in its compact form (true)
     * @property {Boolean} reduced - Defines if the Block card is displayed in its compact form (true)
     */
    reduced: {
        type: Boolean,
        default: false
    },
    /**
     * @vue-prop {Boolean} isDraggable - Defines if the Block card is reacting to drag & drop events (eg. in the context of the Block picker)
     * @property {Boolean} isDraggable - Defines if the Block card is reacting to drag & drop events (eg. in the context of the Block picker)
     */
    isDraggable: {
        type: Boolean,
        required: false
    },
    /**
     * @vue-prop {Boolean} isSelectable - Defines if the Block card is selectable (ie. added to a Block being created)
     * @property {Boolean} isSelectable - Defines if the Block card is selectable (ie. added to a Block being created)
     */
    isSelectable: {
        type: Boolean,
        required: false
    },
    /**
     * @vue-prop {Boolean} isHoverable - Defines if the Block card is reacting to mouseover events
     * @property {Boolean} isHoverable - Defines if the Block card is reacting to mouseover events
     */
    isHoverable: {
        type: Boolean,
        required: false
    },
    /**
     * @vue-prop {String} context - To determine if the card is shown in a Block details page or a template details page or for the constitution of a new block.
     * @property {String} context - To determine if the card is shown in a Block details page or a template details page or for the constitution of a new block.
     * @values block-details template-details, block-creation
     */
    context: {
      type: String,
      default: "block-details"
    }
  },
//   watch: {
//     selected: function (val) {
//         this.$data.isSelected = val;
//     }
//   },
  components: {
      UiEllipsisText,
      UiAccessControl,
      UiConfirmationModal,
      UiBlockUploadModal
  }
})
/**
 * Default card to display a Block 
 * @vue-data {boolean} hover - stores flag whether the component is being hovered or not.
 * @vue-data {Block} currentBlock - Block to be displayed by the component.
 * @vue-data {boolean} selectedForAddition - Flag to define if the Block has been clicked on to be added to a Block.
 * @vue-data {boolean} displayConfirmation - Whether the delete confirmation modal should be displayed.
 */
export default class UiBlockCard extends Vue {
    hover : boolean = false;
    currentBlock : Block = this.$props.block;
    selectedForAddition : boolean = false;
    displayConfirmation : boolean = false;

    showEditModal : boolean = false;
    editName : boolean = false;

    nameUpdated : boolean = false;
    previousName : string = '';

    displayTime : number = 400;

    /**
     * When mounted, we fetch the full Block object (as the one passed in props might not have all the info we need).
     */
    mounted() {
        //this.fetchBlock();
    }

    /**
     * Computed property to define if the Block is selected for the Projet being created
     */
    // get isSelected() : boolean {
    //     return this.$store.getters.newProject.pro_blk_nested.find((blk : Block) => blk.blk_id == this.$props.block.blk_id) ? true : false;
    // }

    get blockTypeLetter() : string {
        switch (this.currentBlock.blk_type_code) {
            case "bkt-pcf":
                return 'V';
            case "bkt-lin":
                return 'B';
            case "bkt-acf":
                return 'G';
            case "bkt-pnt":
                return 'VG';
            case "bkt-ara":
                return 'GG';
            default: // bkt-hdr and bkt-div
                return '';
        }
    }

    get blockStateOk() : boolean {
        const tc = this.currentBlock.blk_type_code;
        return tc == 'bkt-hdr' || tc == 'bkt-div' || (this.currentBlock.blk_heading != undefined && 1 < this.currentBlock.blk_heading.length)
    }

    get blockName() : string { // instead of just block.blk_heading
        return this.currentBlock.blk_heading !== undefined ? this.currentBlock.blk_heading : '';
    }

    set blockName(name : string) { // Called by v-model.trim (Is it also triggered by editBlockDebounced?)
        this.currentBlock.blk_heading = name;
    }

    get blockStateMessage() : string {
        return this.currentBlock.blk_state_message !== undefined ? this.currentBlock.blk_state_message : '';
    }

    get blockIsUpload() : boolean {
        return this.currentBlock.blk_type_code != 'bkt-hdr';
    }

    get blockIsHeading() : boolean {
        return this.currentBlock.blk_type_code == 'bkt-hdr';
    }

    /**
     * Displays the delete confirmation modal window.
     */
    showDeleteConfirmation() {
        this.displayConfirmation = true;
    }

    /**
     * Hides the delete confirmation modal window.
     */
    resetDisplayConfirmation() {
        //console.log("resetDisplayConfirmation");
        this.displayConfirmation = false;
        this.hover = false;
    }

    displayEditModal() {
        this.showEditModal = true;
    }

    onUploadStateChanged(block: Block) {
        this.currentBlock = block; // somehow we must set this here to appear/update even though emit onWholeProjectChanged would reload all
        this.showEditModal = false;
        this.$emit("onWholeProjectChanged");
    }

    enableEditName() {
        if(this.$store.getters.proAdmin.includes(this.$props.block.blk_pro_id)) {
            this.editName = true;
            this.$nextTick(function () {   
                (this.$refs.inputBlockName as any).focus();
            })
        }
    }

    /**
     * Computed property defining which CSS class to apply on the 
     * component depending on whether the Block is selected or not.
     */
    get selected_class() : string {
        return this.$props.selected ? 'selected' : 'unselected';
    }

    /**
     * Computed property defining if the handle to deselect the Block is visible or not
     */
    get deselectorVisible() : boolean {
        return this.hover
    }

    /**
     * Computed property that returns a pixel offset for the details popover
     * depending on whether the Block card is draggable or not.
     */
    get popoverOffset() : number {
        if(this.$props.isDraggable) {
            return 40;
        }
        else return 0;
    }

    /**
     * Method to select the current Block for the Project being created.
     */
    toggleSelected() {
        this.$store.dispatch('setBlock', this.$props.block);
    }

    /**
     * Get the full Block based on the ID of the Block passed as a prop.
     */
    fetchBlock() {
        if(this.currentBlock != undefined && this.currentBlock.blk_id != -1) {
            const api = new BlockApi();
            api.fetchBlock(this.currentBlock.blk_id.toString())
            .then(res => {
                this.currentBlock = res;
            })
        }
    }

    /**
     * Remove the Block from the canvas of the Project being created OR
     * Delete the Block from the Project being displayed.
     */
    removeBlock() {
        const api = new BlockApi();
        api.deleteBlock(this.$props.block.blk_id)
        .then( res => {
            //this.$store.dispatch('removeBlockFromCurrentProject', this.$props.block);
            this.$emit('removeBlock', this.$props.block);
        });
    }

    /**
     * Method to set relevant data when a Block card is being dragged.
     * @param {any} event - the mouse drag event
     */
    dragStart(event : any) {
      //console.log("dragStart", event);
      event.dataTransfer.dropEffect = 'move';
      event.dataTransfer.effectAllowed = 'move';
      event.dataTransfer.setData('block', JSON.stringify(this.$props.block));        
    }

    /**
     * Proxy method to wrap the toggle of the flag and 
     * the addition of the Block to the Project being created.
     */
    addBlockToProject() {
        this.toggleSelected();
        this.selectedForAddition = false;
    }

    /**
     * Debounced call of the method editBlock to
     * auto-save free-text input
     */
    @Debounce(750)
    editBlockDebounced() {
        this.editBlock();
    }

    /**
     * Method that instantiate the Block API then
     * calls its editBlock function with the Block object
     * as payload
     */
    editBlock() {
        if (this.currentBlock.blk_heading != '') {
            const api = new BlockApi();
            api.editBlock(this.currentBlock)
            .then(res => {
                this.nameUpdated = true;
                this.previousName = this.currentBlock.blk_heading !== undefined ? this.currentBlock.blk_heading : '';
                let ttimer : number;
                ttimer = setInterval( () => { 
                    this.nameUpdated = false;
                    clearInterval(ttimer);
                }, this.displayTime);
                console.log("Block Summary Card - edit block response", res);
            });
        } else {
            this.$toast.error(`Der Block Titel darf nicht leer sein.`);
            this.currentBlock.blk_heading = this.previousName;
            this.nameUpdated = true;
        }
    }

    /**
     * returns the options object to be used by the tooltip on the Block icon.
     */
    get tooltipOptions() : Object {
        return {
            content: this.$props.block.blk_heading
        }
    }
}
</script>
