<template>
  <div class="sub-page">
    <h3>Neue Organization anlegen</h3>
    <input type="text" v-model.trim="currentOrganisation.org_name" class="h4-input" placeholder="Organisation Name"/>
    <textarea v-model="currentOrganisation.org_desc" placeholder="Organisation Beschreibung"></textarea>
    <div id="org-create-button" class="details-button interactive" 
    :class="{'disabled' : !isOrgReady}"
    @click="saveOrg">Organisation erstellen</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Organisation } from '@/types/Organisation' // Organisation type
import { OrganisationApi } from '@/services/organisation.api';

@Component({

})
/**
 * Form to create a new User
 */
export default class UiOrganisationNew extends Vue {
    currentOrganisation : Organisation = {org_name: '', org_id: -1, org_desc:''};

    formReset() {
        this.currentOrganisation = {org_name: '', org_id: -1, org_desc:''};
    }

    get isOrgReady() : boolean {
        return this.currentOrganisation.org_name != "";
    }

    /**
     * Method to save the User, then reset the form.
     */
    saveOrg() {
        //this.hideModal();
        //this.$emit("newActivity", this.currentActivity);
        const api = new OrganisationApi();
        api.createOrganisation(this.currentOrganisation)
        .then(response => {
            if(response.org_id > 0) {
                this.formReset();
            }
        });
    }

}
</script>