<template>
  <div class="sub-page">
        <div class="grid-title">
            <h3>
                Berechtigungen Organisation
            </h3>
            <select v-model="selectedOrg" @change="reset">
                <option v-for="org in allOrganisations" :key="org.org_id" :value="org.org_id">{{org.org_name}}</option>
            </select>
        </div>

        <div class="grid">
            <div class="row headers">
                <div class="cell">
                    Personenliste
                </div>
                <div class="cell">
                    Verwaltung
                </div>
                <div class="cell">
                    Projektleitung
                </div>
                <div class="cell">
                    Mitarbeit
                </div>
            </div>


            <div class="row" v-for="(user, index) in permsList" :key="user.uog_usr_id">
                <div class="cell">
                    {{ user.uog_usr_name_first }} {{ user.uog_usr_name }}
                    <span class="note">{{ user.uog_org_name | formatOrgName }}</span>
                </div>
                <div class="cell interactive" @click="togglePermission(index,'ros-oadm')">
                    <span v-if="user.uog_roles_codes.includes('ros-oadm')">
                        <img class="icon" :src="checkmarkIcon" />
                    </span>
                </div>
                <div class="cell interactive" @click="togglePermission(index,'ros-opl')">
                    <span v-if="user.uog_roles_codes.includes('ros-opl')">
                        <img class="icon" :src="checkmarkIcon" />
                    </span>
                </div>
                <div class="cell interactive" @click="togglePermission(index,'ros-oemp')">
                    <span v-if="user.uog_roles_codes.includes('ros-oemp')">
                        <img class="icon" :src="checkmarkIcon" />
                    </span>
                </div>
            </div>

            <UiUserFinder context="organisation" :orgId="selectedOrg" @NewOrganisationUser="addUser($event)"/>
        </div>
  </div>
</template>

<style lang="less">
    .grid-title {
        display: flex;
        justify-content: space-between;

        select {
            width: auto;
        }
    }

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        border-bottom: 1px solid @subtle-grey-border;

        &:first-of-type {
            border-top: 1px solid @subtle-grey-border;
            background-color: @light-grey;
        }
    }

    .cell {
        padding: 20px;
        min-height: 30px;
        border-right: 1px solid @subtle-grey-border;

        &:first-of-type {
            display: flex;
            justify-content: space-between;
            border-left: 1px solid @subtle-grey-border;
            background-color: @light-grey;
        }

        &:not(:first-of-type) {
            text-align: center;
        }
    }

    .headers {
        .bold-text();
    }

    .note {
        color: @light-grey-color;
    }

    .icon {
        width: 14px;
        height: 14px;
        background-color: @light-grey;
        border-radius: 50%;
        padding: 4px;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { UserOrganisation } from '@/types/UserOrganisation' // UserOrganisation type
import { Organisation } from '@/types/Organisation' // Organisation type
import { PermissionsApi } from '@/services/permissions.api';
import { OrganisationApi } from '@/services/organisation.api';
import UiUserCard from '@/components/user/UiUserCard.vue';
import UiUserFinder from '@/components/user/UiUserFinder.vue';

@Component({
  components: {
    UiUserCard,
    UiUserFinder
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  }
})

/**
 * List of Users that are members of an Organisation to grant other permissions on said Organisation.
 * @vue-data {boolean} loading - Loading status of the component
 * @vue-data {UserOrganisation[]} permsList - List of loaded User Organisation Permissions
 */
export default class UiOrganisationUsers extends Vue {
    loading : boolean = false;
    foundPermissions : UserOrganisation[] = Array<UserOrganisation>();
    permsList : UserOrganisation[] = Array<UserOrganisation>();
    allOrganisations : Organisation[] = Array<Organisation>();
    selectedOrg : number = Number(this.$route.params.orgId);

    get checkmarkIcon() {
        return require("@/assets/icon-checkmark.svg");
    }

    created () {
      // fetch the data when the view is created and the data is
      // already being observed
      this.fetchData();
      this.fetchAllOrganisations();
    };

    reset() {
        this.permsList = Array<UserOrganisation>();
        this.foundPermissions = Array<UserOrganisation>();
        this.fetchData();
        this.$router.push({ name: this.$router.currentRoute.name!, params: { orgId: this.selectedOrg.toString() } });
    }

    /**
     * Method to retrieve the list of Projects to be displayed in the list
     */
    fetchData () {
      this.loading = true;
      const api = new PermissionsApi();
      //api.fetchAllUsersOrganisation(Number(this.$route.params.orgId))
      api.fetchAllUsersOrganisation(this.selectedOrg)
      .then((response) => {
        this.foundPermissions = response;
        this.loading = false;
        this.parseUsers();
        //console.log('Project list fetchData response', response);
      })
      .catch((e) => {
        this.$log.error('Users list fetchData error', e);
      });
    }

    fetchAllOrganisations() {
        const api = new OrganisationApi();
        //console.log("fetchAllOrganisations",this.$store.getters.isSuperAdmin);
        if(this.$store.getters.isSuperAdmin) {
            api.fetchOrganisations().then(response => {
                this.allOrganisations = response;
            });
        }
        else {
            api.fetchMultipleOrganisation(this.$store.getters.orgAdmin).then(response => {
                this.allOrganisations = response;
            });
        }
    }

    parseUsers() {
      this.foundPermissions.forEach((perm:UserOrganisation) => {
        if(!this.permsList.find((usr:UserOrganisation) => usr.uog_usr_id == perm.uog_usr_id)) {
          perm.uog_roles_codes = new Array(perm.uog_role_code);
          this.permsList.push(perm);
        }
        else {
          let usr : UserOrganisation = this.permsList.find((usr:UserOrganisation) => usr.uog_usr_id == perm.uog_usr_id)!;
          if(!usr.uog_roles_codes!.includes(perm.uog_role_code)) {
            usr.uog_roles_codes!.push(perm.uog_role_code);
          }
        }
      })
    }

    togglePermission(index : number, role : string) {
        const api = new PermissionsApi();
        if(index != undefined) {
            if(this.permsList[index].uog_roles_codes!.includes(role)) {
                api.deleteUserOrganisation(this.permsList[index].uog_usr_id, this.permsList[index].uog_org_id, role)
                .then( response => {
                    let newPerms = this.permsList[index];
                    newPerms.uog_roles_codes!.splice(newPerms.uog_roles_codes!.indexOf(role),1);
                    if(newPerms.uog_roles_codes!.length > 0) { //if the user still has other roles
                        Vue.set(this.permsList, index, newPerms); //we had the modified role set to the main list
                    }
                    else {
                        this.permsList.splice(index, 1); //otherwise we remove the user from the main list
                    }
                })
            }
            else {
                api.addUserOrganisation(this.permsList[index].uog_usr_id, this.permsList[index].uog_org_id, role)
                .then( response => {
                    let newPerms = this.permsList[index];
                    newPerms.uog_roles_codes!.push(role);
                    Vue.set(this.permsList, index, newPerms);
                })
            }
        }
    }

    addUser(user : UserOrganisation) {
        if(!this.permsList.find( (usr:UserOrganisation) => {usr.uog_usr_id == user.uog_usr_id})) {
            this.permsList.push(user);
        }
    }
}
</script>
