<template>
  <div class="sub-page">
    <UiOrganisationCard
    v-for="org in orgsList"
    :key="org.org_id"
    :organisation="org"
    v-on:deletedActivity="fetchData"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Organisation } from '@/types/Organisation' // Organisation type
import { OrganisationApi } from '@/services/organisation.api';

import UiOrganisationCard from '@/components/organisation/UiOrganisationCard.vue';

@Component({
  components: {
    UiOrganisationCard
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  }
})

/**
 * List of Projects to be displayed typically (but not exclusively) on a page
 * @vue-data {boolean} loading - Loading status
 * @vue-data {Project[]} projectsList - List of loaded Projects
 * @vue-data {String} error - Error message if fetchData failed
 */
export default class UiOrganisationList extends Vue {
    loading = false;
    orgsList = Array<Organisation>();
    error = "";

    created () {
      // fetch the data when the view is created and the data is
      // already being observed
      this.fetchData()
    };

    /**
     * Method to retrieve the list of Projects to be displayed in the list
     */
    fetchData () {
      this.loading = true;
      const api = new OrganisationApi;
      api.fetchMultipleOrganisation(this.$store.getters.orgAdmin)
      .then((response) => {
        this.orgsList = response;
        this.loading = false;
        //console.log('Project list fetchData response', response);
      })
      .catch((e) => {
        this.$log.error('Organisations list fetchData error', e);
      });
    }
}
</script>
