<template>
    <div class="profile-summary">

        <div class="org-details">
            <span @click="enableEdition" class="interactive edit-link">Bearbeiten</span>
            <span @click="deleteOrg" class="interactive delete-link" v-if="context='org-list'">Löschen</span>
            <img src="~@/assets/user-profile-placeholder.svg" alt="" class="profile-picture" v-if="profile_pic==''"/>
            <img :src="profile_pic" alt="" class="profile-picture" v-else/>
            <div v-if="!editMode">
                <p>{{ currentOrg.org_name | uppercase | formatOrgName }}</p>
                <p class="org-desc">{{ currentOrg.org_desc }}</p>
            </div>
            <div v-if="editMode">
                <input type="text" v-model="currentOrg.org_name" placeholder="Name" @keydown="editOrgDebounced" />
                <textarea v-model="currentOrg.org_desc" @keydown="editOrgDebounced"></textarea>
            </div>
        </div>
    
        <div v-if="1==2">
            <!--UPLOAD-->
            <form enctype="multipart/form-data" novalidate v-if="(isInitial || isSaving) && editMode">
                <h3>Upload user picture</h3>
                <div class="dropbox">
                    <input type="file" :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                    accept="image/*" class="input-file">
                    <input type="text" v-model="profile_pic_url" placeholder="Image URL" @keydown="editImageURLDebounced" />
                    <!--<p v-if="isInitial">
                        Drag your file(s) here to begin<br> or click to browse
                    </p>-->
                    <p v-if="isSaving">
                        Uploading {{ fileCount }} files...
                    </p>
                </div>
            </form>
            <!--SUCCESS-->
            <div v-if="isSuccess">
                <h3>Upload successful.</h3>
                <p>
                <span class="interactive" @click="reset()">Upload again</span>
                </p>
            </div>
            <!--FAILED-->
            <div v-if="isFailed">
                <h3>Upload failed.</h3>
                <p>
                <span class="interactive" @click="reset()">Try again</span>
                </p>
                <pre>{{ uploadError }}</pre>
            </div>
        </div>
    </div>
</template>

<style scoped lang="less">
    .profile-summary {
        display: flex;
        flex-direction: column;
        background-color: @white-background-color;
        padding: 24px;
        position: relative;
        width: 700px;
        margin-bottom: 16px;
        .normal-shadow();

        .org-details {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .org-desc {
            font-size: 12px;
            color: @light-grey-color;
        }

        .profile-picture {
            width: 128px;
            height: 128px;
            margin-right: 24px;
            border-radius: 50%;
            background-image: url('~@/assets/user-profile-placeholder.svg');
            background-position: center center;
            background-size: contain;
            background-color: @white-background-color;
        }

        .user-org {
            color: @light-grey-color;
        }

        input[type=text] {
            display: inline-block;
            width: auto;
            margin-right: 6px;
            line-height: 36px;
            margin-bottom: 0px;
        }
    }

    .edit-link {
        color: #3D9DFF;
        font-size: 14px;
        position: absolute;
        top: 24px;
        right: 24px;
    }

    .delete-link {
        .edit-link();
        top: auto;
        bottom: 24px;
        color: @red-warning-color;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Debounce } from 'vue-debounce-decorator';
import { Organisation } from '@/types/Organisation';
import { OrganisationApi } from '@/services/organisation.api';
import { FileUpload } from '@/services/file.upload';


@Component({
    props: {
        /**
         * @vue-prop {Organisation} organisation - Organisation to be displayed by the component.
         * @property {Organisation} organisation - Organisation to be displayed by the component.
         */
        organisation: {
            type: Object as () => Organisation,
            required: true
        },
        /**
         * @vue-prop {String} congtext - the context where the component is rendered ('org-list')
         * @property {String} congtext - the context where the component is rendered ('org-list')
         */
        context: {
            type: String,
            default: 'org-list'
        }
    },
    components: {
    },
    watch: {
        organisation: function (val) {
            this.$data.currentOrg = val;
        },
    }
})
/**
 * Card component to display the details of an Organisation.
 * @vue-data {Organisation} currentOrg - Organisation passed as a prop and to be displayed by the component.
 * @vue-data {boolean} editMode - true if the details are editable.
 * @vue-data {string} profile_pic_url - URL to the image of the Organisation.
 */
export default class UiOrganisationCard extends Vue {
    currentOrg : Organisation = this.$props.organisation || { org_id: 0, org_name: '', org_desc: ''};
    editMode : boolean = false;
    profile_pic_url : string = '';

    //temp data
    profile_pic : string = '';

    uploadedFiles: Array<File> = [];
    uploadError: string = '';
    currentStatus: number = 0;
    uploadFieldName: string = 'org_image';

    STATUS_INITIAL : number = 0; 
    STATUS_SAVING : number = 1;
    STATUS_SUCCESS : number = 2;
    STATUS_FAILED : number = 3;

    get org_id() { 
        return this.currentOrg.org_id;
    }

    /*get profile_pic() : string {
        if(this.currentOrg.usr_image != null) {
            return 'data:image/jpeg;base64,'+this.currentOrg.usr_image;
        }
        else {
            return "";
        }
    }*/

    get isInitial() : boolean {
        return this.currentStatus === this.STATUS_INITIAL;
    }
    get isSaving() : boolean {
        return this.currentStatus === this.STATUS_SAVING;
    }

    get isSuccess() : boolean {
        return this.currentStatus === this.STATUS_SUCCESS;
    }

    get isFailed() : boolean {
        return this.currentStatus === this.STATUS_FAILED;
    }

    get isInEditMode() : boolean {
        return this.editMode;
    }

    reset() {
        // reset form to initial state
        this.currentStatus = this.STATUS_INITIAL;
        this.uploadedFiles = [];
        this.uploadError = '';
        this.profile_pic_url = '';
    }

    save(formData : FormData) {
        // upload data to the server
        this.currentStatus = this.STATUS_SAVING;
        const fileAPI = new FileUpload();
        const payload : {OrgId: string, formData: FormData} = {OrgId: this.currentOrg.org_id.toString(), formData: formData};

        //console.log("Save", payload);

        fileAPI.orgImgUpload(payload)
        .then(x => {
            this.uploadedFiles = [].concat(x);
            this.currentStatus = this.STATUS_SUCCESS;
            this.fetchOrganisation();
        })
        .catch(err => {
            this.currentStatus = this.STATUS_FAILED;
            this.uploadError = err.response.data.message;
        });
    }

    filesChange(fieldName : string, fileList : File[]) {
        // handle file changes
        const formData = new FormData();

        if (!fileList.length) return;

        // append the files to FormData
        Array
          .from(Array(fileList.length).keys())
          .map(x => {
            formData.append(fieldName, fileList[x], fileList[x].name);
          });

        // save it
        this.save(formData);
    }

    fetchOrganisation() {
        const orgApi = new OrganisationApi();
        orgApi.fetchOrganisation(this.org_id.toString()).then(
            org => {
                //console.log("Fetching org", org);
                //cloning to temp local object for direct modification without triggering changes to store object
                this.currentOrg = { ...org};
                //this.$store.dispatch('setUser', org);
            });
    }

    /**
     * Method to toggle the edition flag.
     * Called when clicking on the Edit (Bearbeiten) button
     */
    enableEdition() {
        this.editMode = !this.editMode;
        if(!this.editMode) {
            this.reset();
        }
    }

    /**
     * Debounced call of the method editUser to
     * auto-save free-text input
     */
    @Debounce(750)
    editOrgDebounced() {
        this.editOrganisation();
    }
    
    /**
     * Method that instantiate the User API then
     * calls its editUser function with the User object
     * as payload
     */
    editOrganisation() {
        const orgApi = new OrganisationApi();
        orgApi.editOrganisation(this.currentOrg)
        .then(res => {
            this.$log.info("Organisation updated - edit response", res);
            this.fetchOrganisation();
        });
    }

    deleteOrg() {
        const api = new OrganisationApi();
        api.deleteOrganisation(this.currentOrg.org_id)
        .then(res => {
            this.$log.info("Organisation deleted - deleteOrg response", res);
            this.$emit("deletedActivity");
        });
    }

    /**
     * Debounced call of the method editImageURL to
     * auto-save free-text input
     */
    /*@Debounce(750)
    editImageURLDebounced() {
        this.editImageURL();
    }*/
    
    /**
     * Method that instantiate the Users API then
     * calls its editUser function with the Project object
     * as payload
     */
    /*editImageURL() {
        this.currentStatus = this.STATUS_SAVING;
        const api = new OrganisationApi();
        api.editImageURL({usr_id: this.currentOrg.usr_id, url: this.profile_pic_url})
        .then( res => {
            this.$log.info("User profile pic updated from URL", this.profile_pic_url);
            this.currentStatus = this.STATUS_SUCCESS;
            this.fetchOrganisation();
            this.$store.dispatch('setUserPicture', this.currentOrg.usr_image);
        })
        .catch( err => {
            console.log("editImageUrl", err.response);
            this.currentStatus = this.STATUS_FAILED;
            this.uploadError = err.response.data.message;
        });
    }*/
}
</script>
