<template>
    <div class="profile-summary">

        <div class="user-details">
            <UiAccessControl role="usr_org_admin" :orgId="currentUser.usr_org_id">
                <span @click="deleteUser" class="interactive delete-link" v-if="context='users-list'">Löschen</span>
            </UiAccessControl>

            <div class="interactive" @click="enableEditPicture">
                <img src="~@/assets/user-profile-placeholder.svg" alt="" class="profile-picture" v-if="profile_pic==''"/>
                <img :src="profile_pic" alt="" class="profile-picture" v-else/>
            </div>
            <div v-if="!editMode">
                <p>
                    <span v-if="!editFirstname" @click="enableEditFirstname">{{ currentUser.usr_name_first | capitalize }} </span>
                    <input ref="inputFirstname" type="text" v-model="currentUser.usr_name_first" placeholder="Vorname" 
                    @keydown="editUserDebounced" @blur="editFirstname=false" v-if="editFirstname"/>

                    <span v-if="!editLastname" @click="enableEditLastname">{{ currentUser.usr_name | uppercase}}</span>
                    <input ref="inputLastname" type="text" v-model="currentUser.usr_name" placeholder="Name" 
                    @keydown="editUserDebounced" @blur="editLastname=false" v-if="editLastname" />
                </p>
                <p><span class="user-org">{{ currentUser.usr_org_name | formatOrgName }}</span></p>
                <p>{{ currentUser.usr_email }}</p>
            </div>
        </div>
    
        <div>
            <!--UPLOAD-->
            <form enctype="multipart/form-data" novalidate v-if="(isInitial || isSaving) && editPicture">
                <h3>Upload user picture</h3>
                <div class="dropbox">
                    <input ref="inputPicture" type="file" :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                    accept="image/*" class="input-file">
                    <input type="text" v-model="profile_pic_url" placeholder="Image URL" @keydown="editImageURLDebounced" />
                    <!--<p v-if="isInitial">
                        Drag your file(s) here to begin<br> or click to browse
                    </p>-->
                    <p v-if="isSaving">
                        Uploading {{ fileCount }} files...
                    </p>
                </div>
            </form>
            <!--SUCCESS-->
            <div v-if="isSuccess">
                <h3>Upload erfolgreich.</h3>
                <p>
                <span class="interactive" @click="reset()">Neues Bild hochladen</span>
                </p>
            </div>
            <!--FAILED-->
            <div v-if="isFailed">
                <h3>Upload fehlgeschlagen.</h3>
                <p>
                <span class="interactive" @click="reset()">Neuer Versuch</span>
                </p>
                <pre>{{ uploadError }}</pre>
            </div>
        </div>
    </div>
</template>

<style scoped lang="less">
    .profile-summary {
        display: flex;
        flex-direction: column;
        background-color: @default-panel-background-color;
        padding: 24px;
        position: relative;
        width: 700px;
        margin-bottom: 16px;
        .normal-shadow();

        .user-details {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .profile-picture {
            width: 128px;
            height: 128px;
            margin-right: 24px;
            border-radius: 50%;
            background-image: url('~@/assets/user-profile-placeholder.svg');
            background-position: center center;
            background-size: contain;
            background-color: @default-panel-background-color;
        }

        .user-org {
            color: @dark-grey;
        }

        input[type=text] {
            display: inline-block;
            width: auto;
            margin-right: 6px;
            line-height: 36px;
            margin-bottom: 0px;
        }
    }

    .edit-link {
        color: #3D9DFF;
        font-size: 14px;
        position: absolute;
        top: 24px;
        right: 24px;
    }

    .delete-link {
        .edit-link();
        top: auto;
        bottom: 24px;
        color: @red-warning-color;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Debounce } from 'vue-debounce-decorator';
import { User } from '@/types/User';
import { Organisation } from '@/types/Organisation';
import { UserApi } from '@/services/user.api';
import { OrganisationApi } from '@/services/organisation.api';
import { FileUpload } from '@/services/file.upload';
import UiAccessControl from '@/components/general/UiAccessControl.vue';


@Component({
    props: {
        user: {
            type: Object as () => User,
            required: true
        },
        context: {
            type: String,
            default: 'user-profile'
        }
    },
    components: {
        UiAccessControl
    },
    watch: {
        user: function (val) {
            this.$data.currentUser = val;
        },
    }
})
/**
 * Card component to display a User of the application and allows to edit their profile.
 */
export default class UiUserCard extends Vue {
    currentUser : User = this.$props.user || { usr_email: '', usr_id: 0, usr_name: '', usr_name_first: '', usr_org_name: ''};
    editMode : boolean = false;
    editFirstname : boolean = false;
    editLastname : boolean = false;
    editPicture : boolean = false;
    profile_pic_url : string = '';

    uploadedFiles: Array<File> = [];
    uploadError: string = '';
    currentStatus: number = 0;
    uploadFieldName: string = 'usr_image';

    STATUS_INITIAL : number = 0; 
    STATUS_SAVING : number = 1;
    STATUS_SUCCESS : number = 2;
    STATUS_FAILED : number = 3;

    allOrganisations : Organisation[] = new Array<Organisation>();

    get user_id() { 
        return this.$store.getters.userId;
    }

    get profile_pic() : string {
        if(this.currentUser.usr_image != null) {
            return 'data:image/jpeg;base64,'+this.currentUser.usr_image;
        }
        else {
            return "";
        }
    }

    get isInitial() : boolean {
        return this.currentStatus === this.STATUS_INITIAL;
    }
    get isSaving() : boolean {
        return this.currentStatus === this.STATUS_SAVING;
    }

    get isSuccess() : boolean {
        return this.currentStatus === this.STATUS_SUCCESS;
    }

    get isFailed() : boolean {
        return this.currentStatus === this.STATUS_FAILED;
    }

    get isInEditMode() : boolean {
        return this.editMode;
    }

    reset() {
        // reset form to initial state
        this.currentStatus = this.STATUS_INITIAL;
        this.uploadedFiles = [];
        this.uploadError = '';
        this.profile_pic_url = '';
    }

    save(formData : FormData) {
        // upload data to the server
        this.currentStatus = this.STATUS_SAVING;
        const fileAPI = new FileUpload();
        const payload : {UserId: string, formData: FormData} = {UserId: this.currentUser.usr_id.toString(), formData: formData};

        //console.log("Save", payload);

        fileAPI.userImgUpload(payload)
        .then(x => {
            this.uploadedFiles = [].concat(x);
            this.currentStatus = this.STATUS_SUCCESS;
            this.fetchUser();
        })
        .catch(err => {
            this.currentStatus = this.STATUS_FAILED;
            this.uploadError = err.response.data.message;
        });
    }

    enableEditFirstname() {
        if(this.$store.getters.userId == this.currentUser.usr_id) {
            this.editFirstname = true;
            this.$nextTick(function () {   
                (this.$refs.inputFirstname as any).focus();           
            })
        }
    }

    enableEditLastname() {
        if(this.$store.getters.userId == this.currentUser.usr_id) {
            this.editLastname = true;
            this.$nextTick(function () {   
                (this.$refs.inputLastname as any).focus();           
            })
        }
    }

    enableEditPicture() {
        if(this.$store.getters.userId == this.currentUser.usr_id) {
            this.editPicture = true;
            this.$nextTick(function () {   
                (this.$refs.inputPicture as any).focus();           
            })
        }
    }

    filesChange(fieldName : string, fileList : File[]) {
        // handle file changes
        const formData = new FormData();

        if (!fileList.length) return;

        // append the files to FormData
        Array
          .from(Array(fileList.length).keys())
          .map(x => {
            formData.append(fieldName, fileList[x], fileList[x].name);
          });

        // save it
        this.save(formData);
    }

    fetchUser() {
        const userApi = new UserApi();
        //console.log("FetchUser", this.user_id);
        userApi.fetchUser(this.user_id).then(
            (user:User) => {
                //console.log("Fetching user", user);
                //cloning to temp local object for direct modification without triggering changes to store object
                this.currentUser = { ...user};
                this.$store.dispatch('setUser', user);
            });
    }

    fetchAllOrganisations() {
        const api = new OrganisationApi();
        api.fetchOrganisations().then(response => {
            this.allOrganisations = response.filter((org : Organisation) => this.$store.getters.orgAdmin.includes(org.org_id));
        });
    }

    /**
     * Method to toggle the edition flag.
     * Called when clicking on the Edit (Bearbeiten) button
     */
    enableEdition() {
        this.editMode = !this.editMode;
        if(!this.editMode) {
            this.reset();
        }
        else {
            //we fetch the list of all Organisations at the time when a user decides to edit.
            this.fetchAllOrganisations();
        }
    }

    /**
     * Debounced call of the method editUser to
     * auto-save free-text input
     */
    @Debounce(750)
    editUserDebounced() {
        this.editUser();
    }
    
    /**
     * Method that instantiate the User API then
     * calls its editUser function with the User object
     * as payload
     */
    editUser() {
        const api = new UserApi();
        api.editUser(this.currentUser)
        .then( ( res:User ) => {
            this.$log.info("User profile updated - editProject response", res);
            this.fetchUser();
        })
        .catch( ( err:any ) => {
            this.$log.error("User profile updated FAILED", err);
        });
    }

    deleteUser() {
        const api = new UserApi();
        api.deleteUser(this.currentUser.usr_id)
        .then( ( res:User ) => {
            this.$log.info("User profile deactivated - deleteUser response", res);
            this.fetchUser();
        });
    }

    /**
     * Debounced call of the method editImageURL to
     * auto-save free-text input
     */
    @Debounce(750)
    editImageURLDebounced() {
        this.editImageURL();
    }
    
    /**
     * Method that instantiate the Users API then
     * calls its editUser function with the Project object
     * as payload
     */
    editImageURL() {
        this.currentStatus = this.STATUS_SAVING;
        const api = new UserApi();
        api.editImageURL({usr_id: this.currentUser.usr_id, url: this.profile_pic_url})
        .then( ( res:User ) => {
            this.$log.info("User profile pic updated from URL", this.profile_pic_url);
            this.currentStatus = this.STATUS_SUCCESS;
            this.fetchUser();
            this.$store.dispatch('setUserPicture', this.currentUser.usr_image);
        })
        .catch( ( err:any ) => {
            //console.log("editImageUrl", err.response);
            this.currentStatus = this.STATUS_FAILED;
            this.uploadError = err.response.data.message;
        });
    }
}
</script>
