<template>
  <div class="sub-page">
        <div class="grid-title">
            <h4>
                Organisationen
            </h4>
        </div>

        <div class="grid">
            <div class="row headers">
                <div class="cell">
                    Organisation
                </div>
                <div class="cell">
                    Verwaltung
                </div>
                <div class="cell">
                    Projektleitung
                </div>
                <div class="cell">
                    Mitarbeit
                </div>
            </div>


            <div class="row" v-for="(user, index) in permsList" :key="'org-'+user.uog_org_id">
                <div class="cell">
                    {{ user.uog_org_name | formatOrgName }}
                </div>
                <div class="cell interactive" @click="togglePermission(index,'ros-oadm')">
                    <span v-if="user.uog_roles_codes.includes('ros-oadm')">
                        <img class="icon" :src="checkmarkIcon" />
                    </span>
                </div>
                <div class="cell interactive" @click="togglePermission(index,'ros-opl')">
                    <span v-if="user.uog_roles_codes.includes('ros-opl')">
                        <img class="icon" :src="checkmarkIcon" />
                    </span>
                </div>
                <div class="cell interactive" @click="togglePermission(index,'ros-oemp')">
                    <span v-if="user.uog_roles_codes.includes('ros-oemp')">
                        <img class="icon" :src="checkmarkIcon" />
                    </span>
                </div>
            </div>
        </div>
  </div>
</template>

<style lang="less">
    .grid-title {
        display: flex;
        justify-content: space-between;

        select {
            width: auto;
        }
    }

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        border-bottom: 1px solid @subtle-grey-border;

        &:first-of-type {
            border-top: 1px solid @subtle-grey-border;
            background-color: @light-grey;
        }
    }

    .cell {
        padding: 20px;
        min-height: 30px;
        border-right: 1px solid @subtle-grey-border;

        &:first-of-type {
            display: flex;
            justify-content: space-between;
            border-left: 1px solid @subtle-grey-border;
            background-color: @light-grey;
        }

        &:not(:first-of-type) {
            text-align: center;
        }
    }

    .headers {
        .bold-text();
    }

    .note {
        color: @light-grey-color;
    }

    .icon {
        width: 14px;
        height: 14px;
        background-color: @light-grey;
        border-radius: 50%;
        padding: 4px;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { User } from '@/types/User' // User type
import { UserOrganisation } from '@/types/UserOrganisation' // UserOrganisation type
import { Organisation } from '@/types/Organisation' // Organisation type
import { PermissionsApi } from '@/services/permissions.api';
import { OrganisationApi } from '@/services/organisation.api';

@Component<UiUserOrganisations>({
    props: {
        user: {
            type: Object as () => User,
            required: true,
        }
    },
    components: {
    },
    watch: {
        user: function (val) {
            this.fetchData();
        },
    }
})

/**
 * Display of all the organisations for which the user has roles and permissions
 * @vue-data {boolean} loading - Loading status
 * @vue-data {UserOrganisation[]} permsList - List of loaded User Organisation Permissions
 */
export default class UiUserOrganisations extends Vue {
    loading : boolean = false;
    foundPermissions : UserOrganisation[] = Array<UserOrganisation>();
    permsList : UserOrganisation[] = Array<UserOrganisation>();
    allOrganisations : Organisation[] = Array<Organisation>();

    get checkmarkIcon() {
        return require("@/assets/icon-checkmark.svg");
    }

    created () {
        // fetch the data when the view is created and the data is
        // already being observed
        //this.fetchData();
        //this.fetchAllOrganisations();
    };

    reset() {
        this.permsList = Array<UserOrganisation>();
        this.foundPermissions = Array<UserOrganisation>();
        this.fetchData();
    }

    /**
     * Method to retrieve the list of Projects to be displayed in the list
     */
    fetchData () {
        this.loading = true;
        const api = new PermissionsApi();
        //api.fetchAllUsersOrganisation(Number(this.$route.params.orgId))
        api.fetchUserAllOrganisations(this.$props.user.usr_id)
        .then((response) => {
            this.foundPermissions = response;
            this.loading = false;
            this.parseUserOrganisations();
            //console.log('Project list fetchData response', response);
        })
        .catch((e) => {
            this.$log.error('Users list fetchData error', e);
        });
    }

    fetchAllOrganisations() {
        const api = new OrganisationApi();
        api.fetchMultipleOrganisation(this.$store.getters.orgAdmin).then(response => {
            this.allOrganisations = response.filter((org:Organisation) => {
                return this.$store.getters.isSuperAdmin || this.$store.getters.orgAdmin.includes(org.org_id);
            });
        });
    }

    parseUserOrganisations() {
        this.foundPermissions.forEach((perm:UserOrganisation) => {
            if(!this.permsList.find((usr:UserOrganisation) => usr.uog_org_id == perm.uog_org_id)) {
            perm.uog_roles_codes = new Array(perm.uog_role_code);
            this.permsList.push(perm);
            }
            else {
            let usr : UserOrganisation = this.permsList.find((usr:UserOrganisation) => usr.uog_org_id == perm.uog_org_id)!;
            if(!usr.uog_roles_codes!.includes(perm.uog_role_code)) {
                usr.uog_roles_codes!.push(perm.uog_role_code);
            }
            }
        })
    }

    togglePermission(index : number, role : string) {
        const api = new PermissionsApi();
        if(index != undefined) {
            if(this.permsList[index].uog_roles_codes!.includes(role)) {
                api.deleteUserOrganisation(this.permsList[index].uog_usr_id, this.permsList[index].uog_org_id, role)
                .then( response => {
                    let newPerms = this.permsList[index];
                    newPerms.uog_roles_codes!.splice(newPerms.uog_roles_codes!.indexOf(role),1);
                    Vue.set(this.permsList, index, newPerms);
                })
            }
            else {
                api.addUserOrganisation(this.permsList[index].uog_usr_id, this.permsList[index].uog_org_id, role)
                .then( response => {
                    let newPerms = this.permsList[index];
                    newPerms.uog_roles_codes!.push(role);
                    Vue.set(this.permsList, index, newPerms);
                })
            }
        }
    }
}
</script>
