<template>
  <div class="sub-page">
        <div class="grid-title">
            <h4>
                Projekte
            </h4>
        </div>

        <div class="grid">
            <div class="row headers">
                <div class="cell">
                    Projekt
                </div>
                <div class="cell">
                    Verwaltung
                </div>
                <div class="cell">
                    Schreibberechtigung
                </div>
                <div class="cell">
                    Leseberechtigung
                </div>
            </div>


            <div class="row" v-for="(user, index) in permsList" :key="'pro-'+user.upr_pro_id">
                <div class="cell">
                    {{ user.upr_pro_name }}
                </div>
                <div class="cell interactive" @click="togglePermission(index,'ros-padm')">
                    <span v-if="user.upr_roles_codes.includes('ros-padm')">
                        <img class="icon" :src="checkmarkIcon" />
                    </span>
                </div>
                <div class="cell interactive" @click="togglePermission(index,'ros-pwr')">
                    <span v-if="user.upr_roles_codes.includes('ros-pwr')">
                        <img class="icon" :src="checkmarkIcon" />
                    </span>
                </div>
                <div class="cell interactive" @click="togglePermission(index,'ros-prd')">
                    <span v-if="user.upr_roles_codes.includes('ros-prd')">
                        <img class="icon" :src="checkmarkIcon" />
                    </span>
                </div>
            </div>
        </div>
  </div>
</template>

<style lang="less">
    .grid-title {
        display: flex;
        justify-content: space-between;

        select {
            width: auto;
        }
    }

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        border-bottom: 1px solid @subtle-grey-border;

        &:first-of-type {
            border-top: 1px solid @subtle-grey-border;
            background-color: @light-grey;
        }
    }

    .cell {
        padding: 20px;
        min-height: 30px;
        border-right: 1px solid @subtle-grey-border;

        &:first-of-type {
            display: flex;
            justify-content: space-between;
            border-left: 1px solid @subtle-grey-border;
            background-color: @light-grey;
        }

        &:not(:first-of-type) {
            text-align: center;
        }
    }

    .headers {
        .bold-text();
    }

    .note {
        color: @light-grey-color;
    }

    .icon {
        width: 14px;
        height: 14px;
        background-color: @light-grey;
        border-radius: 50%;
        padding: 4px;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { User } from '@/types/User' // User type
import { UserProject } from '@/types/UserProject' // UserProject type
import { Organisation } from '@/types/Organisation' // Organisation type
import { PermissionsApi } from '@/services/permissions.api';
//import { OrganisationApi } from '@/services/organisation.api';

@Component<UiUserProjects>({
    props: {
        user: {
            type: Object as () => User,
            required: true,
        }
    },
    components: {
    },
    watch: {
        user: function (val) {
            this.fetchData();
        },
    }
})

/**
 * Display of all the Projects for which the user has roles and permissions
 * @vue-data {boolean} loading - Loading status
 * @vue-data {UserProject[]} permsList - List of loaded User Organisation Permissions
 */
export default class UiUserProjects extends Vue {
    loading : boolean = false;
    foundPermissions : UserProject[] = Array<UserProject>();
    permsList : UserProject[] = Array<UserProject>();
    allOrganisations : Organisation[] = Array<Organisation>();

    get checkmarkIcon() {
        return require("@/assets/icon-checkmark.svg");
    }

    created () {
        // fetch the data when the view is created and the data is
        // already being observed
        //this.fetchData();
        //this.fetchAllOrganisations();
    };

    reset() {
        this.permsList = Array<UserProject>();
        this.foundPermissions = Array<UserProject>();
        this.fetchData();
    }

    /**
     * Method to retrieve the list of Projects to be displayed in the list
     */
    fetchData () {
        this.loading = true;
        const api = new PermissionsApi();
        //api.fetchAllUsersOrganisation(Number(this.$route.params.orgId))
        api.fetchUserAllProjects(this.$props.user.usr_id)
        .then((response) => {
            this.foundPermissions = response;
            this.loading = false;
            this.parseUserProjects();
            //console.log('Project list fetchData response', response);
        })
        .catch((e) => {
            this.$log.error('Users list fetchData error', e);
        });
    }

    parseUserProjects() {
        this.foundPermissions.forEach((perm:UserProject) => {
            if(!this.permsList.find((usr:UserProject) => usr.upr_pro_id == perm.upr_pro_id)) {
            perm.upr_roles_codes = new Array(perm.upr_role_code);
            this.permsList.push(perm);
            }
            else {
            let usr : UserProject = this.permsList.find((usr:UserProject) => usr.upr_pro_id == perm.upr_pro_id)!;
            if(!usr.upr_roles_codes!.includes(perm.upr_role_code)) {
                usr.upr_roles_codes!.push(perm.upr_role_code);
            }
            }
        })
    }

    togglePermission(index : number, role : string) {
        const api = new PermissionsApi();
        if(index != undefined) {
            if(this.permsList[index].upr_roles_codes!.includes(role)) {
                api.deleteUserProject(this.permsList[index].upr_usr_id, this.permsList[index].upr_pro_id, role)
                .then( response => {
                    let newPerms = this.permsList[index];
                    newPerms.upr_roles_codes!.splice(newPerms.upr_roles_codes!.indexOf(role),1);
                    Vue.set(this.permsList, index, newPerms);
                })
            }
            else {
                api.addUserProject(this.permsList[index].upr_usr_id, this.permsList[index].upr_pro_id, role)
                .then( response => {
                    let newPerms = this.permsList[index];
                    newPerms.upr_roles_codes!.push(role);
                    Vue.set(this.permsList, index, newPerms);
                })
            }
        }
    }
}
</script>
