<template>
  <div class="sub-page">
    <UiUserCard
    v-for="user in usersList"
    :key="user.usr_id"
    :user="user"
    context="users-list"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { User } from '@/types/User' // Project type
import { UserApi } from '@/services/user.api';

import UiUserCard from '@/components/user/UiUserCard.vue';

@Component({
  components: {
    UiUserCard
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  }
})

/**
 * List of Projects to be displayed typically (but not exclusively) on a page
 * @vue-data {boolean} loading - Loading status
 * @vue-data {Project[]} projectsList - List of loaded Projects
 * @vue-data {String} error - Error message if fetchData failed
 */
export default class UiUserList extends Vue {
    loading = false;
    usersList = Array<User>();
    error = "";

    created () {
      // fetch the data when the view is created and the data is
      // already being observed
      this.fetchData()
    };

    /**
     * Method to retrieve the list of Projects to be displayed in the list
     */
    fetchData () {
      this.loading = true;
      const api = new UserApi();
      api.fetchUsers()
      .then((response) => {
        this.usersList = response.filter((usr : User) => {
          return this.$store.getters.isSuperAdmin || this.$store.getters.orgAdmin.includes(usr.usr_org_id);
        });
        this.loading = false;
        //console.log('Project list fetchData response', response);
      })
      .catch((e) => {
        this.$log.error('Users list fetchData error', e);
      });
    }
}
</script>
