<template>
  <nav id="user-nav">
      <div>
        <router-link :to="{ name: 'user-profile', params: {userId: userId} }">Mein Profil</router-link>
      </div>

      <UiAccessControl role="app-admin">
        <router-link :to="{ name: 'users-list' }">Personenliste</router-link>
        <router-link :to="{ name: 'user-creation' }">Neue Personen</router-link>
        <router-link :to="{ name: 'organisations-list' }">Organisationenliste</router-link>
        <router-link :to="{ name: 'organisation-creation' }">Neue Organisation</router-link>
      </UiAccessControl>
  </nav>
</template>

<style scoped lang="less">
  #user-nav {
    display: flex;
    align-items: center; 
    margin: 0px;
    margin-bottom: 16px;

    a {
      display: inline-block;
      margin-right: 40px;
      font-size: 14px;
      color: @default-text-color;
      text-decoration: none;
      text-transform: capitalize;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      padding: 0px;
    }
  }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import UiAccessControl from '@/components/general/UiAccessControl.vue';

@Component({
    components: {
        UiAccessControl
    }
})
/**
 * Sub navigation component to browse sub-pages inside the User Management page
 */
export default class UiUserNavigation extends Vue {
  get userId() {
    return this.$store.getters.userId;
  }

  get orgId() {
      return this.$store.getters.orgId;
  }
};
</script>
