<template>
    <div class="sub-page">
        <div v-if="user.usr_app_admin == true">Diese Person hat <strong>Verwaltungsrechte für die Plattform</strong>.</div>
        <!--<div class="layout-grid">
            <UiUserOrganisations :user="user" />
            <UiUserProjects :user="user" />
        </div>-->
        <div>
            <UiUserOrganisations :user="user" />
        </div>
        <div>
            <UiUserProjects :user="user" />
        </div>
    </div>
</template>

<style scoped lang="less">
    .layout-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { User } from '@/types/User' // User type
import UiUserOrganisations from '@/components/user/UiUserOrganisations.vue';
import UiUserProjects from '@/components/user/UiUserProjects.vue';

@Component({
    props: {
        user: {
            type: Object as () => User,
            required: true,
        }
    },
    components: {
        UiUserOrganisations,
        UiUserProjects
    }
})
/**
 * Display of all the roles and permissions for a specific user
 */
export default class UiUserPermissions extends Vue {
};
</script>
