<template>
    <div clasS="grid">
        <div class="row headers">
            <!-- TODO documemt or change for clarity -->
            <div class="cell">
                Personen einladen<br />
            </div>
            <div class="cell" v-if="context=='project'">
                Verwaltung
            </div>
            <div class="cell" v-else>
                Verwaltung Organisation
            </div>
            <div class="cell" v-if="context=='project'">
                Schreibberechtigung
            </div>
            <div class="cell" v-else>
                Projektleitung
            </div>
            <div class="cell" v-if="context=='project'">
                Leseberechtigung
            </div>
            <div class="cell" v-else>
                Mitarbeit
            </div>
        </div>
        <div class="row">
            <div class="cell flex-column">
                <input type="text" v-model="mailAddress" placeholder="Personen über E-Mail Adresse einladen"/>
                <div class="details-button interactive" @click="inviteUser">Einladen</div>
            </div>
            <div class="cell interactive" @click="togglePermission('ros-padm')" v-if="context=='project'">
                <span v-if="userProject.upr_roles_codes.includes('ros-padm')">
                    <img class="icon" :src="checkmarkIcon" />
                </span>
            </div>
            <div class="cell interactive" @click="togglePermission('ros-oadm')" v-else>
                <span v-if="userOrganisation.uog_roles_codes.includes('ros-oadm')">
                    <img class="icon" :src="checkmarkIcon" />
                </span>
            </div>

            <div class="cell interactive" @click="togglePermission('ros-pwr')" v-if="context=='project'">
                <span v-if="userProject.upr_roles_codes.includes('ros-pwr')">
                    <img class="icon" :src="checkmarkIcon" />
                </span>
            </div>
            <div class="cell interactive" @click="togglePermission('ros-opl')" v-else>
                <span v-if="userOrganisation.uog_roles_codes.includes('ros-opl')">
                    <img class="icon" :src="checkmarkIcon" />
                </span>
            </div>

            <div class="cell interactive" @click="togglePermission('ros-prd')" v-if="context=='project'">
                <span v-if="userProject.upr_roles_codes.includes('ros-prd')">
                    <img class="icon" :src="checkmarkIcon" />
                </span>
            </div>
            <div class="cell interactive" @click="togglePermission('ros-oemp')" v-else>
                <span v-if="userOrganisation.uog_roles_codes.includes('ros-oemp')">
                    <img class="icon" :src="checkmarkIcon" />
                </span>
            </div>
        </div>
    </div>
</template>

<style scoped lang="less">

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        border-bottom: 1px solid @subtle-grey-border;

        &:first-of-type {
            border-top: 1px solid @subtle-grey-border;
            background-color: @light-grey;
        }
    }

    .cell {
        padding: 20px;
        min-height: 30px;
        border-right: 1px solid @subtle-grey-border;

        &:first-of-type {
            display: flex;
            justify-content: space-between;
            border-left: 1px solid @subtle-grey-border;
            background-color: @light-grey;
        }

        &:not(:first-of-type) {
            text-align: center;
        }
    }

    .icon {
        width: 14px;
        height: 14px;
        background-color: @light-grey;
        border-radius: 50%;
        padding: 4px;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { User } from '@/types/User'; // User type
import { UserOrganisation } from '@/types/UserOrganisation'; // UserOrganisation type
import { UserProject } from '@/types/UserProject'; // UserProject type
import { PermissionsApi } from '@/services/permissions.api';
import { UserApi } from '@/services/user.api';

@Component({
    props: {
        context: {
            type: String,
            default: 'project'
        },
        proId: {
            type: [String, Number],
            required: false
        },
        orgId: {
            type: [String, Number],
            required: false
        }
    },
    components: {
    }
})
/**
 * Display of all the roles and permissions for a specific user
 */
export default class UiUserFinder extends Vue {
    mailAddress : string = '';
    foundUser : User = {usr_email: '', usr_id: -1, usr_name: '', usr_name_first: ''};
    userProject : UserProject = {upr_pro_id: this.$props.projectId, upr_role_code: '', upr_usr_id: -1, upr_roles_codes: []};
    userOrganisation : UserOrganisation = {uog_org_id: this.$props.orgId, uog_role_code: '', uog_usr_id: -1, uog_roles_codes: []};

    get checkmarkIcon() {
        return require("@/assets/icon-checkmark.svg");
    }

    resetFinder() {
        this.mailAddress = '';
        this.foundUser = {usr_email: '', usr_id: -1, usr_name: '', usr_name_first: ''};
        this.userProject = {upr_pro_id: this.$props.projectId, upr_role_code: '', upr_usr_id: -1, upr_roles_codes: []};
        this.userOrganisation = {uog_org_id: this.$props.orgId, uog_role_code: '', uog_usr_id: -1, uog_roles_codes: []};
    }

    togglePermission(role : string) {
        const api = new PermissionsApi();
        if(this.$props.context == 'project') {
            if(this.userProject.upr_roles_codes!.includes(role)) {
                this.userProject.upr_roles_codes!.splice(this.userProject.upr_roles_codes!.indexOf(role),1);
            }
            else {
                this.userProject.upr_roles_codes!.push(role);
            }
        }
        else if(this.$props.context == 'organisation') {
            if(this.userOrganisation.uog_roles_codes!.includes(role)) {
                this.userOrganisation.uog_roles_codes!.splice(this.userOrganisation.uog_roles_codes!.indexOf(role),1);
            }
            else {
                this.userOrganisation.uog_roles_codes!.push(role);
            }
        }
    }

    inviteUser() {
        const api = new UserApi();
        api.fetchUserByEmail(this.mailAddress)
        .then(response => {
            if(response.length > 0) {
                this.foundUser = response[0];
                if(this.$props.context == 'project') {
                    if(this.userProject.upr_roles_codes!.length>0) {
                        //create permissions
                        //console.log("Creating permissions for ", this.mailAddress);
                        const api = new PermissionsApi();
                        let role_count = 0;
                        this.userProject.upr_roles_codes!.forEach((role:string) => {
                            api.addUserProject(this.foundUser.usr_id, this.$props.proId.toString(), role)
                            .then(response => {
                                role_count++;
                                if(role_count == this.userProject.upr_roles_codes!.length) {
                                    //all roles have been added
                                    this.$toast.success('Einladung erfolgreich.');
                                    //we populate the rest of the data
                                    this.userProject.upr_pro_id = this.$props.proId;
                                    this.userProject.upr_usr_id = this.foundUser.usr_id;
                                    this.userProject.upr_usr_name = this.foundUser.usr_name;
                                    this.userProject.upr_usr_name_first = this.foundUser.usr_name_first;
                                    //we emit it back to the parent list
                                    this.$emit("NewProjectUser", this.userProject);
                                    //reset the finder to prepare for next addition
                                    this.resetFinder();

                                }
                            });
                        });
                    }
                    else {
                        this.$toast.error('Wählen Sie mindestens 1 Rolle aus.');
                    }
                }
                else if(this.$props.context == 'organisation') {
                    if(this.userOrganisation.uog_roles_codes!.length>0) {
                        //create permissions
                        //console.log("Creating permissions for ", this.mailAddress);
                        const api = new PermissionsApi();
                        let role_count = 0;
                        this.userOrganisation.uog_roles_codes!.forEach((role:string) => {
                            api.addUserOrganisation(this.foundUser.usr_id, this.$props.orgId.toString(), role)
                            .then(response => {
                                role_count++;
                                if(role_count == this.userOrganisation.uog_roles_codes!.length) {
                                    //all roles have been added
                                    this.$toast.success('Einladung erfolgreich.');
                                    //we populate the rest of the data
                                    this.userOrganisation.uog_org_id = this.$props.orgId;
                                    this.userOrganisation.uog_usr_id = this.foundUser.usr_id;
                                    this.userOrganisation.uog_usr_name = this.foundUser.usr_name;
                                    this.userOrganisation.uog_usr_name_first = this.foundUser.usr_name_first;
                                    //we emit it back to the parent list
                                    this.$emit("NewOrganisationUser", this.userOrganisation);
                                    //reset the finder to prepare for next addition
                                    this.resetFinder();
                                }
                            });
                        });
                    }
                    else {
                        this.$toast.error('Wählen Sie mindestens 1 Rolle aus.');
                    }
                } 
            }
            else {
                this.$toast.error('Es konnte keine Person mit dieser E-Mail-Adresse gefunden werden.');
            }
        });
    }
};
</script>
