<template>
  <div class="sub-page">
    <h3>Neue Personen einladen</h3>
    <div>
        <input type="email" v-model="currentUser.usr_email" placeholder="Email" @blur="checkEmail" />
        <input type="text" v-model="currentUser.usr_name_first" placeholder="Vorname" />
        <input type="text" v-model="currentUser.usr_name" placeholder="Name" />
        <select v-model="currentUser.usr_org_id">
            <option value="" disabled selected>Wählen Sie eine Organisation aus</option>
            <option v-for="org in allOrganisations" :key="org.org_id" :value="org.org_id">{{org.org_name}}</option>
        </select>
        <input type="text" v-model="currentUser.usr_pw" placeholder="Kennwort" />
        <div id="user-create-button" class="details-button interactive" 
        :class="{'disabled' : !isUserReady}"
        @click="saveUser">Einladung versenden</div>
    </div>
  </div>
</template>

<style scoped lang="less">
    #user-create-button {
        margin-top: 32px;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { User } from '@/types/User';
import { Organisation } from '@/types/Organisation';
import { UserApi } from '@/services/user.api';
import { OrganisationApi } from '@/services/organisation.api';

@Component({
    components: {
    }
})
/**
 * Form to create a new User
 */
export default class UiUserNew extends Vue {
    currentUser : User = { usr_email: '', usr_id: 0, usr_name: '', usr_name_first: '', usr_org_id: -1, usr_org_name: ''};
    allOrganisations : Organisation[] = new Array<Organisation>();

    mounted() {
        this.fetchAllOrganisations();
    }

    formReset() {
        this.currentUser = { usr_email: '', usr_id: 0, usr_name: '', usr_name_first: '', usr_org_id: -1, usr_org_name: ''};
    }

    fetchAllOrganisations() {
        const api = new OrganisationApi();
        api.fetchMultipleOrganisation(this.$store.getters.orgAdmin).then(response => {
            this.allOrganisations = response.filter((org:Organisation) => {
                return this.$store.getters.isSuperAdmin || this.$store.getters.orgAdmin.includes(org.org_id);
            });
        });
    }

    checkEmail() {
        if(this.currentUser.usr_email != '') {
            const api = new UserApi();
            api.fetchUserByEmail(this.currentUser.usr_email)
            .then( ( response : User[] ) => {
                if(response.length > 0) {
                    this.$toast.error('A user with this e-mail address already exist.');
                }
                else {
                    this.$toast.success('This e-mail address is not used by an existing user.');
                }
            });
        }
    }

    get isUserReady() : boolean {
        return this.currentUser.usr_email != '' 
        && this.currentUser.usr_pw != '' 
        && this.currentUser.usr_name_first != '' 
        && this.currentUser.usr_name != ''
        && this.currentUser.usr_org_id! > 0;
    }

    /**
     * Method to save the User, then reset the form.
     */
    saveUser() {
        //this.hideModal();
        //this.$emit("newActivity", this.currentActivity);
        const api = new UserApi();
        api.createUser(this.currentUser).then( ( response : User ) => {
            if(response.usr_id > 0) {
                this.formReset();
            }
        });
    }

}
</script>
