.interactive() {
    cursor: pointer;
}

.unselectable() {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.normal-shadow() {
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.06);
}

.strong-shadow() {
    box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.06);
}

.flex-row() {
    display: flex;
    flex-flow: row;
} 

.flex-column() {
    display: flex;
    flex-flow: column;
}

.flex-wrap() {
    flex-wrap: wrap;
}

.align-center() {
    align-items: center;
}

.align-start() {
    align-items: flex-start;
}

.justify-between() {
    justify-content: space-between;
}

.justify-center() {
    justify-content: center;
}

.bold-text() {
    font-variation-settings: 'wght' 500;
    //font-weight: 500;
}

.normal-text() {
    font-variation-settings: 'wght' 300;
    //font-weight: 300;
}

.h1() {
    font-size: 22px;
    letter-spacing: 0.2px;
    font-weight: 300;
}

.h2() {
    font-size: 20px;
    letter-spacing: 0.2px;
    font-weight: 300;
}

.h3() {
    font-size: 18px;
    letter-spacing: 0.2px;
    font-weight: 300;
}

.h4() {
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 300;
}

.h5() {
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 300;
}

.h6() {
    font-size: 12px;
    letter-spacing: 0.2px;
    font-weight: 300;
}

.break-word {
    -ms-word-break: break-all;
    -ms-word-wrap: break-all;
    -webkit-word-break: break-word;
    -webkit-word-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}