@default-text-color: #000000;
@link-text-color: #000000;
@accent-text-color: #FFFFFF; /*00FFD1*/
@accent-background-color: #030303; /*00FFD1*/

@light-grey-color: #D8D8D8;
@red-warning-color: #CC3333;

@error-color: #FF887A;
@warning-color: #FFE37F;
@success-color: #7CD79F;

@light-grey: #D8D8D8;
@dark-grey: #979797;
@darkest-grey : #323232;
@black: #000000;
@white: #FFFFFF;

@default-button-color: #FFFFFF; /* 3B3B3B */
@default-button-background-color: #C3C3C3; /*@light-grey*/
@hover-button-background-color: @dark-grey;
@highlight-background-color: #9EFFCE;

@medium-grey-background-color: #ECECEC;
@white-background-color: #FFFFFF;
@default-panel-background-color: #FFFFFF;
@focus-panel-background-color: #D3FFE9;

@subtle-grey-border: #EEE;

@default-background-color: #EEE9E0; /* ECF3F2 */
@notification-bg-color: #3C91FF;

@edit-link-color: #3D9DFF;

@highlight-border-color: @black;
@highlight-shadow-color: rgba(119, 119, 119, 0.4);

//@conception-color : #C3DAFF;
@conception-color : #7E92FF;
//@planning-color : #FFC3C3;
@planning-color : #FF808F;
//@realisation-color : #C3FFC8;
@realisation-color : #7DFF7D;
//@maintenance-color : #FFF7C3;
@maintenance-color : #FFEE7D;

//@role-bg-color-1 : #D5D4E9;
@role-bg-color-1 : #C6F1A9;
//@role-bg-color-2 : #D1FFEE;
@role-bg-color-2 : #A7F9D4;
//@role-bg-color-3 : #FFC6B7;
@role-bg-color-3 : #AFFFF3;
//@role-bg-color-4 : #B2E4FC;
@role-bg-color-4 : #B1E3DA;
//@role-bg-color-5 : #DEFBAE;
@role-bg-color-5 : #7CD7CA;
//@role-bg-color-6 : #FEE3A4;
@role-bg-color-6 : #A1EFEE;
//@role-bg-color-7 : #FCC3E3;
@role-bg-color-7 : #B8DEEB;
//@role-bg-color-8 : #FFAAAA;
@role-bg-color-8 : #ACCCDC;