<template>
    <div class="inline-block" v-if="checkAccess">
        <slot />
    </div>
</template>

<style scoped lang="less">
    .inline-block {
        display: inline-block;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
    props: {
        /**
         * @vue-prop {String} role - name of the role required to access what's encapsulated (guarded)
         * @property {String} role - name of the role required to access what's encapsulated (guarded)
         */
        role: {
            type: String,
            default: ''
        },
        /**
         * @vue-prop {String[]} roles - array of the roles possible to get access to what's encapsulated (guarded)
         * @property {String[]} roles - array of the roles possible to get access to what's encapsulated (guarded)
         */
        roles: {
            type: Array
        },
        /**
         * @vue-prop {[String, Number]} proId - id of the Project which access is required.
         * @vue-prop {[String, Number]} proId - id of the Project which access is required.
         */
        proId: {
          type: [String, Number],
          required: false
        },
        /**
         * @vue-prop {[String, Number]} proId - id of the Organisation which access is required.
         * @vue-prop {[String, Number]} proId - id of the Organisation which access is required.
         */
        orgId: {
          type: [String, Number],
          required: false
        },
        /**
         * @vue-prop {[String, Number]} proId - id of the User which access is required.
         * @vue-prop {[String, Number]} proId - id of the User which access is required.
         */
        usrId: {
          type: [String, Number],
          required: false
        }
    },
    components: {
    }
})
/**
 * Component used to encapsulate a part of the application in order 
 * to verify the credentials of the user before giving access to it.
 * It compare the roles of the user with the role(s) defined, as well 
 * as verify that the entity (Project, Organisation or User) is in scope of this/these roles.
 */
export default class UiAccessControl extends Vue {

    /**
     * Main method that verify if the conditions, required to access the resource, are met.
     */
    get checkAccess() {
        let access : boolean = false;
        if(this.$props.roles != undefined && this.$props.roles.length > 0) {
            this.$props.roles.forEach((role : string) => {
                if(this.hasPermission(role)) {
                    access = true;
                };
            });
        }
        else {
            return this.hasPermission(this.$props.role);
        }
        return access;
    }

    /**
     * Sub-method (called by checkAccess) that contain the rules to determine if permission is valid.
     */
    hasPermission (role : string) {
        if(this.$store.getters.userRoles.includes(role)) {
            switch(role) {
                case 'app-admin':
                    //having the role app-admin is enough
                    return true;
                case 'usr_org_admin':
                    return this.$props.orgId == undefined || this.$store.getters.orgAdmin.includes(Number(this.$props.orgId));
                case 'usr_org_pl':
                    return this.$props.orgId == undefined || this.$store.getters.orgPL.includes(Number(this.$props.orgId));
                case 'usr_org_emp':
                    return this.$props.orgId == undefined || this.$store.getters.orgEmp.includes(Number(this.$props.orgId));
                case 'usr_pro_admin':
                    return this.$props.proId == undefined || this.$store.getters.proAdmin.includes(Number(this.$props.proId));
                case 'usr_pro_read':
                    return this.$props.proId == undefined || this.$store.getters.proRead.includes(Number(this.$props.proId));
                case 'usr_pro_write':
                    return this.$props.proId == undefined || this.$store.getters.proWrite.includes(Number(this.$props.proId));
                case 'usr_id': //an app admin OR an org admin for the user's org OR the user themselves
                    return this.$store.getters.userRoles.includes('app-admin') 
                    || (
                    this.$store.getters.userRoles.includes('usr_org_admin') 
                    && this.$store.getters.orgAdmin.includes(Number(this.$props.orgId))
                    ) 
                    || this.$store.getters.userId == Number(this.$props.usrId);
                default:
                    return false;
            }
        }
        return false;
        //return this.$store.getters.userRoles.includes(this.$props.role);
    }
}
</script>