<template>
    <div class="accordion">
        <div class="accordion-header" @click="toggleAccordion">
            <span class="fold-sign" 
                :class="[{'expanded': !accordionCollapsed}]">
            </span>
            <slot name="header" />
        </div>
        <div class="accordion-body" :class="accordionCollapsed ? '' : 'expanded'">
            <slot name="body" />
        </div>
    </div>
</template>

<style scoped lang="less">
    .accordion {
        background-color: @white-background-color;

        .fold-sign {
            display: inline-block;
            margin-left: 16px;
            margin-right: 32px;
            height: 8px;
            width: 8px;
            vertical-align: middle;
            border-right: 1px solid @default-text-color;
            border-bottom: 1px solid @default-text-color;
            transform: rotate(-45deg);
            transition: all 400ms;

            &.expanded {
                transform: rotate(45deg);
            }
        }

        &:last-of-type {
            margin-bottom: 0px;
        }

        .accordion-header {
            .flex-row();
            .align-center();
            .interactive();
            position: relative;
            line-height: 32px;
        }

        .accordion-body {
            height: 0px;
            overflow: hidden;
            padding: 0px 58px;
            transition: height 400ms;

            h5:first-of-type {
                margin-top: 0px;
            }

            &.expanded {
                height: auto;
            }
        }
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component<UiAccordion>({
    name: 'UiAccordion',
    props: {
    },
    components: {
    }
})
/**
 * Accordion to display nested content.
 */
export default class UiAccordion extends Vue {
    accordionCollapsed : boolean = true;

    toggleAccordion() {
        this.accordionCollapsed = !this.accordionCollapsed;
    }
}
</script>