<template>
    <UiModal v-if="showModal" @close="hideModal" :footer=false width="400px">
        <template v-slot:header>
            <h2><slot name="header"></slot></h2>
        </template>
        <template v-slot:body>
            <div id="modal-body">
                <div id="main-panel">
                    <slot name="body"></slot>
                    <div class="buttons">
                        <div class="details-button primary interactive" @click="accept">{{ acceptText }}</div>
                        <div class="details-button-outline interactive" @click="reject">{{ rejectText }}</div>
                    </div>
                </div>
            </div>
        </template>
    </UiModal>
</template>

<style scoped lang="less">
    #modal-body {
        display: flex;
    }

    #main-panel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-right: 24px;
        position: relative;
        text-transform: initial;
        font-size: 14px;
        text-align: left;

        & > p {
            width: 100%;
        }

        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                margin: 8px;
            }
        }
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import UiModal from '@/components/general/UiModal.vue';

@Component<UiConfirmationModal>({
    props: {
        /**
         * @vue-prop {Boolean} display - Defines if the modal window is displayed
         * @property {Boolean} display - Defines if the modal window is displayed
         */
        display: {
            type: Boolean,
            default: false,
        },
        /**
         * @vue-prop {String} acceptText - Stores the text to display on the accept button
         * @property {String} acceptText - Stores the text to display on the accept button
         */
        acceptText: {
            type: String,
            default: 'Ja'
        },
        /**
         * @vue-prop {String} rejectText - Stores the text to display on the reject button
         * @property {String} rejectText - Stores the text to display on the reject button
         */
        rejectText: {
            type: String,
            default: 'Nein'
        }
    },
    components: {
        UiModal
    },
    watch: {
        display: function(val) {
            if(val) {
                this.displayModal();
            }
            else {
                this.hideModal();
            }
        }
    }
})
/**
 * Modal component invoked for confirmation of critical actions (eg. deletion or permissions change)
 */
export default class UiConfirmationModal extends Vue {
    showModal : boolean = false;
    loading : boolean = false;

    /**
     * Method to enable the display of the modal window.
     */
    displayModal() {
        //console.log("displayModal");
        this.showModal = true;
        this.$root.$emit('globalModal', {modalActive : true});
    }

    /**
     * Method to hide the modal window by changing the relevant flag.
     */
    hideModal() {
        this.showModal = false;
        this.$emit('hide');
        this.$root.$emit('globalModal', {modalActive : false});
    }

    /**
     * Method called by the accept button to emit an accept event to the parent component
     */
    accept() {
        this.$emit('accept');
        this.hideModal();
    }

    /**
     * Method called by the reject button to emit a reject event to the parent component
     */
    reject() {
        this.$emit('reject');
        this.hideModal();
    }
}
</script>
