<template>
    <div id="api-switcher" class="interactive" :class="visible ? 'visible' : ''">
        <p>Environment : <strong>{{ environment }}</strong></p>
        <p>current API : <strong>{{ currentAPIMode }}</strong> ({{ currentBaseUrl }})</p>
    </div>
</template>

<style scoped lang="less">
    #api-switcher {
        position: fixed;
        display: flex;
        height: 100px;
        flex-direction: column;
        padding: 16px;
        background-color: fade(@medium-grey-background-color,80%);
        right: 64px;
        bottom: -180px;
        z-index: 30;
        box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.06);
        border: 1px solid @medium-grey-background-color;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        transition: bottom 400ms;

        &.visible {
            bottom: 0px;
            transition: bottom 400ms;
        }
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {
  },
  props: {
  }
})
/**
 * Dev widget to switch API URL
 */
export default class UiDevAPISwitcher extends Vue {
    visible : boolean = false;
    debugString : string = '';

    /**
     * When mounted the component default to the real API and register an event to display environment information.
     */
    mounted() {
        if(localStorage.getItem('apiBaseUrl') == null) {
            this.$store.dispatch('setRealApiMode');
        }
        window.addEventListener("keydown", (event) => {
            if (event.ctrlKey && event.key === 'd') {
                this.toggleVisibility();
            }
        });
    }

    /**
     * Computed property to get the base URL for connection to the backend API.
     */
    get currentBaseUrl() {
        return this.$store.getters.baseUrl;
    }

    /**
     * Computed property to display which API is currently active.
     */
    get currentAPIMode() {
        return this.$store.getters.isMockupEnabled == true ? 'mockup API' : 'real    API';
    }


    /**
     * Computed property to display the current environment of the application based on environment variable.
     */
    get environment() {
        return process.env.NODE_ENV;
    }

    toggleVisibility() {
        this.visible = !this.visible;
    }
}
</script>