<template>
    <div class="text-ellipsis-wrapper" @mouseover="hover=true" @mouseleave="hover=false">
        <div v-if="input!=undefined">
            <span class="text-ellipsis" :style="whiteSpaceStyle" ref="truncated" v-html="$options.filters.highlight(input, filter)">
                <slot />
            </span>
            <span class="text-ellipsis full-display" :style="whiteSpaceFullStyle" v-html="$options.filters.highlight(input, filter)" v-if="displayFull">
                <slot />
            </span>
        </div>
        <div v-else>
            <span class="text-ellipsis" :style="whiteSpaceStyle" ref="truncated">
                <slot />
            </span>
            <span class="text-ellipsis full-display" :style="whiteSpaceFullStyle" v-if="displayFull">
                <slot />
            </span>
        </div>
    </div>
</template>

<style scoped lang="less">
    .text-ellipsis-wrapper {
        position: relative;
    }
    
    .text-ellipsis {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .full-display {
        overflow: visible;
        background-color: @white-background-color;
        min-width: 100%;
        width: auto;
        height: auto;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        top: -6px;
        left: -6px;
        padding: 6px;
        white-space: wrap;
        .strong-shadow();
    }

    .hide-full {
        display: none;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {
  },
  props: {
        /**
         * @vue-prop {Boolean} isWrappable - Defines if the text displayed by default is wrapping.
         * @property {Boolean} isWrappable - Defines if the text displayed by default is wrapping.
         */
        isWrappable: {
            type: Boolean,
            required: false,
            default: false
        },
        /**
         * @vue-prop {Boolean} isFullWrappable - Defines if the text displayed on mouseover is wrapping.
         * @property {Boolean} isFullWrappable - Defines if the text displayed on mouseover is wrapping.
         */
        isFullWrappable: {
            type: Boolean,
            required: false,
            default: false
        },
        /**
         * @vue-prop {String} bgColor - Defines the color of the background for the full text displayed on mouseover.
         * @property {String} bgColor - Defines the color of the background for the full text displayed on mouseover.
         */
        bgColor: {
            type: String,
            required: false
        },
        /**
         * @vue-prop {String} input - Stores the text to be displayed by the component.
         * @property {String} input - Stores the text to be displayed by the component.
         */
        input: {
            type: String,
            required: false
        },
        /**
         * @vue-prop {String} filter - Defines the text to highlight is the text displayed is part of a text search.
         * @property {String} filter - Defines the text to highlight is the text displayed is part of a text search.
         */
        filter: {
            type: String,
            required: false
        }
  }
})
/**
 * Display a text in an inline-block with restricted width, overflow-x hidden and reveal the full text on mouseover
 * @vue-data {boolean} hover - flag that defines if the mouse is hovering the component.
 */
export default class UiEllipsisText extends Vue {
    hover : boolean = false;

    /**
     * Returns the HTML style depending on whether the default text is wrapping or not.
     */
    get whiteSpaceStyle() : string {
        return this.$props.isWrappable ? 'white-space: wrap;' : 'white-space: nowrap;';
    }

    /**
     * Returns the HTML style depending on whether the mouseover text is wrapping or not and with the defined background color.
     */
    get whiteSpaceFullStyle() : string {
        let style = this.$props.isFullWrappable ? 'white-space: wrap;' : 'white-space: nowrap;';
        if(this.$props.bgColor != undefined) {
            style += " background-color: "+this.$props.bgColor;
        }
        return style;
    }

    /**
     * Returns the full text when the mouse is hovering the component.
     */
    get displayFull() {
        if(this.hover==true) {
            const truncated : Element = this.$refs.truncated as Element;
            //console.log("truncated.clientWidth: " + truncated.clientWidth + "truncated.scrollWidth: "+ truncated.scrollWidth);
            if(truncated.clientWidth < truncated.scrollWidth) {
                return true;
            }
            else return false;
        }
        else return false;
    }
}
</script>