<template>
        <div class="expandable" @mouseenter="hover=true" @mouseleave="hover=false" @click.stop="emitClick()">
            <span class="button-label"><slot /></span>
            <span class="cross-sign">X</span>
        </div>
</template>

<style scoped lang="less">
    .expandable {
        width: 16px;
        overflow: hidden;
        background-color: @white-background-color;

        .button-label {
            width: 0px;
            opacity: 0;
            transition: opacity 0ms;
        }

        &:hover {
            width: auto;

            .button-label {
                opacity: 1;
                width: 100%;
                transition: opacity 300ms;
            }
        }
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
    props: {
    },
    components: {
    }
})
/**
 * Display a small button that expands on mouseover with more info about its underlying action.
 * @vue-data {boolean} hover - flag that defines if the mouse is hovering the component.
 */
export default class UiExpandingButton extends Vue {
    hover : boolean = false;

    /**
     * Send a click event to the parent component when the component is clicked.
     */
    emitClick() {
        this.$emit('click');
    }
}
</script>