<template>
    <div id="nav">
        <img src="~@/assets/logo.png" height="42" class="main-logo" alt="" />
        <router-link :to="{ name: 'projects' }">Meine Transformations-Jobs</router-link>
        <!--<router-link :to="{ name: 'templates' }">Projektvorlagen</router-link>-->
        <!--<router-link :to="{ name: 'references' }">Referenzprojekte</router-link>-->

        <!--
        <router-link :to="{ name: 'projects' }">Projekte</router-link>
        <router-link :to="{ name: 'templates' }">Referenzprojekte</router-link>
        -->

        <UiUserWidget class="push-right" v-if="isLoggedIn"/>
    </div>
</template>

<style scoped lang="less">
    #nav {
        display: flex;
        flex-direction: row;
        background-color: @default-panel-background-color;
        align-items: flex-end;
        margin: 0px;
        margin-bottom: 16px;
        padding: 22px 74px;
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.03);
        /*border-bottom: 1px solid @dark-grey;*/

        a {
            display: inline-block;
            margin-right: 32px;
            color: @link-text-color;
            line-height: 28px;

            &:hover {
                text-decoration: underline;
            }
        }

        .main-logo {
            margin-right: 35px;
            align-self: center;
        }

        .partner-logo {
            align-self: center;
        }

        .push-right {
            margin-left: auto;
        }
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import UiUserWidget from '@/components/general/UiUserWidget.vue';
//import { SystemRole } from '@/types/SystemRole';


@Component({
  components: {
      UiUserWidget
  },
  props: {
  }
})
/**
 * Main navigation component for the whole web application
 */
export default class UiMainNavigation extends Vue {

    /**
     * Checks and confirms whether the current user is logged in or not.
     */
    get isLoggedIn() : boolean {
        //console.log("isLoggedIn?", this.$store.getters.userId);
        return this.$store.getters.isLoggedIn && this.$store.getters.userId != undefined;
    }
}
</script>
