<template>
    <div id="global-message" :class="[visible? 'visible':'', statusClass]">
        <span v-html="message"></span>
        <button @click="hideMessage" class="interactive" v-if="requiresAcknowledgement">OK</button>
    </div>
</template>

<style lang="less" scoped>
    #global-message {
        position: fixed;
        opacity: 0;
        top: -50px;
        left: 50%;
        width: 40%;
        min-height: 50px;
        padding-bottom: 8px;
        z-index: 100;
        transform: translateX(-50%);
        background-color: @white-background-color;
        border: 1px solid @highlight-border-color;
        border-top: 0px solid @highlight-border-color;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-style: normal;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 300ms;
        .strong-shadow();

        &.visible {
            opacity: 1;
            top: 0px;
        }

        &.log {
            color: @default-text-color;
        }

        &.info {
            color: @default-text-color;
            font-style: italic;
            border-color: @default-text-color;
        }

        &.debug {
            color: @default-text-color;
            font-family: 'Courier New', Courier, monospace;
            border-color: @default-text-color;
        }

        &.warning {
            color: @default-text-color;
            background-color: @warning-color;
            border-color: @warning-color;

            button {
                color: white;
                background-color: @warning-color;
            }
        }

        &.error {
            color: @default-text-color;
            background-color: @error-color;
            border-color: @error-color;

            button {
                color: @white;
                border-color: @white;
                background-color: @error-color;
            }
        }

        &.success {
            color: @default-text-color;
            background-color: @success-color;
            border-color: @success-color;
        }

        button {
            border: none;
            cursor: pointer;
            margin-top: 8px;
            padding: 4px 16px;
        }
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { MessageStatus } from '@/utils/MessageStatus'

@Component({
  props: {
  }
})
/**
 * General toast message display
 */
export default class UiMessageToaster extends Vue {
    timer : number = 0;
    displayTime : number = 2000;
    status : MessageStatus = MessageStatus.INFO;

    beforeDestroy () {
        clearInterval(this.timer);
    }

    get message() : string {
        return this.$store.getters.generalMessage;
    }

    get statusClass() : string {
        switch(this.status) {
            case(MessageStatus.LOG):
                return 'log';
                break;
            case(MessageStatus.DEBUG):
                return 'debug';
                break;
            case(MessageStatus.WARNING):
                return 'warning';
                break;
            case(MessageStatus.ERROR):
                return 'error';
                break;
            case(MessageStatus.SUCCESS):
                return 'success';
                break;
            case(MessageStatus.INFO):
            default:
                return 'info';
                break;
        }
    }

    get requiresAcknowledgement() : boolean {
        return (this.status==MessageStatus.ERROR || this.status==MessageStatus.WARNING);
    }

    get visible() : boolean {
        const vis : boolean = this.$store.getters.messageDisplay;
        if(vis == true) {
            this.status = this.$store.getters.messageStatus;
            if(this.status != MessageStatus.ERROR && this.status != MessageStatus.WARNING) {
                clearInterval(this.timer);
                this.timer = setInterval(this.hideMessage, this.displayTime);
            }
        }
        return vis;
    }

    hideMessage() {
        clearInterval(this.timer);
        this.$store.dispatch('setMessageDisplay', false);
    }
}
</script>