<template>
    <div class="modal-mask" @keydown.esc="closeModal">
        <div class="modal-wrapper">
            <div class="modal-container" :style="cssContainerVars">
                <div class="modal-header">
                    <slot name="header" v-if="header==true">
                        default header
                    </slot>
                    <img src="~@/assets/icon-loading-swirl.svg" class="icon-loading" alt="" v-if="loading==true"/>
                </div>

                <div class="modal-body" v-if="body==true">
                    <slot name="body">
                        default body
                    </slot>
                </div>

                <div class="modal-footer" v-if="footer==true">
                    <slot name="footer">
                        default footer
                    </slot>
                </div>

                <img v-if="noClose==false" src="~@/assets/icon-cross.svg" alt="Close window" class="modal-default-button interactive" @click="closeModal" />
            </div>
        </div>
    </div>
</template>

<style scoped lang="less">    
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: table;
        transition: opacity 0.3s ease;

        textarea {
            height: 20%;
            background-color: @white;
        }

        .modal-wrapper {
            display: table-cell;
            vertical-align: middle;
        }

        .modal-container {
            font-family: Avenir, Helvetica, Arial, sans-serif;
            position: relative;
            width: var(--width);
            height: var(--height);
            margin: 0px auto;
            //padding: 24px;
            padding: 24px 24px 16px 24px;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
            box-sizing: content-box;
            transition: all 0.3s ease;
        }

        .modal-header {
            .flex-row();

            h2, h3, p {
                margin-bottom: 0;
                margin-top: 0;
                line-height: 20px;
            }

            h2 {
                font-size: 18px;
                letter-spacing: 0.2px;
            }

            p {
                font-size: 16px;
                color: @dark-grey;
            }

            .icon-loading {
                margin-bottom: -1px;
            }
        }

        .modal-body {
            margin-top: 20px;
            height: calc(var(--height) - 40px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .modal-default-button {
            position: absolute;
            top: 24px;
            right: 24px;
            width: 16px;
            height: 16px;
        }
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component<UiModal>({
  components: {
  },
  props: {
        /**
         * @vue-prop {String} width - the width of the modal window
         * @property {String} width - the width of the modal window
         */
        width: {
            type: String,
            default: '62.5%'
        },
        /**
         * @vue-prop {String} width - the height of the modal window
         * @property {String} width - the height of the modal window
         */
        height: {
            type: String,
            //default: '80vh'
            default: 'auto'
        },
        /**
         * @vue-prop {Boolean} header - true if the modal has a header.
         * @property {Boolean} header - true if the modal has a header.
         */
        header: {
            type: Boolean,
            default: true
        },
        /**
         * @vue-prop {Boolean} body - true if the modal has a body.
         * @property {Boolean} body - true if the modal has a body.
         */
        body: {
            type: Boolean,
            default: true
        },
        /**
         * @vue-prop {Boolean} footer - true if the modal has a footer.
         * @property {Boolean} footer - true if the modal has a footer.
         */
        footer: {
            type: Boolean,
            default: true
        },
        loading: {
            type: Boolean,
            default: false
        },
        noClose: {
            type: Boolean,
            default: false
        }
  },
  /*watch: {
      loading: function(val) {
          this.contentLoading = val;
      }
  }*/
})
/**
 * General component to display a modal window
 */
export default class UiModal extends Vue {
    //contentLoading : boolean = false;

    /**
     * Computed property to set the size of the modal window based on prop passed to the component.
     */
    get cssContainerVars() : Object {
        return {
            '--width': this.$props.width,
            '--height': this.$props.height,
        };
    }

    /**
     * Method to close the modal window
     */
    closeModal() {
        this.$emit('close');
    }
}
</script>