<template>
    <div id="user-widget">
        <router-link :to="{ name: 'login' }" v-if="!isLoggedIn">Login</router-link>
        <div id="user-badge" v-if="isLoggedIn" class="interactive" :class="expanderClass" @click="toggleExpand">
            <img src="~@/assets/user-profile-placeholder.svg" alt="" class="user-badge-icon" v-if="profile_pic=='data:image/jpeg;base64,'"/>
            <img :src="profile_pic" alt="" class="user-badge-icon" v-else/>
            <div class="flex-column">
                {{ firstname | capitalize }} {{ lastname | capitalize }}<br />
                <span class="user-org">{{ orgname | formatOrgName }}</span>
            </div>
            <span class="fold-sign"></span>
        </div>
        <div id="foldableMenu" v-if="isExpanded && isLoggedIn">
            <ul>
                <li>
                    <router-link :to="{ name: 'user-profile', params: {userId: user_id }}">Account</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'impressum' }">Impressum</router-link>
                </li>
                <li>
                    <a class="interactive" id="logout-link" @click="logout">abmelden</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<style scoped lang="less">
    #nav {
        display: flex;
        flex-direction: row;
        background-color: #FFFFFF;
        margin: 0px;
        margin-bottom: 16px;
        padding: 22px 74px;
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.03);

        a {
            display: inline-block;
            margin-right: 32px;
            color: @default-text-color;
            text-transform: uppercase;
            line-height: 32px;

            &:last-of-type {
                margin-right: 0px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    #user-widget {
        position: relative;
        /*margin-right: 147px;*/

        .user-badge-icon {
            width: 32px;
            height: 32px;
            margin-right: 8px;
            background-color: @light-grey;
            border-radius: 50%;
            vertical-align: middle;
        }

        #user-badge {
            display: flex;
            align-items: center;
            padding: 0px 16px;
            font-size: 14px;

            .user-org {
                font-size: 10px;
                color: @dark-grey;
            }

            &.expanded .fold-sign {
                transform: rotate(225deg);
            }

            .fold-sign {
                display: block;
                margin-left: 16px;
                height: 8px;
                width: 8px;
                border-right: 1px solid @default-text-color;
                border-bottom: 1px solid @default-text-color;
                transform: rotate(45deg);
                transition: all 400ms;
            }
        }
    }

    #foldableMenu {
        display: block;
        width: 100px;
        padding: 16px;
        position:absolute;
        background-color: @white-background-color;
        right: 0px;
        top: 54px;
        box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.06);
        border: 1px solid @medium-grey-background-color;
        z-index: 100;

        ul {
            list-style: none;
            padding-left: 0px;
        }
    }

    #logout-link {
        width: 100%;
        /*text-align: center;*/
    } 
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { AuthApi } from '@/services/auth.api';
import { UserApi } from '@/services/user.api';
import { User } from '@/types/User';


@Component({
  components: {
  },
  props: {
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fold'
  }
})
/**
 * User widget comnponent with a foldable menu linking to user profil and logout action.
 * @vue-data {boolean} isExpanded - flag that defines if the menu is displayed or not.
 * @vue-data {User} currentUser - The User object displayed by the component.
 */
export default class UiUserWidget extends Vue {
    isExpanded : boolean = false;
    currentUser : User = { usr_email: '', usr_id: 0, usr_name: '', usr_name_first: '', usr_org_name: ''};

    /**
     * Computed property for the CSS class to show depending on the component's state.
     */
    get expanderClass() {
        return this.isExpanded ? "expanded" : "";
    }

    /**
     * Computed property for whether the user is logged-in.
     */
    get isLoggedIn() { 
        return this.$store.getters.isLoggedIn;
    }

    /**
     * Computed property for the User's first name.
     */
    get firstname() { 
        return this.$store.getters.firstname;
    }

    /**
     * Computed property for the User's last name.
     */
    get lastname() { 
        return this.$store.getters.lastname;
    }

    /**
     * Computed property for the User's Organisation's name.
     */
    get orgname() { 
        return this.$store.getters.orgName;
    }

    /**
     * Computed property for the User's email address.
     */
    get user_email() { 
        return this.$store.getters.email;
    }

    /**
     * Computed property for the User ID.
     */
    get user_id() { 
        return this.$store.getters.userId;
    }

    /**
     * Computed property for the User's profile picture.
     */
    get profile_pic() {
        if(this.$store.getters.userImage != null) {
            return 'data:image/jpeg;base64,'+this.$store.getters.userImage;
        }
        else {
            return "";
        }
    }

    /**
     * The component fetch the data for the logged-in User when mounted.
     */
    mounted() {
        this.fetchUser();
    }

    /**
     * Switch component state between expanded or folded.
     */
    toggleExpand() {
        this.isExpanded = !this.isExpanded;
    }

    /**
     * Folds the component regardless of previous state.
     */
    fold() {
        this.isExpanded = false;
    }

    /**
     * Method that handle the logout and calls the corresponding Vuex store action.
     * Then redirects the user to the login screen.
     */
    logout() {
        if(this.isLoggedIn==true) {
            const api = new AuthApi();
            //console.log("Logout sent");
            api.logout().then(res => {
                this.$store.dispatch('logout')
                .then(() => {
                    this.$router.push('/login')
                    .catch(err => {
                        this.$log.error('[Navigation Error] :' + err);
                    });
                    //the logout action could be triggered from the route that we are pushing to.
                    //the empty catch is here to prevent a redundant Navigation error
                    //https://stackoverflow.com/questions/62462276/how-to-solve-avoided-redundant-navigation-to-current-location-error-in-vue
                })
            })
            .catch(error => {
                if(error.response) {
                    //console.log("Authentication error", error.response);
                    if(error.response.data.code == 401) {
                        //TODO implement token refresh mechanism
                        //console.log("Authentication error 401", error.response.data.message);
                        this.$store.dispatch('logout')
                        .then(() => {
                            this.$router.push('/login')
                            .catch(err => {
                                this.$log.error('[Navigation Error] :' + err);
                            });
                            //the logout action could be triggered from the route that we are pushing to.
                            //the empty catch is here to prevent a redundant Navigation error
                            //https://stackoverflow.com/questions/62462276/how-to-solve-avoided-redundant-navigation-to-current-location-error-in-vue
                        })
                    }
                }
            });
        }
    }

    /**
     * API calls to retrieve the data related to logged-in user.
     */
    fetchUser() {
        if(this.user_id != undefined || this.$store.getters.userId != undefined) {
            const userApi = new UserApi();
            //console.log("Fetching user");
            userApi.fetchUser(this.user_id).then( (user:User) => {
                this.currentUser = user;
                this.$store.dispatch('setUser', this.currentUser);
            });
        }
    }
}
</script>
