<template>
  <div class="page">
    <h2 v-if="context=='list'">Meine Transformations-Jobs</h2>
    <p><em>Jobs, auf die Sie direkten Zugriff haben.</em></p>
    <UiProjectTemplateNavigation context='template' v-if="context=='list'" />
    <UiProjectList context='project-list' />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import UiProjectTemplateNavigation from '@/components/project/UiProjectTemplateNavigation.vue';
import UiProjectList from '@/components/project/UiProjectList.vue';

@Component({
  components: {
    UiProjectTemplateNavigation,
    UiProjectList
  }
})

/**
 * Main Project page to display a list of Projects
 * @vue-data {boolean} loading - Loading status
 */
export default class PageProjects extends Vue {
    loading = false;
    context = 'list';
    //log = useLogger();
    testObject = {name: "test", type: 'object'};

    mounted() {
      // using $log
      //this.$log.debug('Test Debug Message', this.testObject);
      //this.$log.info('Test Info Message', this.testObject);
      //this.$log.warn('Test Warn Message', this.testObject);
      //this.$log.error('Test Error Message', this.testObject);
    }
}
</script>
