<template>
  <div class="page">
      <div class="sub-page">
        <img src="~@/assets/logo.png" class="main-logo" alt="" />

        <h2 class="mt-3 text-center" v-if="maintenanceMode">Wartungsarbeiten</h2>
        <section v-if="maintenanceMode">
            <p>Die GEOL_BIM WebApp wird derzeit gewartet und ist demnächst wieder online.</p>
            <p>Bitte schauen Sie später wieder vorbei.</p>
            <p>Besten Dank.</p>
            <p class="mt-1 text-right"><i>Kunden Support / Service Desk</i></p>
        </section>

        <h2 class="mt-3 green text-center" v-if="!maintenanceMode">Wartungsarbeiten abgeschlossen</h2>
        <section v-if="!maintenanceMode">
            <p>Wir bedanken uns für Ihre Geduld.</p>
            <p>Bitte klicken Sie auf die Schaltfläche unten, um zur GEOL_BIM WebApp zurückzukehren.</p>
            <p class="mt-1 text-right"><i>Kunden Support / Service Desk</i></p>

            <router-link 
                :to="{ name: 'project-list'}" 
                class="details-button primary" v-if="!maintenanceMode">
                <span>Zurück zur GEOL_BIM WebApp</span>
            </router-link>
        </section>

      </div>
  </div>
</template>

<style scoped lang="less">
    .red {
        color: red;
    }
    .orange {
        color: orange;
    }
    .green {
        color: green
    }

    section {
        //margin-top: 16px;
        //padding-top: 8px;
        //border-top: 1px solid @dark-grey;
        background-color: @default-panel-background-color;
        padding: 16px 16px;
        margin-bottom: 16px;
        width: 40%;
        margin-left: auto;
        margin-right: auto;

        h3:first-of-type {
            margin-top: 0px;
        }
    }

    .main-logo {
        display: block;
        margin: 0px auto;
        text-align: center;
        width: 120px;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { StatusRetriever } from '@/utils/StatusRetriever';

@Component({
  components: {
  }
})
/**
 * Maintenance page to display a notice when the website is under maintenance
 */
export default class PageMaintenance extends Vue {
    checkAgain : number = -1;

    beforeCreate() {
        this.$store.dispatch('setMaintenanceMode', true);
    }

    mounted() {
        this.checkStatus();
        this.checkAgain = setInterval(() => {
            this.checkStatus();
        }, 10000);
    }

    beforeDestroy() {
        clearInterval(this.checkAgain);
    }

    checkStatus() {
        const api = new StatusRetriever();
        api.fetchStatus()
        .then(res => {
            if(res.api_version != process.env.VUE_APP_API_VERSION) {
                this.$store.dispatch('setMaintenanceMode', true);
            }
            else {
                this.$store.dispatch('setMaintenanceMode', false);
            }
        })
        .catch(error => {
            if (503 === error.response.status || 404 === error.response.status) {
                this.$store.dispatch('setMaintenanceMode', true);
            }
        });
    }

    get maintenanceMode() : boolean {
        return this.$store.getters.maintenanceModeActive;
    }
}
</script>
