<template>
  <div class="page">
        <div id="registration-form">
            <img src="~@/assets/logo.png" class="main-logo" alt="" />
            <div class="registration-panel">
                <h2>Registrierung</h2>
                <form>
                    <select ref="usr_title" required v-model="title" @blur="validateFieldOnBlur($event)">
                        <option value="" disabled selected>Anrede *</option>
                        <option value="Frau">Frau</option>
                        <option value="Herr">Herr</option>
                    </select>
                    <input ref="usr_company" type="text" autocomplete="organization" placeholder="Firma" v-model="company" />
                    <input ref="usr_name_first" type="text" autocomplete="given-name" required placeholder="Vorname *" v-model="firstName" @blur="validateFieldOnBlur($event)" />
                    <input ref="usr_name" type="text" autocomplete="family-name" required placeholder="Name *" v-model="lastName" @blur="validateFieldOnBlur($event)" />
                    <input ref="usr_email" type="email" autocomplete="email" required placeholder="E-mail (Anmeldename) *" v-model="email" @blur="validateFieldOnBlur($event)" />
                    <input ref="usr_pw" type="password" autocomplete="new-password" required placeholder="Kennwort *" v-model="password" @blur="validateFieldOnBlur($event)"/>
                    <input ref="usr_pw_confirm" type="password" autocomplete="confirm-password" required placeholder="Kennwort bestätigen *" v-model="confirm" @blur="validateFieldOnBlur($event)"/>
                    <input ref="usr_phone" type="text" autocomplete="tel" required placeholder="Telefon *" v-model="phone" @blur="validateFieldOnBlur($event)" />
                    <input ref="usr_address_street" type="text" autocomplete="street-address" required placeholder="Strasse *" v-model="street" @blur="validateFieldOnBlur($event)" />
                    <!--<input ref="usr_address_box" type="text" required placeholder="Postfach" v-model="pobox" @blur="validateFieldOnBlur($event)" />-->
                    <input ref="usr_address_postcode" type="text" autocomplete="postal-code" required placeholder="PLZ *" v-model="zip" @blur="validateFieldOnBlur($event)" />
                    <input ref="usr_address_town" type="text" autocomplete="address-level2" required placeholder="Ort *" v-model="city" @blur="validateFieldOnBlur($event)" />
                    <select ref="usr_address_country" autocomplete="country" required v-model="country">
                        <option value="" disabled selected>Land *</option>
                        <option v-for="country in countryList" :key="country" :value="country">{{ country }}</option>
                    </select>
                    <div class="text-left">
                        <input ref="usr_confirmed_agb" type="checkbox" name="accept_agb" id="accept_agb" v-model="accept_agb" :class="accept_agb ? 'checked':''" @click="log($event)"/> – 
                        <label for="accept_agb" class="sm-text">Ich akzeptiere die <a href="https://www.kunde.ch/AGB.html" target="_blank">Allgemeinen Kunden-Geschäftsbedingungen</a> *</label>
                    </div>
                    <div class="details-button interactive mt-3 flex-row" :class="loading?'disabled':''" @click="register">Registrieren</div>
                    <div v-if="loading"><img src="~@/assets/icon-loading-swirl.svg" class="icon-loading" alt="" /> Registrierung läuft</div>
                    <div v-if="status!=''" class="status">{{ status }}</div>
                    <div v-if="confirmation!=''" class="confirmation">{{ confirmation }}</div>
                </form>
                <div>
                    <router-link class="details-button-outline mt-1 interactive" :to="{ name: 'login' }">Zurück zur Anmeldung</router-link>
                </div>
                <div class="status">
                    <strong>Hinweis:</strong> Die Nutzung der GEOL_BIM WebApp ist voraussichtlich bis Anfang 2022 <strong>kostenfrei</strong>.
                </div>
            </div>
        </div>
  </div>
</template>

<style scoped lang="less">
    #registration-form {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        text-align: center;

        .registration-panel {
            background-color: @default-panel-background-color;
            padding: 18px 32px;
            .strong-shadow();

            .status  {
                padding: 8px;
            }

            .confirmation {
                padding: 8px;
                background-color: @success-color;
            }
        }

        .main-logo {
            margin-bottom: 48px;
            width: 120px;
        }
    }

    .error {
        border-right: 8px solid @red-warning-color;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { AuthApi } from '@/services/auth.api';
import { UserApi } from '@/services/user.api';
import { AppStates } from '@/utils/AppStates';
import { User } from '@/types/User';


@Component({})
/**
 * Login page
 */
export default class PageRegister extends Vue {
    title : string = "";
    company : string = "";
    email : string = "";
    password : string = "";
    confirm : string = "";
    firstName : string = "";
    lastName : string = "";
    phone : string = "";
    street : string = "";
    pobox : string = "";
    zip : string = "";
    city : string = "";
    country : string = "";

    accept_agb : boolean = false;
    accept_query : boolean = false;

    loading : boolean = false;
    message : string = "";
    status : string = "";
    confirmation : string = "";
    error_count : number = 0;
    token : string = "";

    mounted() {
        this.$store.dispatch('setcurrentAppState' , AppStates.LOGIN );
        this.confirmation = '';
        this.status = '';
    }

    //NOT USED
    checkEmail() {
        if(this.email != '') {
            const api = new UserApi();
            api.fetchUserByEmail(this.email)
            .then( ( response : User[] ) => {
                if(response.length > 0) {
                    this.$toast.error('A user with this e-mail address already exist.');
                }
                else {
                    this.$toast.success('This e-mail address is not used by an existing user.');
                }
            });
        }
    }

    get countryList() {
        return ["Schweiz","Deutschland","Frankreich","Liechtenstein","Italien","Albanien",
        "Andorra","Belgien","Bulgarien","Dänemark","Finnland","Griechenland","Vereinigtes Königreich",
        "Irland","Island","Luxemburg","Malta","Monaco","Niederlande","Norwegen","Österreich","Polen",
        "Portugal","Rumänien","San Marino","Schweden","Spanien","Türkei","Ungarn","Vatikanstadt","Zypern",
        "Slowakei","Tschechien","Serbien","Kroatien","Slowenien","Bosnien und Herzegowina","Montenegro",
        "Nordmazedonien","Kosovo","Estland","Lettland","Litauen","Moldova","Russland","Ukraine","Belarus",
        "Äquatorialguinea","Äthiopien","Dschibuti","Algerien","Angola","Botsuana","Burundi","Benin","Cote d'Ivoire",
        "Gabun","Gambia","Ghana","Guinea-Bissau","Guinea","Kamerun","Cabo Verde","Kenia","Komoren","Kongo (Brazzaville)",
        "Kongo (Kinshasa)","Lesotho","Liberia","Libyen","Madagaskar","Malawi","Mali","Marokko","Mauretanien","Mauritius",
        "Mosambik","Niger","Nigeria","Burkina Faso","Simbabwe","Ruanda","Sambia","São Tomé und Príncipe","Senegal",
        "Seychellen","Sierra Leone","Somalia","Südafrika","Sudan","Namibia","Eswatini","Tansania","Togo","Tschad",
        "Tunesien","Uganda","Ägypten","Zentralafrikanische Republik","Eritrea","Südsudan","Argentinien","Bahamas",
        "Barbados","Bolivien","Brasilien","Chile","Costa Rica","Dominikanische Republik","Ecuador","El Salvador",
        "Guatemala","Guyana","Haiti","Belize","Honduras","Jamaika","Kanada","Kolumbien","Kuba","Mexiko","Nicaragua",
        "Panama","Paraguay","Peru","Suriname","Trinidad und Tobago","Uruguay","Venezuela","Vereinigte Staaten",
        "Dominica","Grenada","Antigua und Barbuda","St. Lucia","St. Vincent und die Grenadinen","St. Kitts und Nevis",
        "Afghanistan","Bahrain","Bhutan","Brunei Darussalam","Myanmar","Sri Lanka","China","Indien","Indonesien",
        "Irak","Iran","Israel","Japan","Jemen","Jordanien","Kambodscha","Katar","Kuwait","Laos","Libanon","Malaysia",
        "Malediven","Oman","Mongolei","Nepal","Korea (Nord-)","Vereinigte Arabische Emirate","Pakistan","Philippinen",
        "Saudi-Arabien","Singapur","Korea (Süd-)","Syrien","Thailand","Vietnam","Bangladesch","Timor-Leste","Armenien",
        "Aserbaidschan","Georgien","Kasachstan","Kirgisistan","Tadschikistan","Turkmenistan","Usbekistan","Australien",
        "Fidschi","Nauru","Vanuatu","Neuseeland","Papua-Neuguinea","Tonga","Samoa","Salomoninseln","Tuvalu","Kiribati",
        "Marshallinseln","Mikronesien","Palau","Cookinseln"];
    }

    log(evt : any) {
        //console.log(evt);
    }

    validateForm() {
        this.error_count = 0;
        this.validateField('usr_name_first');
        this.validateField('usr_email');
        this.validateField('usr_pw');
        this.validateField('usr_pw_confirm');
        this.validateField('usr_name');
        this.validateField('usr_title');
        this.validateField('usr_phone');
        this.validateField('usr_address_street');
        this.validateField('usr_address_town');
        this.validateField('usr_address_postcode');
        this.validateField('usr_address_town');
        this.validateField('usr_address_country');
        this.validateField('usr_confirmed_agb');
        //this.validateField('usr_confirmed_query');

        if(this.error_count == 0) {
            return true;
        }
        else {
            this.$toast.error(
            'Bitte überprüfen Sie, ob alle erforderlichen Felder ausgefüllt sind.');
            return false;
        }
    }

    validateField(ref : string) {
        const field : any = this.$refs[ref];
        let result : boolean = false;
        if(field != undefined) {
            switch(field.type) {
                case 'email':
                    result = this.validateData(field.value, field.type);
                    break;
                case 'checkbox':
                    result = this.validateData(field.checked.toString(), 'checked');
                    //console.log("ValidateField", field, result);
                    break;
                case 'text':
                case 'password':
                case 'select':
                default:
                    result = this.validateData(field.value, 'required');
                    break;
            }
            if(result == false) {
                this.error_count++;
                field.classList.add('error');
            }
        }
        return result;
    }

    validateData(value : string, rule : string) {
        if(rule == 'password') {
            return value != value.toLowerCase();
        }
        else if(rule == 'email') {
            return this.validateEmail(value);
        }
        else if(rule == 'required') {
            return value != '';
        }
        else if(rule == 'checked') {
            return value == 'true';
        }
        else return false;
    }

    validateFieldOnBlur(evt : any) {
        let rule : string = '';
        //if(evt.target.type == 'password' || evt.target.type == 'mail') {
        if(evt.target.type == 'mail') {
            rule = evt.target.type;
        }
        else if(evt.target.required) {
            rule = 'required';
        }

        let result : boolean = this.validateData(evt.target.value, rule);

        if(result == false) {
            evt.target.classList.add("error");
        }
        else {
            evt.target.classList.remove("error");
        }
    }

    validateEmail(email : string) {
        const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }

    register() {
        if(!this.loading && this.validateForm() && this.password == this.confirm) {
            //console.log("Form is valid");
            //return true;
            this.status = '';
            this.message = '';
            this.loading = true;
            const api = new AuthApi();
            const payload = { usr_email : this.email,
                usr_name : this.lastName,
                usr_name_first : this.firstName,
                usr_pw : this.password,
                url: window.location.origin + '/activate/',
                usr_address_country: this.country,
                usr_address_postcode: this.zip,
                usr_address_street: this.street,
                usr_address_town: this.city,
                usr_company: this.company,
                usr_confirmed_agb: this.accept_agb,
                usr_confirmed_query: this.accept_query,
                usr_phone: this.phone,
                usr_title: this.title
            };
            //console.log("Login send", payload);
            api.register(payload)
            .then(res => {
                this.loading = false;
                this.$toast.success(
                'Registrierung erfolgreich. Ein Bestätigungsmail wurde versendet.');

                this.confirmation = "Registrierung erfolgreich. Ein Bestätigungsmail wurde versendet.";

                this.$router
                .push({name: 'login'})
                .catch(err => {
                    this.$log.error('[Navigation Error] :' + err);
                });
            })
            .catch(err => {
                this.loading = false;
                this.status = 'Registrierung fehlgeschlagen.';
                this.$log.error("Registration failed", err.details);
                if(Object.keys(err.details).length > 0) {
                    const fieldsInError = Object.keys(err.details);
                    fieldsInError.forEach((field:string) => {
                        let currentField : any = this.$refs[field];
                        if(currentField != undefined) {
                            currentField.classList.add('error');
                        }
                    });
                }
            });
        }
        else {
            if(this.password != this.confirm) {
                this.$toast.error(
                'Bitte stellen Sie sicher, dass Sie zweimal dasselbe Kennwort eingegeben haben.');
            }
            //console.log("Form is INVALID");
        }
    }
}
</script>
