<template>
  <div class="page">
    <h2>Referenzprojekte</h2>
    <UiProjectTemplateNavigation context='reference'/>
    <UiProjectList type="reference" context='template-list' />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import UiProjectTemplateNavigation from '@/components/project/UiProjectTemplateNavigation.vue';
import UiProjectList from '@/components/project/UiProjectList.vue';

@Component({
  components: {
    UiProjectTemplateNavigation,
    UiProjectList
  }
})

/**
 * Main Template page to display a list of the Reference Projects published by the customer
 * to be used as a Template to create another Project
 */
export default class PageReferences extends Vue {
}
</script>