<template>
  <div class="page">
    <h2>Benutzerkonten Verwaltung</h2>
    <UiUserNavigation />
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import UiUserNavigation from '@/components/user/UiUserNavigation.vue';

@Component({
  components: {
    UiUserNavigation
  }
})
/**
 * Main Users page to display a list of Users to 
 * be managed for the application
 */
export default class PageUsers extends Vue {
}
</script>
