<template>
  <div class="page">
        <div id="login-form" v-if="!$store.getters.isLoggedIn">
            <img src="~@/assets/logo.png" class="main-logo" alt="" />
            <div class="login-panel">
                <h2>Login</h2>
                <form @keyup.enter="login">
                    <input type="email" placeholder="Anmeldename" v-model="email" />
                    <input type="password" placeholder="Kennwort" v-model="password" />
                    <div class="details-button interactive" @click="login">LOGIN</div>
                </form>
                <div v-if="!forgottenPassword">
                    <p>
                        Sie haben noch keine Zugangsdaten?<br />
                        Bitte registrieren Sie sich
                        <router-link :to="{ name: 'user-registration' }">hier</router-link>.
                    </p>
                </div>
                <div>
                    <p>{{ status }}</p>
                    <hr v-if="forgottenPassword" />
                    <p class="interactive" v-if="forgottenPassword" @click="requestReset">Kennwort vergessen?</p>
                </div>
                <div v-if="resetRequested">
                    <p>Bitte geben Sie Ihre E-Mail-Adresse ein, um einen Link zum Zurücksetzen Ihres Kennworts zu erhalten.</p>
                    <input type="email" placeholder="E-mail addresse" v-model="emailReset" />
                    <div class="details-button interactive" @click="confirmResetRequest">Reset</div>
                    <div class="details-button-outline mt-1 interactive" @click="cancelRequest">Cancel</div>
                </div>
            </div>
        </div>
  </div>
</template>

<style scoped lang="less">
    #login-form {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        text-align: center;

        .login-panel {
            background-color: @default-panel-background-color;
            padding: 18px 32px;
            .strong-shadow();
        }

        .main-logo {
            margin-bottom: 48px;
            width: 120px;
        }
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { AuthApi } from '@/services/auth.api';
import { AppStates } from '@/utils/AppStates';
import { UserApi } from '@/services/user.api';


@Component({})
/**
 * Login page
 */
export default class PageLogin extends Vue {
    email : string = "";
    password : string = "";
    message : string = "";
    status : string = "";
    token : string = "";
    forgottenPassword : boolean = false;
    resetRequested : boolean = false;
    emailReset : string = "";
    baseURL : string = "";

    mounted() {
        this.$store.dispatch('setcurrentAppState' , AppStates.LOGIN );
        if(this.$attrs.tokenId != undefined) {
            this.activateAccount();
        }
    }

    login() {
        if(this.email != '' && this.password !='') {
            this.status = '';
            this.message = '';
            const api = new AuthApi();
            const payload = {email: this.email, password: this.password};
            //console.log("Login send", payload);
            api.login(payload)
            .then(res => {
                this.$store.dispatch('login' , {token: res.token, user: res.usr } ).then(() => {
                        //console.log("User fetched", this.$store.getters.userId);
                        //push to the last visited page if defined or back to the homepage
                        this.$router
                        .push(this.$route.query.redirect? this.$route.query.redirect.toString() : '/')
                        .catch(err => {
                            this.$log.error('[Navigation Error] :' + err);
                        });
                    }
                )
            })
            .catch(err => {
                this.status = 'Einloggen fehlgeschlagen. Bitte versuchen Sie es erneut.';
                this.forgottenPassword = true;
                this.$log.error("Login failed", err.response.data);
            });
        }
    }

    requestReset() {
        this.resetRequested = true;
        this.emailReset = this.email;
        this.baseURL = window.location.origin + '/password-reset/';
    }

    cancelRequest() {
        this.resetRequested = false;
        this.forgottenPassword = false;
        this.status = '';
        this.password = '';
    }

    confirmResetRequest() {
        const body = {email: this.emailReset, url: this.baseURL};
        //console.log("reset confirmed", body );
        const api = new AuthApi();
        api.passwordResetRequest(body)
        .then( res => {

            this.$toast.success(
            'Es wurde eine Mail an Ihre E-Mail Adresse '+this.emailReset+' versendet, mit welchem Sie Ihr Kennwort neu setzen können.');

            this.$router
            .push({name: 'login'})
            .catch(err => {
                this.$log.error('[Navigation Error] :' + err);
            });

        });
    }
    
    activateAccount() {
        if(this.$attrs.tokenId != undefined && this.$attrs.tokenId != '') {
            const api = new AuthApi();
            api.activateUser(this.$attrs.tokenId)
            .then(res => {
                this.$toast.success(
                'Ihre E-Mail Adresse wurde verifiziert und Ihr Account wurde erfolgreich aktiviert.');
                this.message = 'Ihre E-Mail Adresse wurde verifiziert und Ihr Account wurde erfolgreich aktiviert. Bitte anmelden.';
            });
        }
    }
}
</script>
