<template>
  <div class="page">
      <div class="sub-page">
        <h2>Impressum</h2>

        <section>
        <p>Die GEOL_BIM WebApp ist eine bereitgestellte Dienstleistung.</p>
        <p>Vom Benutzer angelegte Transformations-Jobs werden nach 30 Tagen ausstehender Benutzung vom System 
            automatisch archiviert. Das bedeutet, dass alle Eingabe Daten und auch die Resultat-IFC-Datei 
            unwiderruflich gelöscht werden.</p>
        </section>

        <section>
            <h3>Support / Service Desk</h3>
            <p>
                Sie haben fachtechnische Fragen oder benötigen Hilfe bei der Verwendung der GEOL_BIM WebApp?<br />
                Wir unterstützen Sie kompetent, zielgerichtet und speditiv.<br />
                Unser Support / Service Desk steht Ihnen für Ihre Anliegen gerne telefonisch oder per E-Mail zur Verfügung.
            </p>
            <p>
                E-Mail: <a href="mailto:support@whatever.ch">support@whatever.ch</a><br />
                Telefon: <a href="tel:+41443332233">+41 44 333 22 33</a>
            </p>
            <h4>Supportzeiten</h4>
            <p>
                Montag bis Donnerstag<br />
                08:00 - 12:00 / 13:30 - 17:00<br />
                Freitag und vor Feiertagen<br />
                08:00 - 12:00 / 13:00 - 16:00 <br />
            </p>
        </section>

        <section>
            <h3>Idee &amp; Umsetzung</h3>
            <p>
                Konzeption und Entwicklung der GEOL_BIM WebApp durch die Fachhochschule Nordwestschweiz FHNW (Institut Digitales Bauen).
            </p>
            <p>
                <img src="@/assets/fachhochschule-nordwestschweiz-fhnw-logo.svg" class="logo" />
            </p>
            <p>copyright 2020-2021 FHNW</p>
            <h4>Versionen</h4>
            <p>backend / API: <strong>{{api_version}}</strong></p>
            <p>frontend: <strong>{{frontend_version}}</strong></p>
        </section>

        <section>
            <h3>Release-Notes</h3>
            <h4>Release 0.0.1 <em>(11.11.2021)</em></h4>
            <h5>Titel</h5>
            <ul>
                <li>
                    Feature eins<sup>*</sup>.
                </li>
                <li>
                    Feature zwei<sup>**</sup>.
                </li>
            </ul>
            <p>
                <em><sup>*</sup> Anmerkung eins.</em>
            </p>
            <p>
                <em><sup>**</sup> Anmerkung zwei.</em>
            </p>

            <h3>Frühere Release</h3>

            <UiAccordion>
                <template v-slot:header>
                    <h4>Release 0.0.1 <em>(11.11.2021)</em></h4>
                </template>
                <template v-slot:body>
                    <h5>Titel</h5>
                    <p>
                        Langer Text.
                    </p>
                </template>>
            </UiAccordion>

        </section>
      </div>
  </div>
</template>

<style scoped lang="less">
    section {
        //margin-top: 16px;
        //padding-top: 8px;
        //border-top: 1px solid @dark-grey;
        background-color: @default-panel-background-color;
        padding: 16px 16px;
        margin-bottom: 16px;

        h3:first-of-type {
            margin-top: 0px;
        }
    }

    img.logo {
        margin-left: 24px;
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import UiAccordion from '@/components/general/UiAccordion.vue';

@Component({
  components: {
      UiAccordion
  }
})
/**
 * Impressum page to display legal text, support and other information
 */
export default class PageImpressum extends Vue {

    get api_version() {
        return process.env.VUE_APP_API_VERSION;
    }

    get frontend_version() {
        return process.env.VUE_APP_FRONTEND_VERSION;
    }
}
</script>
