<template>
    <div class="page">
        <div id="login-form" v-if="!$store.getters.isLoggedIn">
            <img src="~@/assets/logo.png" class="main-logo" alt="" />
            <div class="login-panel">
                <h2>Passwort zurücksetzen</h2>
                <form>
                    <input type="password" placeholder="Kennwort" v-model="password" />
                    <input type="password" placeholder="Kennwort bestätigen" v-model="confirmPassword" />
                    <div class="details-button interactive" @click="resetPassword">Kennwort zurücksetzen</div>
                </form>
                <div>
                    <p>{{ message }}</p>
                    <p v-if="resetConfirmed"><router-link :to="{ name: 'login' }">Fahren Sie mit der Anmeldung fort.</router-link></p>
                    <p class="details-button-outline interactive" @click="backToLogin" v-else>Zurück zur Anmeldung</p>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="less">
    #login-form {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        text-align: center;

        .login-panel {
            background-color: @default-panel-background-color;
            padding: 18px 32px;
            .strong-shadow();
        }

        .main-logo {
            margin-bottom: 48px;
            width: 120px;
        }
    }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { AuthApi } from '@/services/auth.api';


@Component({})
/**
 * Login page
 */
export default class PagePasswordReset extends Vue {
    password : string = "";
    confirmPassword : string = "";
    message : string = "";
    resetConfirmed : boolean = false;

    resetPassword() {
        if(this.password != '' && this.confirmPassword != '') {
            if(this.password == this.confirmPassword) {
                const api = new AuthApi();
                api.resetPassword(this.$attrs.tokenId, this.password).
                then(res => {
                    this.message = "Kennwort zurückgesetzt erfolgreich.";
                    this.password = "";
                    this.confirmPassword = "";
                    this.$toast.success(
                    'Kennwort zurückgesetzt erfolgreich.');
                    this.resetConfirmed = true;
                })
            }
            else {
                this.message = "Die Passwörter stimmen nicht überein."
            }
        }
        else {
            this.message = "Bitte geben Sie Ihr neues Kennwort zweimal ein."
        }
    }

    backToLogin() {
        this.$router.push({name: 'login'})
        .catch(err => {
            this.$log.error('[Navigation Error] :' + err);
        });
    }
}
</script>
