<template>
  <div class="page">
    <h2>Job-Vorlagen</h2>
    <UiProjectTemplateNavigation context='template' />
    <h3>Referenz-Jobs</h3>
    <p><em>Jobs, die als Vorlagen definiert wurden.</em></p>
    <UiProjectList type="reference" context='template-list' />
    <h3>Community-Jobs</h3>
    <p><em>Jobs, die von anderen Organisationen stammen und auf die Sie Zugriff haben (Verwalten/Lesen/Schreiben).</em></p>
    <UiProjectList type="template" context='template-list' />
    <h3>Meine Transformations-Jobs</h3>
    <p><em>Jobs aus Ihrer Organisation, auf die Sie Zugriff haben.</em></p>
    <UiProjectList type="organisation" context='template-list' />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import UiProjectTemplateNavigation from '@/components/project/UiProjectTemplateNavigation.vue';
import UiProjectList from '@/components/project/UiProjectList.vue';

@Component({
  components: {
    UiProjectTemplateNavigation,
    UiProjectList
  }
})

/**
 * Main Template page to display a list of Projects to 
 * use as a Template to create another Project
 */
export default class PageTemplates extends Vue {
}
</script>