<template>
  <div id="app">
        <div id="loadingPanel" v-if="loading">
        </div>
        <UiMessageToaster />
        <UiMainNavigation v-if="isLoggedIn && !maintenanceMode" />

        <router-view/>
        <div id="support-info">
            <p class='partner-logos'>
                <img src="~@/assets/logo-swisstopo.png" height="42" class="partner-logo" alt="" />
                <img src="~@/assets/logo-chgeol.png" height="42" class="partner-logo" alt="" />
                <img src="~@/assets/logo-fhnw.png" height="42" class="partner-logo" alt="" />
            </p>
            <p>
                Eine Entwicklung aus dem von Innosuisse geförderten Innovationsprojekt GEOL_BIM (Innosuisse Projekt 40458.1 IP-ENG)
            </p>
            <p>
                Sie haben fachtechnische Fragen oder benötigen Hilfe bei der Verwendung der GEOL_BIM WebApp?<br />
                Wir steht Ihnen für Ihre Anliegen gerne per E-Mail zur Verfügung.
            </p>
            <p>
                E-Mail: <a href="mailto:support@whatever.ch">support@whatever.ch</a><br />
            </p>
        </div>
        <footer>
            <p>frontend version {{frontend_version}} - backend version {{api_version}}</p>
        </footer>

        <UiDevAPISwitcher />
  </div>
</template>

<style lang="less">
    body {
        font-family: 'Inter', Helvetica, Arial, sans-serif;
        margin: 0px;
        background-color: @default-background-color;
    }

    hr {
        border-top: 1px solid @highlight-border-color;
    }

    a {
        color: @default-text-color;
        text-decoration: none;
    }

    footer {
        font-size: 14px;
        color: @dark-grey;
        text-align: center;
        padding-bottom: 32px;
    }

    #app {
        display: flex;
        flex-direction: column;
        font-family: 'Inter', Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-variation-settings: 'wght' 350;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: @default-text-color;
        background-color: @default-background-color;
        line-height: 1.2em;
        font-size: 0.95rem;
        .normal-text();
        position: relative;
    }

    #loadingPanel {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: @default-background-color;
    }

    @supports (font-variation-settings: normal) {
        #app {
            font-family: "InterVariable";
            font-variation-settings: "wght" 350;
        }
    }

    @supports (font-variation-settings: bold) {
        #app {
            font-family: "InterVariable";
            font-variation-settings: "wght" 500;
        }
    }

    #support-info {
        width: 50%;
        font-size: 0.8rem;
        align-self: center;
        margin-top: 96px;
        text-align: center;
    }

    .router-link-exact-active, .router-link-active {
        //.bold-text();
        text-decoration: underline;
    }

    .conception, .konzeption {
        background-color: @conception-color;
        text-transform: uppercase;
        font-size: 12px;
        .bold-text();
    }

    .planning, .planung {
        background-color: @planning-color;
        text-transform: uppercase;
        font-size: 12px;
        .bold-text();
    }

    .realisation, .realisierung {
        background-color: @realisation-color;
        text-transform: uppercase;
        font-size: 12px;
        .bold-text();
    }

    .maintenance, .bewirtschaftung {
        background-color: @maintenance-color;
        text-transform: uppercase;
        font-size: 12px;
        .bold-text();
    }


    .app-icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        vertical-align: bottom;
    }

    .icon-loading {
        .rotating();
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-bottom: 3px;
        margin-left: 12px;
    }

    .icon-loading-squares {
        width: 38px;
        height: 38px;
        vertical-align: bottom;
        margin-left: 16px;
    }

    .flex-row {
        display: flex;
        flex-flow: row;
    } 

    .flex-column {
        display: flex;
        flex-flow: column;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .align-center {
        align-items: center;
    } 
    
    .align-end {
        align-items: flex-end;
    } 

    .justify-between {
        justify-content: space-between;
    }

    .justify-center {
        justify-content: center;
    }
    
    .justify-end {
        justify-content: flex-end;
    } 

    .self-start {
        align-self: flex-start;
    }

    .self-end {
        align-self: flex-end;
    }

    .ml-auto {
        margin-left: auto;
    }

    .mr-auto {
        margin-right: auto;
    }

    .text-left {
         text-align: left;
    }

    .text-center {
         text-align: center;
    }

    .text-right {
         text-align: right;
    }

    .no-padding {
        padding: 0px;
    }

    .full-width {
        width: 100%;
    }

    .strong {
        .bold-text();
    }

    strong {
        .bold-text();
    }

    .underlined {
        text-decoration: underline;
    }

    .page {
        background-color: @default-background-color;
        padding: 32px 74px;
    }

    .sub-page {
        position: relative;

        h3 {
            line-height: 36px;
            margin-top: 32px;
            margin-bottom: 16px;
        }
    }

    .mt-spacer {
        margin-top: 0.5em;
    }

    .mt-0 {
        margin-top: 0px;
    }

    .mt-1 {
        margin-top: 1em;
    }

    .mt-2 {
        margin-top: 2em;
    }

    .mt-3 {
        margin-top: 3em;
    }

    .mb-0 {
        margin-bottom: 0px;
    }

    .mb-1 {
        margin-bottom: 1em;
    }

    .mb-2 {
        margin-bottom: 2em;
    }

    .mb-3 {
        margin-bottom: 3em;
    }

    /*.text-search-field {
        position: relative;
        line-height: 24px;
        border-radius: 8px;

        &:before {
        content:"";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 16px;
        height: 16px;
        background-image: url('~@/assets/icon-magnifier.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        }
    }*/

    h1, h2, h3, h4, h5, h6 {
        color: @default-text-color;
        //.bold-text();
    }

    h1 {
        .h1();
    }

    h2 {
        .h2();
    }

    h3 {
        .h3();
    }

    h4 {
        .h4();
    }

    h5 {
        .h5();
    }

    h6 {
        .h6();
    }

    .break-word {
        .break-word();
    }

    img {
        pointer-events: none;

        &.interactive {
        pointer-events: all;
        }
    }

    .em {
        font-style: italic;
    }

    .sm-text {
        font-size: 0.8em;
    }

    .float-right {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
    }

    .interactive-noselect {
        cursor: pointer;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    }

    .interactive {
        cursor: pointer;
    }

    .details-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4px 18px;
        /*width: 92px;*/
        height: 34px;
        font-size: 14px;
        background-color: @default-button-background-color;
        color: @default-button-color;
        text-align: center;
        /*.bold-text();*/
        cursor: pointer;
        transition: all 300ms;
        align-self: flex-end;
        text-decoration: none;

        &:hover {
            box-shadow: 0px 4px 7px 0px rgba(4,39,63,0.4);
            background-color: @hover-button-background-color;
        }

        &.disabled {
            background-color: @medium-grey-background-color;
            cursor: initial;
            color: @light-grey;

            &:hover {
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
            }
        }

        &.primary {
            color: @accent-text-color; /* @default-text-color */
            background-color: @accent-background-color;
        }
    }

    .add-op-button {
        position: relative;
        color: #FFFFFF;
        background-color: #C3C3C3;
        height: 18px;
        border: 12px solid #C3C3C3;
        margin-left: 33px;
        padding-top: 2px;
        padding-left: 5px;
    }
    .add-op-button:before {
        position: absolute;
        display: block;
        left: -44px;
        top: -12px;
        content: "+";
        font-size: 34px;
        background-color: #C3C3C3;
        border: 12px solid #C3C3C3;
        height: 20px;
    } 

    .details-button-outline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4px 18px;
        /*width: 92px;*/
        height: 34px;
        font-size: 12px;
        border: 1px solid @default-text-color;
        color: @default-text-color;
        text-align: center;
        .bold-text();
        cursor: pointer;
        transition: all 300ms;
        align-self: flex-end;
        text-decoration: none;
        /*margin-right: 32px;*/

        &:hover {
            box-shadow: 0px 4px 7px 0px rgba(4,39,63,0.4);
        }
    }

    .warning-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 17px;
        padding: 4px;
        font-size: 12px;
        border: 1px solid @red-warning-color;
        color: @red-warning-color;
        text-align: center;
        .bold-text();
        cursor: pointer;
        transition: all 300ms;
        align-self: flex-end;
        text-decoration: none;
        margin: auto;
        //margin-top: 32px;

        &:hover {
            padding: 4px 20px;
            box-shadow: 0px 4px 7px 0px rgba(4,39,63,0.4);
        }
    }

    .cross-sign {
    display: inline-block;
    //border: 1px solid @red-warning-color;
    color: @red-warning-color;
    border-radius: 50%;
    width: 16px;
    //margin-right: 8px;
    }

    .warning {
    color: @red-warning-color;
    text-align: center;
    }

    input {
        width: 100%;
    }

    input {
        line-height: 32px;
        margin-bottom: 8px;
        font-size: 14px;
        color: @default-text-color;
        background-color: @medium-grey-background-color;
        border: none;
        padding: 0px 8px;
        box-sizing: border-box;
        vertical-align: middle;

        &.inline {
            line-height: initial;
            margin-bottom: initial;
            background-color: transparent;
            padding: 0px;
        }

        &[type=radio] {
            width: auto;
        }

        &[type=text] {
            outline: none !important;
            background-color: @white;
            padding: 0px 8px;
            border: 1px solid @darkest-grey;
            box-sizing: border-box;
            box-shadow: 0 0 2px transparent;
        
            &:focus {
                height: 34px;
                padding: 0px 7px;
                border: 2px solid @darkest-grey;
                box-sizing: border-box;
                box-shadow: 0 0 2px @medium-grey-background-color;
                //transition: all 500ms;
                //border-radius: 4px;

                &.updated {
                    border-color: rgb(0, 129, 6);
                    box-shadow: 0 0 2px rgb(0, 129, 6);
                    transition: all 100ms;
                }
            }
        }

        &.search {
            height: 50px;
            background-image: url('~@/assets/icon-magnifier.svg');
            background-repeat: no-repeat;
            background-size: 24px;
            background-position: 96% 50%;
            padding: 6px 24px;
            box-sizing: border-box;

            &:focus {
                height: 50px;
                padding: 6px 48px;
            }

            &.clear {
                background-image: url('~@/assets/icon-clear.svg');
            }
        }

        &.toolbar {
            border-radius: 8px;
            line-height: 24px;
            line-height: 36px;
            background-size: 16px;
            background-position: 17px 50%;
            padding: 0px 4px 0px 28px;

            &:focus {
                background-position-x: 16px;
            }
        }
    }
    
    .plus-sign-button {
        border: 1px solid black;
        line-height: 12px;
        font-size: 16px;
        //padding: 0px 2px 2px;
        padding: 2px 3px 4px;
        display: inline-block;
        margin-right: 4px;
    }

    textarea { 
        font-family: 'Inter', Helvetica, Arial, sans-serif;
        padding: 8px;
        width: 100%;
        height: 100%;
        font-size: 12px;
        color: @highlight-border-color;
        box-sizing: border-box;
        border:1px solid @darkest-grey;
        background-color: @white;
        resize: none;

        &.inline {
            padding: 0px;
            background-color: transparent;
            font-size: inherit;
            color: inherit;
            /*outline: none !important;
            border:3px solid transparent;
            border-radius: 4px;
            box-sizing: border-box;
            box-shadow: 0 0 2px transparent;*/
        }

        &:focus {
            padding: 7px;
            position: relative;
            outline: none !important;
            border:2px solid @darkest-grey;
            /*border-radius: 4px;
            box-sizing: border-box;
            box-shadow: inset 0 0 2px @medium-grey-background-color;*/
            //transition: all 500ms;

            &:before {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                z-index: 1;
                border:3px solid rgba(0,0,0,0);
                //border-radius: 4px;
                box-shadow: inset 0 0 2px @medium-grey-background-color;
            }

            &.updated {
                border-color: rgb(0, 129, 6);
                box-shadow: 0 0 2px rgb(0, 129, 6);
                transition: all 100ms;
            }
        }
    }

    select {
        display: block;
        font-size: 12px;
        font-family: sans-serif;
        .bold-text();
        color: #444;
        line-height: 2;
        padding: 0.3em 1.8em 0.3em 0.4em;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0px 6px 8px 0px;
        border: 1px solid #aaa;
        /*box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);*/
        /*border-radius: 0.5em;*/
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #fff 0%, #ecebeb 100%);
        background-repeat: no-repeat, repeat;
        background-position: right 0.7em top 50%, 0 0;
        background-size: 0.65em auto, 100%;
        /*text-align: right;*/
    }

    select::-ms-expand {
        display: none;
    }

    select:hover {
        border-color: #888;
    }

    select:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
    }

    select option {
        font-weight:normal;
        text-align: right;
    }

    input[type=checkbox] {
        -moz-appearance:none;
        -webkit-appearance:none;
        -o-appearance:none;
        position: relative;
        outline: 1px solid @default-text-color;
        width: 24px;
        height: 24px;
        padding: 0px;
        cursor: pointer;
        background-color: transparent;
        margin-right: 20px;

        &.checked, &:checked {
            background-color: @black;

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 16px;
                border-bottom: 1px solid @white;
                border-right: 1px solid @white;
                transform: translate(-50%,-60%) rotate(35deg);
            }
        }
    }

    label {
        cursor: pointer;
    }

    .panel {
        margin-top: 32px;
    }

    .warning {
        color: #FF0000;
        .bold-text();
    }

    .collapse-arrow {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-top: 1px solid black;
        border-right: 1px solid black;
        transform: rotate(-45deg);
        margin-bottom: 2px;
        transition: transform 400ms;

        &.open {
            transform: rotate(135deg);
        }
    }

    .tooltip-small {
        font-size: 12px;
    }

    .partner-logos {
        display: flex;
        justify-content: center;
    }

    .partner-logos > img {
        margin-left: 50px;
    }
</style>

<script lang="ts">
import "@fontsource/inter/300.css"; // Weight 300.
import "@fontsource/inter/500.css"; // Weight 500.
import "@fontsource/inter/variable-full.css";
import { Component, Vue } from 'vue-property-decorator';
import UiMainNavigation from '@/components/general/UiMainNavigation.vue';
import UiDevAPISwitcher from '@/components/general/UiDevAPISwitcher.vue';
import UiMessageToaster from '@/components/general/UiMessageToaster.vue';
import { StatusRetriever } from '@/utils/StatusRetriever';
import { PermissionsRefresher } from '@/utils/PermissionsRefresher';

@Component({
  components : {
    UiMainNavigation,
    UiDevAPISwitcher,
    UiMessageToaster
  }
})
/**
 * Main app component
 */
export default class App extends Vue {
    modalActivated : boolean = false;
    Yposition : number = 0;
    loading : boolean = true;

    preChecks() {
        const localUser = localStorage.getItem('user');
        if (localUser == null) {
            //this.$router.onReady(() => {
                //console.log("router beforeEach - not logged in", this.$route.meta.notAuthRequired);
                //if(!this.$route.meta.notAuthRequired || this.$route.meta.notAuthRequired == undefined) {
                if(!this.$route.matched.some(record => record.meta.notAuthRequired)) {
                    console.log("Authentication required", this.$route);
                    this.loading = false;
                    this.$router.push({
                        name: 'login'
                    }).catch(() => {});
                }
            //})
        } else {
            //if the user is logged in, we call a special util class PermissionsRefresher that is independent 
            //of HttpClient (hence independent from the router itself to avoid circular reference)
            //to get the latest permissions and update the Vuex store with them
            const user = JSON.parse(localUser);
            const api = new PermissionsRefresher();
            api.fetchUserPermissions(user.usr_id)
            .then(res => {
                //console.log("permissions refresher response", res);
                this.$store.dispatch('setUserPermissions', res);
            })
            .catch(error => {
                if (401 === error.response.status) {
                    //console.log('catch error', error.response.data.internal_code);
                    if( (error.response.data.internal_code == 'AUTH' 
                        || error.response.data.internal_code == 'AUTH_NO_TOK' 
                        || error.response.data.internal_code == 'AUTH_EXP_TOK' 
                        || error.response.data.internal_code == 'AUTH_BE_TOK' 
                        || error.response.data.internal_code == 'AUTH_INV_TOK')
                        ) {
                            //console.log('_handleError', error.toJSON());
                            Vue.$toast.error(error.response.data.message);
                            const redirectPath = this.$router.currentRoute.fullPath;
                            this.$store.dispatch('logoutWithError', redirectPath);
                            this.$router.push({
                                name: 'login',
                                query: { redirect: this.$store.getters.loginRedirect } 
                            })
                            .catch(err => {
                                this.$log.error('[Navigation Error] :' + err);
                            });
                    }
                }
            });
        }

        const api = new StatusRetriever();
        api.fetchStatus()
        .then(res => {
            if(res.api_version != process.env.VUE_APP_API_VERSION && this.$route.name != 'maintenance') {
                this.$store.dispatch('setMaintenanceMode', true);
                if(this.$route.name != 'maintenance') {
                    this.$router.push({
                        name: 'maintenance'
                    }).catch(() => {});
                }
            }
        })
        .catch(error => {
            if (503 === error.response.status || 404 === error.response.status) {
                this.$store.dispatch('setMaintenanceMode', true);
                if(this.$route.name != 'maintenance') {
                    this.$router.push({
                        name: 'maintenance'
                    }).catch(() => {});
                }
            }
        });
        this.loading = false;
    }

    mounted() {
        this.$router.onReady(() => {
            this.preChecks();
        })

        this.$root.$on('globalModal', (event : {modalActive: boolean}) => {
            if(event.modalActive == true) {
                // When the modal is shown, we want a fixed body
                this.Yposition = window.scrollY;
                document.body.style.position = 'fixed';
                //document.body.style.width = 'calc(100vw - 16px)';
                //on new browsers the scrollbar doesn't take horizontal space anymore
                document.body.style.width = 'calc(100vw)';
                document.body.style.top = `-${this.Yposition}px`;
            }
            else {
                // When the modal is hidden...
                const scrollY = document.body.style.top;
                //console.log('else',scrollY);
                document.body.style.position = '';
                document.body.style.width = 'auto';
                document.body.style.top = '';
                //window.scrollTo(0, parseInt(scrollY || '0') * -1);
                window.scrollTo(0, this.Yposition);
            }
        });
    }

    get isLoggedIn() {
        return this.$store.getters.isLoggedIn;
    }

    get frontend_version() {
        return process.env.VUE_APP_FRONTEND_VERSION;
    }

    get api_version() {
        return process.env.VUE_APP_API_VERSION;
    }
    
    get maintenanceMode() : boolean {
        return this.$store.getters.maintenanceModeActive;
    }
}
</script>